.select {
    &-wrapper {
        display: inline-block;
        width: auto;
        position: relative;
        &--sm {
            .select-trigger {
                width: 15.6rem;
            }
        }
        &--lg {
            .select-body {
                width: 24rem;
                border-radius: 0 3px 3px 3px;
            }
        }
        &--xl {
            .select-trigger {
                width: 30.3rem;
            }
        }
        &--xs {
            .select-trigger {
                width: 9.1rem;
            }
        }
        &--managers {
            .select-trigger__name {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 4px;
                position: relative;
                &:after {
                    content: '';
                    text-align: right;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 2.4rem;
                    height: 100%;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 62%);
                }
            }
        }
        &.is-active {
            .select-trigger {
                border-radius: 3px 3px 0 0;
            }
            .select-trigger__icon {
                .icon-chevron {
                    transform: rotate(180deg);
                }
            }
            .select-body {
                display: block;
            }
        }
    }
    &-trigger {
        width: 20rem;
        height: 3.6rem;
        background-color: $white;
        border-radius: 3px;
        border: 1px solid $silver;
        display: flex;
        cursor: pointer;
        &:hover {
            .select-trigger__icon {
                &:after {
                    border-color: #898989;
                }
                .icon-chevron {
                    color: $dark;
                }
            }
        }
        &__manager {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            margin-right: 5px;
        }
        &__name {
            display: block;
            text-align: left;
            width: calc(100% - 3.6rem);
            height: 100%;
            font-size: 1.2rem;
            line-height: 2.9em;
            padding: 0 1.2rem;
            font-weight: 500;
            color: $darken;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            b {
                coloR: $darken;
                font-weight: 500;
            }
            i {
                font-style: normal;
                color: #959595 !important;
                margin-left: 5px;
            }
            &__icon {
                width: 2.2rem;
                height: 2.2rem;
                border-radius: 50%;
                background-color: $white;
                border: 1px solid #C4C4C4;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
                margin-right: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                flex-shrink: 0;
                &:after {
                    content: '';
                    display: block;
                    width: 1.7rem;
                    height: 1.7rem;
                    z-index: 1;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border: 1px solid #C4C4C4;
                    transform: translate(-50%,-50%);
                    border-radius: 50%;
                }
                .icon {
                    position: relative;
                    z-index: 2;
                    font-size: 1.2rem;
                }
            }
        }
        &__icon {
            width: 3.6rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FAFAFA;
            border-radius: 0 3px 3px 0;
            position: relative;
            &:after {
                content: '';
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                position: absolute;
                left: 50%;
                top: 50%;
                border-radius: 0 3px 3px 0;
                transform: translate(-50%, -50%);
                border-left: 1px solid #A4A4A4;
                background-color: transparent;
            }
            .icon-chevron {
                font-size: 8px;
                color: #606060;
                transform: none;
                transition: transform .3s ease, color .3s ease;
            }
        }
    }
    &-body {
        width: 100%;
        border-radius: 0 0 3px 3px;
        background-color: $white;
        border: 1px solid $silver;
        margin-top: -1px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        display: none;
        position: absolute;
        left: 0;
        top: 3.6rem;
        z-index: 15;
        .form-control {
            &-wrap {
                width: 100%;
                padding: 9px 7px;
            }
            &-search {
                & + .form-control-icon {
                    right: 1.9rem;
                }
            }
        }
    }
    &-inner {
        padding: 5px 0;
        max-height: 20.6rem;
        overflow: hidden;
        overflow-y: auto;
    } 
    &-option {
        font-weight: 500;
        padding: 3px 1.2rem;
        font-size: 1.2rem;
        line-height: 1.5em;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: rgba(#1B1B1B, 0.6);
        transition: color .3s ease;
        &:hover {
            color: #1B1B1B;
        }
        &.is-selected {
            color: #1B1B1B;
        }
        .form-control-checkbox {
            width: 100%;
            &__box {
                margin-right: 1.1rem;
            }
            input {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: -9999em;
                left: -9999em;
                width: 0;
                height: 0;
                &:checked {
                    & + .form-control-checkbox__box {
                        .icon-check {
                            opacity: 1;
                            visibility: visible;
                        }
                        & + .select-option__name {
                            color: #1B1B1B;
                        }
                    }
                }
            }
        }
        &__name {
            display: block;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            b {
                coloR: $darken;
                font-weight: 500;
            }
            i {
                font-style: normal;
                color: #959595 !important;
                margin-left: 5px;
            }
        }
        &__icon {
            margin-right: 1rem;
            display: flex;
            align-items: center;
            .icon-star {
                color: $yellow;
                font-size: 1.1rem;
                margin-bottom: 1px;
                margin-right: 5px;
            }
        }
        &__image {
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 50%;
            position: relative;
            border: 1px solid #A6A6A6;
            border-radius: 50%;
            flex-shrink: 0;
            margin-right: 7px;
            &:before {
                content: '';
                display: block;
                width: calc(100% - 1px);
                height: calc(100% - 1px);
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                border: 1px solid $white;
                background-color: transparent;
                z-index: 1;
            }
        }
    }
}