.edit-popup {
    background: $white;
    border: 1px solid #E3E3E3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 1.5rem;
    position: relative;
    &--territory {
        width: 100%;
        max-width: 40.2rem;
        @media (max-width: $sw-xx-max) {
            width: 29rem;
            max-width: none;
        }
        .edit-popup__inner {
            display: flex;
            align-items: flex-end;
        }
        .edit-popup__submit {
            margin-left: 1.4rem;
            flex-shrink: 0;
            margin-bottom: 1px;
            min-width: auto;
            width: 9rem;
        }
        .form-control-group {
            width: 100%;
        }
    }
    &--location {
        width: 100%;
        max-width: 44rem;
        padding: 1.5rem 1.5rem 0 1.5rem;
        @media (max-width: $sw-xx-max) {
            max-width: none;
            width: 29rem;
        }
        .edit-popup__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .edit-popup__side {
            width: calc(50% - 1rem);
            margin-bottom: 1.7rem;
            display: flex;
            align-items: center;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.5rem;
                width: 100%;
            }
        }
        .edit-popup__submit {
            margin-left: auto;
            min-width: auto;
            width: 9rem;
            display: flex;
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
        }
        .select {
            &-wrapper, &-trigger {
                width: 100%;
            }
        }
        .form-control-group {
            width: 100%;
        }
    }
    &--area, &--copy {
        width: 100%;
        max-width: 44rem;
        @media (max-width: $sw-xx-max) {
            max-width: none;
            width: 29rem;
        }
        .edit-popup__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .edit-popup__side {
            width: calc(50% - 1rem);
            margin-bottom: 1.7rem;
            display: flex;
            align-items: center;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.5rem;
                width: 100%;
            }
        }
        .form-control-group {
            width: 100%;
        }
        .select {
            &-wrapper, &-trigger {
                width: 100%;
            }
        }
        .edit-popup__submit {
            margin-left: auto;
            min-width: auto;
            width: 9rem;
            display: flex;
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
        }
    }
    &--airstrip {
        width: 100%;
        max-width: 45.2rem;
        padding: 1.5rem 1.5rem 0 1.5rem;
        @media (max-width: $sw-xx-max) {
            width: 29rem;
            max-width: none;
        }
        .edit-popup__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .edit-popup__side {
            width: calc(50% - 1rem);
            margin-bottom: 1.7rem;
            display: flex;
            align-items: center;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.5rem;
                width: 100%;
            }
        }
        .edit-popup__submit {
            margin-left: auto;
            min-width: auto;
            width: 9rem;
            display: flex;
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
        }
        .select {
            &-wrapper, &-trigger {
                width: 100%;
            }
        }
        .form-control-group {
            width: 100%;
        }
    }
    &--transfer {
        width: 100%;
        max-width: 46.1rem;
        padding: 1.5rem 1.5rem 0 1.5rem;
        @media (max-width: $sw-xx-max) {
            width: 29rem;
            max-width: none;
        }
        .edit-popup__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .edit-popup__side {
            width: 50%;
            margin-bottom: 1.7rem;
            display: flex;
            align-items: center;
            @media (max-width: $sw-xx-max) {
                width: 100%;
                margin-bottom: 1.5rem;
            }
        }
        .edit-popup__side-group {
            display: flex;
            align-items: flex-end;
            width: 100%;
            margin-bottom: 1.7rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 0;
                flex-wrap: wrap;
            }
            .edit-popup__side {
                margin-bottom: 0;
                width: calc(50% - 1.7rem);
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    margin-bottom: 1.5rem;
                }
            }
        }
        .edit-popup__submit {
            margin-left: auto;
            min-width: auto;
            width: 9rem;
            display: flex;
            align-self: flex-end;
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
        }
        .select {
            &-wrapper, &-trigger {
                width: 100%;
            }
        }
        .form-control-group-divider {
            width: 3.4rem;
            height: 3.6rem;
            @media (max-width: $sw-xx-max) {
                display: none;
            }
        }
        .form-control-group {
            width: 100%;
        }
        .form-control-group--double {
            .select {
                &-wrapper {
                    width: 9.1rem;
                } 
                &-trigger {
                    width: 100%;
                }
            }
            .form-control-wrap {
                width: 9.6rem;
            }
        }
    }
    &--short {
        width: 12.7rem;
        border-color: #BCBCBC;
        border-radius: 5px 0 5px 5px;
        padding: 6px 0;
        &:after, &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 100%;
            right: 2rem;
        }
        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent #bcbcbc transparent;
        }
        &:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4px 4px 4px;
            border-color: transparent transparent #ffffff transparent;
            right: 2.1rem;
            bottom: calc(100% - 0.5px);
        }
    }
    &--share {
        width: 29rem;
        padding: 2rem;
        .edit-popup__header {
            margin-bottom: 1.9rem;
        }
        .select-wrapper, .select-trigger {
            width: 100%;
        }
        .select-wrapper {
            margin-bottom: 1.6rem;
        }
        .btn {
            min-width: auto;
            width: 11.8rem;
            margin-left: auto;
            display: flex;
            padding: 0 5px;
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
        }
    }
    &--picture-upload {
        width: 100%;
        max-width: 50rem;
        padding: 0;
        @media (max-width: $sw-xx-max) {
            max-width: none;
            width: 29rem;
        }
        .edit-popup__header {
            min-height: 5rem;
            margin-bottom: 0;
            padding: 0 1.5rem;
        }
    }
    &--rental {
        width: 100%;
        max-width: 69rem;
        padding: 3.5rem 3.5rem 2.5rem 3.5rem;
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem;
            width: 29rem;
            max-width: none;
        }
        .edit-popup__title {
            font-size: 1.5rem;
            &__icon {
                background-color: transparent;
                .icon {
                    color: #1A1A1A;
                }
            }
        }
        .edit-popup__header {
            margin-bottom: 2.5rem;
        }
    }
    &--copy-season {
        width: 100%;
        max-width: 44rem;
        @media (max-width: $sw-xx-max) {
            width: 29rem;
            max-width: none;
        }
        .edit-popup__inner {
            .select-wrapper, .select-trigger {
                width: 100%;
            }
        }
        .edit-popup__header {
            margin-bottom: 1.2rem;
        }
        .edit-popup__info {
            p {
                display: block;
                text-align: left;
                font-size: 1.2rem;
                line-height: 2.9em;
                font-weight: 500;
                color: #1B1B1B;
                margin-bottom: 1.1rem;
                i {
                    font-style: normal;
                    color: #959595;
                    margin-left: 5px;
                }
            }
        }
        .edit-popup__submit {
            min-width: 9rem;
            margin-left: 1.7rem;
            margin-bottom: 1px;
            @media (max-width: $sw-xx-max) {
                min-width: auto;
                width: 100%;
                margin-top: 1.5rem;
                margin-left: 0;
            }
        }
        .edit-popup__side {
            width: calc(100% - 10.7rem);
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
            &-wrap {
                display: flex;
                align-items: flex-end;
                @media (max-width: $sw-xx-max) {
                    flex-wrap: wrap;
                }
            }
        }
    }
    &--choose-hotel {
        width: 100%;
        max-width: 70rem;
        padding: 3rem 3.5rem 3.5rem 3.5rem;
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem;
            width: 29rem;
            max-width: none;
        }
        .edit-popup__title {
            font-size: 1.5rem;
        }
        .edit-popup__header {
            margin-bottom: 3.6rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2rem;
            }
        }
        &__add {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0 -5px 2.7rem -5px;
            .select-wrapper {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
                .select-trigger {
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
            }
            .select-wrapper--xl {
                .select-trigger {
                    width: 24rem;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
            }
            &__col {
                padding: 0 5px;
                margin-bottom: 1.6rem;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
                .form-control-datepicker--labeled {
                    @media (max-width: $sw-xx-max) {
                        max-width: 100%;
                    }
                    .form-control-group {
                        @media (max-width: $sw-xx-max) {
                            width: 100%;
                        }
                        &:last-child {
                            .form-control-label {
                                background-color: #77B017;
                                border: 1px solid #77B017;
                            }
                        }
                        .form-control-label {
                            @media (max-width: $sw-xx-max) {
                                width: 8.2rem;
                            }
                        }
                        .form-control-wrap {
                            @media (max-width: $sw-xx-max) {
                                width: calc(100% - 8.2rem);
                            }
                        }
                    }
                }
                .form-control-group--labeled {
                    .form-control-label {
                        @media (max-width: $sw-xx-max) {
                            min-width: 8.2rem;
                        }
                    }
                    .form-control-wrap {
                        @media (max-width: $sw-xx-max) {
                            width: calc(100% - 8.2rem);
                        }
                    }
                    .form-control {
                        @media (max-width: $sw-xx-max) {
                            width: 100%;
                        }
                    }
                }
            }
            &__submit {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 1.3rem;
                padding: 0 5px;
                .btn--rounded {
                    font-size: 1.1rem;
                    padding: 0 1rem;
                    @media (max-width: $sw-xx-max) {
                        min-width: auto;
                        width: 100%;
                    }
                }
            }
        }
        &__copy {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-top: 1px solid #DADADA;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
                margin: 2rem 0;
            }
            .form-control-group {
                margin: 6px 1.6rem 6px 0;
                @media (max-width: $sw-xx-max) {
                    margin: 1rem 1.6rem 1rem 0;
                }
            }
            .select-wrapper--xs {
                .select-trigger {
                    width: 10.7rem;
                }
            }
            .btn {
                margin: 6px 0;
                @media (max-width: $sw-xx-max) {
                    margin: 1rem 0;
                }
            }
        }
        &__table {
            padding-top: 3.4rem;
            border-top: 1px solid #DADADA;
            .edit-popup__title {
                margin-bottom: 1.6rem;
            }
            .section-table {
                &--hotels {
                    width: 62.8rem;
                    margin-top: 0;
                }
                &-wrap {
                    .simplebar-track.simplebar-horizontal {
                        bottom: 0;
                    }
                }
                &__head {
                    .col-room-type {
                        margin-right: 3rem;
                        margin-left: 10.4rem;
                    }
                }
                .col {
                    &-day {
                       width: 3.2rem;
                       height: 3.2rem;
                       flex-shrink: 0;
                    }
                    &-hotel {
                        width: 17.5rem;
                        padding-right: 1rem;
                        margin-right: 2rem;
                        padding-left: 0;
                    }
                    &-meal {
                        width: 3.1rem;
                    }
                    &-room {
                        width: 3.6rem;
                        margin-right: 1.1rem;
                    }
                    &-qty {
                        width: 3.1rem;
                        text-align: center;
                        justify-content: center;
                        text-align: center;
                        margin-right: 5px;
                    }
                    &-persons {
                        width: 8.9rem;
                        margin-right: 5px;
                        justify-content: center;
                    }
                    &-room-type {
                        width: 10.6rem;
                    }
                    &-action {
                        width: 2.6rem;
                        margin-left: auto;
                    }
                }
            }
        }
        &__submit {
            margin-top: 2.3rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            .btn {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    min-width: auto;
                }
                & + .btn {
                    margin-left: 2rem;
                    @media (max-width: $sw-xx-max) {
                        margin-left: 0;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    &--add-flight {
        width: 100%;
        max-width: 80.4rem;
        padding: 3rem 3.5rem;
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem;
            width: 29rem;
            max-width: none;
        }
        .edit-popup__title {
            font-size: 1.5rem;
        }
        .edit-popup__header {
            margin-bottom: 4.2rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2rem;
            }
        }
        &__add {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0 -5px;
            .select-wrapper {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            .select-trigger {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            .select-wrapper--xl {
                .select-trigger {
                    width: 24rem;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
            }
            .form-select-group { 
                .form-control-time {
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
                .select-trigger {
                    @media (max-width: $sw-xx-max) {
                        width: 21.1rem;
                    } 
                }
            }
            &__col {
                padding: 0 5px;
                margin-bottom: 1.6rem;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
                .form-control-group--persons {
                    margin-left: 2.5rem;
                    @media (max-width: $sw-xs-max) {
                        margin-left: 0; 
                    }
                }
            }
            &__submit {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 2.5rem;
                padding: 0 5px;
                .btn--rounded {
                    font-size: 1.1rem;
                    padding: 0 1rem;
                    @media (max-width: $sw-xx-max) {
                        min-width: auto;
                        width: 100%;
                    }
                }
            }
            &__radio {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 1.7rem;
                padding: 0 5px;
            }
        }
        &__table {
            margin-top: 2.7rem;
            padding-top: 2.4rem;
            border-top: 1px solid #D1D1D1;
            .section-table {
                &--flights {
                    margin-top: 1.6rem;
                    width: 73rem;
                }
                .section-table__row {
                    padding: 1.2rem;
                }
                .col-action {
                    margin-left: auto;
                }
                .col-activity-status {
                    padding-left: 1.5rem;
                }
                .col-flight-persons {
                    padding: 0 1rem 0 1.4rem;
                    width: 9rem;
                }
            }
        }
        &__submit {
            margin-top: 7px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            .btn {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    min-width: auto;
                }
                & + .btn {
                    margin-left: 2rem;
                    @media (max-width: $sw-xx-max) {
                        margin-left: 0;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    &--activity {
        width: 100%;
        max-width: 70.8rem;
        padding: 3rem 3.5rem;
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem;
            width: 29rem;
            max-width: none;
        }
        .edit-popup__title {
            font-size: 1.5rem;
        }
        .edit-popup__header {
            margin-bottom: 3.6rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2rem;
            }
        }
        &__add {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0 -5px;
            @media (max-width: $sw-xx-max) {
                margin: 0;
            }
            .select-wrapper {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            .select-trigger {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            .select-wrapper--xl {
                .select-trigger {
                    width: 23.1rem;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
            }
            .form-select-group .select-trigger {
                @media (max-width: $sw-xx-max) {
                    width: 21.1rem;
                } 
            }
            .form-control-group--persons {
                margin: 0 13px 0 6px;
                @media (max-width: $sw-xx-max) {
                    margin: 0;
                }
            }
            .form-control-time {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    max-width: 100%;
                }
            }
            &__col {
                padding: 0 5px;
                margin-bottom: 1.6rem;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    padding: 0;
                }
            }
            &__submit {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 5px;
                padding: 0 5px;
                @media (max-width: $sw-xx-max) {
                    padding: 0;
                }
                .btn--rounded {
                    font-size: 1.1rem;
                    padding: 0 1rem;
                    @media (max-width: $sw-xx-max) {
                        min-width: auto;
                        width: 100%;
                    }
                }
            }
            &__radio {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 1.7rem;
                padding: 0 5px;
            }
        }
        &__table {
            margin-top: 2.8rem;
            padding-top: 2.8rem;
            border-top: 1px solid #DADADA;
            .edit-popup__title {
                margin-right: 9px;
            }
            .section-table {
                &--activities {
                    width: 63rem;
                    margin-top: 1.9rem;
                }
                .col {
                    &-pick-up-time {
                        padding-right: 5px;
                    }
                    &-action {
                        margin: 0 4px 0 auto;
                    }
                }
            }
        }
        &__submit {
            margin-top: 7px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            .btn {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    min-width: auto;
                }
                & + .btn {
                    margin-left: 2rem;
                    @media (max-width: $sw-xx-max) {
                        margin-left: 0;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    &--copy-link {
        width: 27rem;
        padding: 1.2rem 1.1rem 1rem 1.1rem;
        .edit-popup__header {
            margin-bottom: 1rem;
        }
        &__form {
            display: flex;
            width: 100%;
            .form-control {
                height: 3.4rem;
                border-color: #D6D6D6;
                border-radius: 4px;
                width: 14.7rem;
                padding: 0 1.1rem;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1em;
                color: #9B9B9B;
                &-group {
                    margin-right: 1.1rem;
                }
            }
            .btn {
                width: 9rem;
                min-width: auto;
            }
        }
    }
    &--edit-flight {
        width: 63.6rem;
        padding: 2.5rem 3rem 3rem 3rem;
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem;
            width: 29rem;
            max-width: none;
        }
        .edit-popup__header {
            margin-bottom: 1.4rem;
        }
        .edit-popup__title {
            font-size: 1.5rem;
        }
    }
    &--import {
        width: 42rem;
        padding: 3.4rem 3.4rem 2.1rem 3.4rem;
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem;
            width: 29rem;
            max-width: none;
        }
        .edit-popup__header {
            margin-bottom: 2.6rem;
        }
        .edit-popup__title {
            font-size: 1.5rem;
        }
        &__form {
            &__title {
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 1.15em;
                color: #2E2E2E;
                margin-bottom: 1.7rem;
                text-transform: uppercase;
                display: block;
                width: 100%;
            }
            &__side {
                width: 100%;
                display: flex;
                align-items: center;
                padding-bottom: 2.5rem;
                margin-bottom: 2.5rem;
                border-bottom: 1px solid #DADADA;
            }
            .form-control-datepicker { 
                @media (max-width: $sw-xx-max) {
                    max-width: 100%;
                }
                .form-control-group  {
                    width: 50%;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                    & + .form-control-group {
                        margin-left: 1rem;
                        @media (max-width: $sw-xx-max) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        &__submit {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .btn {
                @media (max-width: $sw-xx-max) {
                    min-width: auto;
                    width: 100%;
                }
            }
        }
    }

    &__text {
        font-size: 1.2rem;
        line-height: 1.15em;
        color: #737373;
        margin-bottom: 1.1rem;     
    }

    &__form {
        margin: 0 -5px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: $sw-xx-max) {
            margin: 0;
        }
        &__col {
            padding: 0 5px;
            margin-bottom: 2.3rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1rem;
                padding: 0;
                width: 100%;
            }
            .form-control {
                &:focus {
                    & + .form-control-icon {
                        .icon-calendar {
                            color: #2E2E2E;
                        }
                    }
                }
                &-time {
                    max-width: 6rem;
                    @media (max-width: $sw-xx-max) {
                        max-width: 100%;
                    }
                }
                &-group {
                    &--xl {
                        width: 25.4rem;
                        @media (max-width: $sw-xx-max) {
                            width: 100%;
                        }
                    }
                    &--lg {
                        width: 19.3rem !important;
                        @media (max-width: $sw-xx-max) {
                            width: 100% !important;
                        }
                    }
                    &--sm {
                        width: 7rem;
                        @media (max-width: $sw-xx-max) {
                            width: 100%;
                        }
                    }
                    &--xs {
                        width: 5rem;
                        @media (max-width: $sw-xx-max) {
                            width: 100%;
                        }
                    }
                }
            }
            .select-trigger {
                width: 17rem;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            .select-wrapper {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
            .icon-calendar {
                color: #BEBEBE;
                font-size: 1.3rem;
                transition: color .3s ease;
            }
        }
        &-submit {
            margin: 1rem 0 0 0;
            padding-top: 2.6rem;
            border-top: 1px solid #DADADA;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: $sw-xx-max) {
                margin: 1.5rem 0 0 0;
                padding-top: 1.5rem;
            }
            .btn {
                @media (max-width: $sw-xx-max) {
                    min-width: auto;
                    width: 100%;
                }
            }
        }
    }

    &__subtitle {
        font-size: 1.3rem;
        line-height: 1.2em;
        color: #1A1A1A;
        margin-bottom: 3.3rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 1.5rem;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        height: auto;
    }

    &__footer {
        height: 7rem;
        padding: 0 1.6rem 0 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
            height: auto;
            padding: 1.2rem 8px;
        }
        &__side {
            display: flex;
            align-items: center;
            @media (max-width: $sw-xx-max) {
                width: 100%;
                justify-content: center;
            }
            & + .edit-popup__footer__side {
                @media (max-width: $sw-xx-max) {
                    margin-top: 1rem;
                }
            }
            .btn--silver {
                padding: 0 1.2rem;
                min-width: 16.6rem;
                margin-right: 1rem;
                @media (max-width: $sw-xx-max) {
                    width: calc(50% - 1rem);
                    min-width: auto;
                }
            }
            .btn--green {
                padding: 0 1.2rem;
                min-width: 12rem;
                @media (max-width: $sw-xx-max) {
                    width: calc(50% - 1rem);
                    min-width: auto;
                }
            }
            .btn-zoom {
                height: 3rem;
                width: 3rem;
                min-width: auto;
                cursor: pointer;
                padding: 0;
                border-radius: 3px;
                margin: 0 3px;
                background-color: transparent;
                @media (max-width: $sw-xx-max) {
                    width: 25%;
                }
                &:hover {
                    background-color: #f1f1f1;
                }
                &:active {
                    background-color: darken(#f1f1f1, 5%);
                }
                .icon {
                    color: #2F2F2F;
                    font-size: 1.2rem;
                    margin-right: 0;
                }
            }
            .btn-rotate {
                height: 3rem;
                width: 3rem;
                min-width: auto;
                cursor: pointer;
                padding: 0;
                border-radius: 3px;
                margin: 0 3px;
                background-color: transparent;
                @media (max-width: $sw-xx-max) {
                    width: 25%;
                }
                &:hover {
                    background-color: #f1f1f1;
                }
                &:active {
                    background-color: darken(#f1f1f1, 5%);
                }
                .icon-rotate {
                    font-size: 1.8rem;
                    margin-right: 0;
                }
                &--left {
                    .icon-rotate {
                        transform: rotate(180deg);
                        color: #2F2F2F;
                    }
                }
                &--right {
                    .icon-rotate {
                        color: #639A05;
                    }
                }
            }
        }
    }

    &__close {
        position: relative;
        width: 2.4rem;
        height: 2.4rem;
        margin-top: -5px;
        margin-right: -8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .3s ease;
        border-radius: 50%;
        &:hover {
            @media (min-width: $sw-sm-min) {
                &:after {
                    transform: translate(-50%,-50%) scale(1);
                }
                .icon-close {
                    color: $green;
                }
            }
        }
        .icon-close {
            transition: color .3s ease;
            color: $dark;
            font-size: 9px;
            position: relative;
            z-index: 2;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            width: 2.4rem;
            height: 2.4rem;
            z-index: 1;
            background-color: rgba(#A4A4A4, 0.2);
            transform: translate(-50%,-50%) scale(0);
            transition: transform .3s ease;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.23em;
        color: #1A1A1A;
        margin-right: 1.5rem;
        &__icon {
            width: 2.1rem;
            height: 2.1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $green;
            margin-right: 9px;
            position: relative;
            .icon {
                color: $white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 1;
            }
            .icon-edit {
                font-size: 1rem;
            }
            .icon-photo {
                font-size: 1.2rem;
            }
            .icon-list {
                font-size: 1.6rem;
            }
            .icon-link {
                font-size: 1.1rem;
            }
        }
    }

    &__photo-crop {
        width: 100%;
        height: 26rem;
        background-color: #C4C4C4;
        position: relative;
        @media (max-width: $sw-xx-max) {
            height: 22rem;
        }
        &__area {
            border: 1px solid $white;
            position: relative;
            width: 100%;
            height: 100%;
            &:before, &:after {
                content: '';
                display: block;
                width: 8px;
                height: 8px;
                position: absolute;
                top: -4px;
                border-color: transparent;
                border-top-color: $white;
            }
            &:before {
                left: -4px;
                border-width: 1px;
                border-style: solid;
                border-left-color: $white;
            }
            &:after {
                right: -4px;
                border-width: 1px;
                border-style: solid;
                border-right-color: $white;
            }
            &-wrap {
                position: absolute;
                top: 2.5rem;
                left: 50%;
                margin-left: -10.5rem;
                width: 21rem;
                height: 21rem;
                cursor: pointer;
                @media (max-width: $sw-xx-max) {
                    margin-left: -8.5rem;
                    left: 50%;
                    width: 17rem;
                    height: 17rem;
                }
                &:before, &:after {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    bottom: -4px;
                    border-color: transparent;
                    border-bottom-color: $white;
                }
                &:before {
                    left: -4px;
                    border-width: 1px;
                    border-style: solid;
                    border-left-color: $white;
                }
                &:after {
                    right: -4px;
                    border-width: 1px;
                    border-style: solid;
                    border-right-color: $white;
                }
            }
        }
    }

    &__season {
        &--add {
            padding-bottom: 1.4rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid #DADADA;
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;
            .form-control-wrap {
                max-width: 22.6rem;
            }
        }
        &__title {
            display: block;
            width: 100%;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.16em;
            text-transform: uppercase;
            color: $dark;
        }
        &__add {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            .form-control-datepicker {
                width: 27rem;
                justify-content: space-between;
                margin-bottom: 1rem;
                @media (max-width: $sw-xx-max) {
                    flex-wrap: nowrap;
                    max-width: none;
                    width: calc((100% - 1rem) / 3 * 2);
                }
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
                .form-control-group {
                    width: 13rem;
                    @media (max-width: $sw-xx-max) {
                        width: calc(100% / 2);
                    }
                    & + .form-control-group {
                        margin-left: 1rem;
                        @media (max-width: $sw-xx-max) {
                            margin-top: 0;
                            margin-left: 1rem;
                        }
                    }
                }
            }
            &__name {
                width: 20.8rem;
                margin-right: 1rem;
                margin-bottom: 1rem;
                @media (max-width: $sw-xx-max) {
                    width: calc((100% - 1rem) / 3);
                }
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    margin-right: 0;
                }
                .form-control {
                    padding: 0 1.1rem;
                }
            }
            &__submit {
                width: 12rem;
                margin-left: auto;
                margin-bottom: 1rem;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 0;
                    width: 100%;
                }
                .btn {
                    min-width: auto;
                    width: 100%;
                    margin-bottom: 1px;
                }
            }
        }
        &__table {
            &-wrap {
                height: auto;
                max-height: 29.5rem;
                overflow: hidden;
                overflow-x: auto;
                overflow-y: auto;
                @media (max-width: $sw-xx-max) {
                    padding-bottom: 2.5rem;
                }
                .simplebar-track {
                    right: 0;
                }
                .simplebar-content {
                    padding: 0 0 15px 0 !important;
                }
                .simplebar-track.simplebar-horizontal {
                    bottom: 0;
                }
                .simplebar-track.simplebar-vertical {
                    width: 6px;
                    background: #F6F6F6;
                    border-radius: 10px;
                }
                .simplebar-scrollbar {
                    right: 1px;
                    left: 1px;
                    &:before {
                        background: #C4C4C4;
                    }
                }
            }
            &-inner {
                padding-right: 26px;
                min-width: 61.5rem;
                height: 100%;
                @media (max-width: $sw-xx-max) {
                    min-width: 61.5rem;
                }
            }
            &__header {
                background-color: #F6F6F6;
                border-radius: 5px;
                padding: 0 1.1rem;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                height: 3.2rem;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.15em;
                color: #919191;
                margin-bottom: 7px;
            }
            &__row {
                width: 100%;
                display: flex;
                align-items: center;
                height: 4.6rem;
                background: $white;
                box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                margin-bottom: 5px;
                border-left: 3px solid $darkGreen;
                padding: 0 1.1rem 0 5px;
                .form-control-datepicker {
                    width: 27rem;
                    @media (max-width: $sw-xx-max) {
                        flex-wrap: nowrap;
                        max-width: none;
                    }
                    .form-control-group {
                        & + .form-control-group {
                            margin-left: 1rem;
                            @media (max-width: $sw-xx-max) {
                                margin-top: 0;
                                margin-left: 1rem;
                            }
                        }
                    }
                }
            }
            &__name {
                width: 20rem;
                margin-right: 1rem;
            }
            &__from, &__to {
                width: 13rem;
                margin-right: 1rem;
            }
            &__actions {
                width: 6.3rem;
                margin-left: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .btn {
                    & + .btn {
                        margin-left: 1.1rem;
                    }
                }
            }
        }
        &__submit {
            margin-top: 2rem;
            padding-top: 1.4rem;
            border-top: 1px solid #DADADA;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}