.kilimanjaro-settings {
    width: 100%;
    &--camp {
        max-width: 43.8rem;
    }
    &--distance {
        max-width: 65.2rem;
    }
    .page-title {
        margin-bottom: 2.2rem;
        h2 {
            margin-bottom: 0;
        }
    }
    .section-table {
        &-wrap {
            padding: 0 5px;
            margin: 0 -5px;
            .kilimanjaro-settings--distance & {
                overflow: hidden;
                overflow-x: auto;
            }
        }
        &--camp {
            width: 100%;
            min-width: 43.8rem;
            padding-bottom: 2rem;
        }
        &--distance {
            width: 100%;
            min-width: 65.2rem;
            padding-bottom: 22rem;
        }
        &__head {
            padding: 0 1.5rem;
            margin-bottom: 6px;
            .col {
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 1em;
                color: #1A1A1A !important;
            }
        }
        &__row {
            padding: 0 1rem 0 7px;
            height: 5rem;
            margin-bottom: 4px;
            .form-control {
                padding: 0 1.1rem;
                &-group {
                    width: 100%;
                    max-width: 18.5rem;
                    &:not(:last-child) {
                        @media (max-width: $sw-xx-max) {
                            margin-bottom: 0 !important;
                        }
                    }
                    .select-trigger {
                        width: 18.5rem;
                    }
                }
            }
            .form-select-group {
                &:not(:last-child) {
                    @media (max-width: $sw-xx-max) {
                        margin-bottom: 0;
                    }
                }
                &__divider {
                    width: 3rem;
                    @media (max-width: $sw-xx-max) {
                        display: flex;
                    }
                }
            }
        }
        .col {
            &-camp-name {
                width: 18.4rem;
                margin-right: 1rem;
            }
            &-meters {
                width: 9rem;
                margin-right: 1rem;
            }
            &-feet {
                width: 9rem;
                margin-right: 1rem;
            }
            &-action {
                width: 2.6rem;
                margin-left: auto;
            }
            &-from {
                width: 18.5rem;
                margin-right: 3rem;
            }
            &-to {
                width: 18.5rem;
                margin-right: 1rem;
            }
            &-distance {
                width: 8.4rem;
                margin-right: 1rem;
            }
            &-time {
                width: 8.4rem;
                margin-right: 1rem;
            }
            &-destination {
                width: 40rem;
                margin-right: 1rem;
            }
        }
    }
    &__add {
        margin: 1rem 0 4.3rem 0;
        .kilimanjaro-settings--distance & {
            margin: -19rem 0 4.3rem 0;
        }
        .btn {
            font-size: 1.1rem;
        }
    }
    &__submit {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}