mixin kilimanjaro-settings(data)
	section.kilimanjaro-settings(class='' + data.class ? data.class : null)
		.page-title
			h2!= data.title
		form.kilimanjaro-settings__form(action="javascript:void(0")
			.kilimanjaro-settings__table
				.section-table-wrap
					if data.camp
						+camp-table()
					if data.distance
						+distance-table()
			.kilimanjaro-settings__add
				button.btn.btn--rounded(type="button")
					span!= data.submit
			.kilimanjaro-settings__submit
				button.btn.btn--green(type="submit")
					span Save


mixin camp-table(data)
	.section-table.section-table--camp
		.section-table__head
			.col.col-camp-name
				span Camp Name
			.col.col-meters
				span Meters
			.col.col-feet
				span Feet
		.section-table__body
			+camp-row()
			+camp-row()
			+camp-row()
			

mixin distance-table(data)
	.section-table.section-table--distance
		.section-table__head
			.col.col-from
				span From
			.col.col-to
				span To
			.col.col-distance
				span Distance (km)
			.col.col-time
				span Time (min)
			.col.col-action
		.section-table__body
			+distance-row()
			+distance-row()
			+distance-row()
			
mixin camp-row(data)
	.section-table__row
		.col.col-camp-name
			.form-control-group
				.form-control-wrap
					input.form-control(type="text", placeholder="Camp Name")
		.col.col-meters
			.form-control-group
				.form-control-wrap
					input.form-control(type="number", placeholder="Meters")
		.col.col-feet
			.form-control-group
				.form-control-wrap
					input.form-control(type="number", placeholder="Feet")
		.col.col-action
			button.btn.btn--remove(type="button")
				+svg('icon-close')

mixin distance-row(data)
	.section-table__row
		.col.col-destination
			.form-select-group
				.form-control-group
					.select-wrapper
						.select-trigger
							span.select-trigger__name Londorossi Gate
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner
								.select-option.is-selected
									span.select-option__name Londorossi Gate
								.select-option
									span.select-option__name Londorossi Gate 1
								.select-option
									span.select-option__name Londorossi Gate 2
								.select-option
									span.select-option__name Londorossi Gate 3
				.form-select-group__divider
					+svg('icon-arrow')
				.form-control-group
					.select-wrapper
						.select-trigger
							span.select-trigger__name Shira 1
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner
								.select-option
									span.select-option__name Shira
								.select-option.is-selected
									span.select-option__name Shira 1
								.select-option
									span.select-option__name Shira 2
								.select-option
									span.select-option__name Shira 3
		.col.col-distance
			.form-control-group
				.form-control-wrap
					input.form-control(type="number", placeholder="Distance")
		.col.col-time
			.form-control-group
				.form-control-wrap
					input.form-control(type="number", placeholder="Time")
		.col.col-action
			button.btn.btn--remove(type="button")
				+svg('icon-close')