.kilimanjaro-table {
    width: 100%;
    max-width: 96.9rem;
    .page-title {
        margin-bottom: 2.2rem;
        h2 {
            margin-bottom: 0;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
            margin-bottom: 1.5rem;
        }
        &__side {
            display: flex;
            align-items: center;
            @media (max-width: $sw-xx-max) {
                width: 100%;
                flex-wrap: wrap;
            }
            &:last-child {
                @media (max-width: $sw-xx-max) {
                    margin-top: 1.5rem;
                    justify-content: flex-end;
                }
            }
            .form-control-group,
            .select-wrapper,
            .select-trigger,
            .btn {
                @media (max-width: 399px) {
                    width: 100%;
                    min-width: auto;
                }
            }
        }
        &__label {
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.16em;
            color: #2E2E2E;
            margin-right: 1rem;
            @media (max-width: $sw-xx-max) {
                display: block;
                width: 100%;
                margin-right: 0;
                margin-bottom: 1rem;
            }
        }
        .btn {
            padding: 0 5px;
            min-width: 13rem;
        }
    }
    &__form {
        &__submit {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .btn {
                @media (max-width: 399px) {
                    min-width: auto;
                    width: 100%;
                }
            }
        }
    }
    &__item {
        width: 100%;
        margin-bottom: 2rem;
        min-width: 92rem;
        &--temperature {
            tr {
                &:nth-child(even) {
                    background-color:#FAFAFA;
                }
            }
            td {
                width: 10rem;
                input {
                    width: 100%;
                    border: 1px solid transparent;
                    transition: border-color .3s ease;
                    outline: none;
                    box-shadow: none;
                    height: 100%;
                    box-sizing: border-box;
                    background-color: transparent;
                    text-align: center;
                    font-size: 1.2rem;
                    color: #1A1A1A;
                    &:focus {
                        border-color: #999999;
                    }
                }
            }
        }
        &__duration {
            width: 13.3rem;
        }
        &__lunation {
            color: #606060
        }
        &__lunation, &__time {
            width: 8rem;
        }
        &__descr {
            width: 11rem;
            font-weight: 600;
            .icon {
                color: #205576;
                font-size: 1.2rem;
                margin-right: 6px;
            }
        }
        &__month {
            text-align: left !important;
            padding: 0 0 0 1.2rem !important;
            width: 7.6rem;
            font-weight: 600;
            @media (max-width: $sw-md-max) {
                padding: 0 0 0 0.7rem !important;
                width: 8rem !important;
            }
        }
        &__day {
            padding: 0 1.5rem;
            text-align: left !important;
            width: 10rem;
            padding: 0 3px 0 7px !important;
            color: #606060 !important;
        }
        thead {
            background-color: #F6F6F6;
            border-radius: 5px;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 0.95em;
            color: #1A1A1A;
            .kilimanjaro-table__item__time {
                font-weight: 500;
            }
            .kilimanjaro-table__item__lunation {
                color: #1A1A1A;
            }
        }
        th {
            height: 3.2rem;
            text-align: center;
        }
        td {
            height: 3rem;
            text-align: center;
            border: 1px solid #E3E3E3;
            font-size: 1.2rem;
            line-height: 1.15em;
            color: #1A1A1A;
            padding: 0;
            .icon {
                margin-right: 9px;
                &-daytime {
                    font-size: 1.5rem;
                    color: #EE892D;
                }
                &-nighttime {
                    font-size: 1.4rem;
                    color: #205576;
                }
                & + span {
                    color: #606060;
                }
            }
        }
    }
}