mixin kilimanjaro-table(data)
	section.kilimanjaro-table
		.page-title
			h2!= data.title
		if data.top
			.kilimanjaro-table__top
				.kilimanjaro-table__top__side
					span.kilimanjaro-table__top__label Showing moon phases for:
					.form-control-group
						.select-wrapper.select-wrapper--sm
							.select-trigger
								span.select-trigger__name 2020
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner.js-scrollbar
									.select-option.is-selected
										span.select-option__name 2020
									.select-option
										span.select-option__name 2021
									.select-option
										span.select-option__name 2022
									.select-option
										span.select-option__name 2023
				.kilimanjaro-table__top__side
					button.btn.btn--green(type="button")
						span Import from XLS
		form.kilimanjaro-table__form(action="javascript:void(0)")
			.section-table-wrap(data-simplebar)
				if data.temperature_table
					+temperature-table()
				if data.moon_table
					+moon-table()
			.kilimanjaro-table__form__submit
				button.btn.btn--green(type="button")
					span Save
		


mixin temperature-table(data)
	table.kilimanjaro-table__item.kilimanjaro-table__item--temperature
		thead
			tr
				th.kilimanjaro-table__item__month(colspan="2")
					span Month
				th
					span 2500m
				th
					span 3000m
				th
					span 3500m
				th
					span 4000m
				th
					span 4500m
				th
					span 5000m
				th
					span 5500m
				th
					span 6000m
		tbody
			tr
				td.kilimanjaro-table__item__month(rowspan="2")
					span January
				td.kilimanjaro-table__item__day
					+svg('icon-daytime')
					span Day time
				td
					input(type="text", value="-2C")
				td
					span -5C
				td
					span -7C
				td
					span -10C
				td
					span -12C
				td
					span -15C
				td
					span -17C
				td
					span -20C
			tr
				td.kilimanjaro-table__item__day
					+svg('icon-nighttime')
					span Night time
				td
					span -4C
				td
					span -8C
				td
					span -9C
				td
					span -12C
				td
					span -15C
				td
					span -17C
				td
					span -19C
				td
					span -23C
			tr
				td.kilimanjaro-table__item__month(rowspan="2")
					span February
				td.kilimanjaro-table__item__day
					+svg('icon-daytime')
					span Day time
				td
					span -2C
				td
					span -5C
				td
					span -7C
				td
					span -10C
				td
					span -12C
				td
					span -15C
				td
					span -17C
				td
					span -20C
			tr
				td.kilimanjaro-table__item__day
					+svg('icon-nighttime')
					span Night time
				td
					span -4C
				td
					span -8C
				td
					span -9C
				td
					span -12C
				td
					span -15C
				td
					span -17C
				td
					span -19C
				td
					span -23C
			tr
				td.kilimanjaro-table__item__month(rowspan="2")
					span March
				td.kilimanjaro-table__item__day
					+svg('icon-daytime')
					span Day time
				td
					span -2C
				td
					span -5C
				td
					span -7C
				td
					span -10C
				td
					span -12C
				td
					span -15C
				td
					span -17C
				td
					span -20C
			tr
				td.kilimanjaro-table__item__day
					+svg('icon-nighttime')
					span Night time
				td
					span -4C
				td
					span -8C
				td
					span -9C
				td
					span -12C
				td
					span -15C
				td
					span -17C
				td
					span -19C
				td
					span -23C
			tr
				td.kilimanjaro-table__item__month(rowspan="2")
					span April
				td.kilimanjaro-table__item__day
					+svg('icon-daytime')
					span Day time
				td
					span -2C
				td
					span -5C
				td
					span -7C
				td
					span -10C
				td
					span -12C
				td
					span -15C
				td
					span -17C
				td
					span -20C
			tr
				td.kilimanjaro-table__item__day
					+svg('icon-nighttime')
					span Night time
				td
					span -4C
				td
					span -8C
				td
					span -9C
				td
					span -12C
				td
					span -15C
				td
					span -17C
				td
					span -19C
				td
					span -23C
			tr
				td.kilimanjaro-table__item__month(rowspan="2")
					span May
				td.kilimanjaro-table__item__day
					+svg('icon-daytime')
					span Day time
				td
					span -2C
				td
					span -5C
				td
					span -7C
				td
					span -10C
				td
					span -12C
				td
					span -15C
				td
					span -17C
				td
					span -20C
			tr
				td.kilimanjaro-table__item__day
					+svg('icon-nighttime')
					span Night time
				td
					span -4C
				td
					span -8C
				td
					span -9C
				td
					span -12C
				td
					span -15C
				td
					span -17C
				td
					span -19C
				td
					span -23C
	

mixin moon-table(data)
	table.kilimanjaro-table__item.kilimanjaro-table__item--moon
		thead
			tr
				th.kilimanjaro-table__item__lunation
					span Lunation
				th.kilimanjaro-table__item__descr
					+svg('icon-newmoon')
					span New Moon
				th.kilimanjaro-table__item__time
					span Time
				th.kilimanjaro-table__item__descr
					+svg('icon-firstquater')
					span First Quater
				th.kilimanjaro-table__item__time
					span Time
				th.kilimanjaro-table__item__descr
					+svg('icon-fullmoon')
					span Full Moon
				th.kilimanjaro-table__item__time
					span Time
				th.kilimanjaro-table__item__descr
					+svg('icon-thirdquater')
					span Third Quarter
				th.kilimanjaro-table__item__time
					span Time
				th.kilimanjaro-table__item__duration
					span Duration
		tbody
			+moon-tr()
			+moon-tr()
			+moon-tr()
			+moon-tr()
			+moon-tr()
			+moon-tr()
			+moon-tr()
			+moon-tr()

mixin moon-tr(data)
	tr
		td.kilimanjaro-table__item__lunation
			span 1200
		td.kilimanjaro-table__item__descr
			span 25 Jan
		td.kilimanjaro-table__item__time
			span 00:42
		td.kilimanjaro-table__item__descr
			span 25 Jan
		td.kilimanjaro-table__item__time
			span 00:42
		td.kilimanjaro-table__item__descr
			span 25 Jan
		td.kilimanjaro-table__item__time
			span 00:42
		td.kilimanjaro-table__item__descr
			span 25 Jan
		td.kilimanjaro-table__item__time
			span 00:42
		td.kilimanjaro-table__item__duration
			span 29d 17h 50m