mixin managers(data)
	section.managers-list
		.page-title
			h2 Managers
		.managers-list__inner
			+manager-col()
			+manager-col()
			+manager-col()
			+manager-col()
			+manager-col()
			+manager-col()
			+manager-col()
		button.btn.btn--green.btn--add-manager(type="button")
			span Add Manager
	section.managers-add
		.page-title
			h2 Add Manager
		form.managers-add-form(action="javascript:void(0)")
			.managers-add-form__fields
				.managers-add-form__col
					.form-control-group
						span.form-control-label Role:
						.select-wrapper
							.select-trigger
								span.select-trigger__name Admin, Sales Manager
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner
									.select-option.is-selected
										label.form-control-checkbox(for="select_opt_1")
											input#select_opt_1(type="checkbox", checked="")
											span.form-control-checkbox__box
												+svg('icon-check')
											span.select-option__name Admin
									.select-option
										label.form-control-checkbox(for="select_opt_2")
											input#select_opt_2(type="checkbox")
											span.form-control-checkbox__box
												+svg('icon-check')
											span.select-option__name Content Manager
									.select-option.is-selected
										label.form-control-checkbox(for="select_opt_3")
											input#select_opt_3(type="checkbox", checked="")
											span.form-control-checkbox__box
												+svg('icon-check')
											span.select-option__name Sales Manager
				.managers-add-form__col
					.form-control-group
						span.form-control-label Email:
						.form-control-wrap
							input.form-control(type="text", Placeholder="Your email")
				.managers-add-form__col.managers-add-form__col--sm
					.form-control-group
						span.form-control-label Login:
						.form-control-wrap
							input.form-control(type="text", Placeholder="Your Login")
				.managers-add-form__col.managers-add-form__col--lg
					.form-control-group
						span.form-control-label Password:
						.form-control-wrap.form-control-wrap--double
							input.form-control(type="text", Placeholder="Password")
							button.btn.btn--generate-pass(type="button")
								+svg('icon-generate')
								span Generate
				.managers-add-form__col
					.form-control-group
						span.form-control-label Name:
						.form-control-wrap
							input.form-control(type="text", Placeholder="Your Name")
				.managers-add-form__col
					.form-control-group
						span.form-control-label Surname:
						.form-control-wrap
							input.form-control(type="text", Placeholder="Your Surname")
				.managers-add-form__col.managers-add-form__col--xl
					.form-control-group.form-control-group--cell
						.form-control-group__side
							span.form-control-label Country:
							.select-wrapper.select-wrapper--xs
								.select-trigger
									span.select-trigger__name
										.select-trigger__name__icon
											+svg('icon-canada')
										span (+1)
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner
										.select-option.is-selected
											span.select-option__name
												.select-trigger__name__icon
													+svg('icon-canada')
												span (+1)
										.select-option
											span.select-option__name
												.select-trigger__name__icon
													+svg('icon-deu')
												span (+56)
										.select-option
											span.select-option__name
												.select-trigger__name__icon
													+svg('icon-rus')
												span (+7)
										.select-option
											span.select-option__name
												.select-trigger__name__icon
													+svg('icon-gb')
												span (+1589)
						.form-control-group__side
							span.form-control-label Cell number:
							.form-control-wrap
								input.form-control(type="number", Placeholder="Amount")
			.managers-add-form__socials
				.form-control-group
					label.form-control-checkbox(for="chk_telegram")
						input#chk_telegram(type="checkbox", checked="")
						span.form-control-checkbox__box
							+svg('icon-check')
						span.form-control-checkbox__name Telegram
						img.form-control-checkbox__img(src="s/images/useful/svg/telegram.svg", alt="telegram")
				.form-control-group
					label.form-control-checkbox(for="chk_wahtsapp")
						input#chk_wahtsapp(type="checkbox", checked="")
						span.form-control-checkbox__box
							+svg('icon-check')
						span.form-control-checkbox__name WhatsApp
						img.form-control-checkbox__img(src="s/images/useful/svg/whatsapp.svg", alt="whatsapp")
			.managers-add-form__social-field
				.form-control-group
					span.form-control-label Telegram login
					.form-control-wrap
						input.form-control(type="text", Placeholder="@login")
			.managers-add-form__load-photo
				.form-control-photo-group
					input.input-hidden(type="file", id="photo_load1")
					label.form-control-photo(for="photo_load1")
						span.form-control-photo__box.h-object-fit
					.form-control-photo-content
						.form-control-photo-content__line
							span.form-control-photo-name Photo
						.form-control-photo-content__line
							label.btn.btn--rounded.btn-photo-load(for="photo_load1") Add Photo
			.managers-add-form__footer
				button.btn.btn--silver(type="button")
					span Delete Manager
				button.btn.btn--green(type="button")
					span Save Changes



mixin manager-col(data)
	.managers-list__col
		.managers-list__item
			.managers-list__item__box
				.managers-list__item__image.h-object-fit
					img(src="s/images/tmp_file/person.jpg", alt="image")
				span.managers-list__item__name Kirill
			button.btn.btn--edit(type="button")
				+svg('icon-edit')