.managers {
    &-list {
        width: 100%;
        max-width: 87rem;
        padding-bottom: 3.9rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid #E9E9E9;
        @media (max-width: $sw-xx-max) {
            padding-bottom: 3rem;
        }
        .page-title {
            margin-bottom: 3rem;
            h2 {
                margin-bottom: 0;
            }
        }
        .btn--add-manager {
            min-width: 14.2rem;
        }
        &__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-left: -1rem;
            margin-right: -1rem;
            margin-bottom: 1rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 5px;
            }
            @media (max-width: 380px) {
                margin-bottom: 0;
            }
        }
        &__col {
            width: 25%;
            padding: 0 1rem;
            margin-bottom: 2rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.5rem;
                width: calc(100% / 3);
            }
            @media (max-width: 520px) {
                width: 50%;
            }
            @media (max-width: 380px) {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
        &__item {
            width: 100%;
            background: $white;
            box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 5rem;
            border-left: 3px solid #639A05;
            padding: 0 1rem;
            @media (max-width: $sw-xx-max) {
                padding: 0 5px;
            }
            .btn {
                flex-shrink: 0;
                margin-left: 5px;
            }
            &__box {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            &__image {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                position: relative;
                border: 1px solid #A6A6A6;
                border-radius: 50%;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                margin-right: 1rem;
                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    border: 2px solid $white;
                    background-color: transparent;
                    z-index: 1;
                }
            }
            &__name {
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.16em;
                color: #2E2E2E;
                word-break: break-all;
            }
        }
    }
    &-add {
        .page-title {
            margin-bottom: 2rem;
            h2 {
                margin-bottom: 0;
            }
        }
        &-form {
            &__fields {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 8px;
                margin-right: -1rem;
                @media (max-width: 520px) {
                    margin-right: 0;
                }
            }
            &__socials {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-bottom: 1.6rem;
                @media (max-width: 520px) {
                    margin-bottom: 8px;
                }
                .form-control-group {
                    margin-bottom: 1.5rem;
                    margin-right: 3.1rem;
                }
            }
            &__social-field {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 3.9rem;
                .form-control-group {
                    margin-right: 1rem;
                }
            }
            &__load-photo {
                padding-bottom: 3.1rem;
            }
            &__footer {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                position: relative;
                padding-top: 2.2rem;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 30.5rem;
                    height: 1px;
                    background-color: #DFDFDF;
                    @media (max-width: 520px) {
                        width: 100%;
                    }
                }
                .btn {
                    min-width: 14.2rem;
                    margin-bottom: 2rem;
                    &:not(:last-child) {
                        margin-right: 2rem;
                    }
                    @media (max-width: 520px) {
                        min-width: 13.5rem;
                        padding: 0 1.4rem;
                    }
                }
            }
            &__col {
                margin-right: 1rem;
                margin-bottom: 2.7rem;
                width: 20rem;
                @media (max-width: $sw-xx-max) {
                    width: calc(50% - 1rem);
                    margin-bottom: 1.5rem;
                }
                @media (max-width: 520px) {
                    width: 100%;
                    margin-right: 0;
                }
                .select {
                    &-wrapper, &-trigger {
                        width: 100%;
                    }
                }
                &--sm {
                    width: 16rem;
                    @media (max-width: $sw-xx-max) {
                        width: calc(50% - 1rem);
                    }
                    @media (max-width: 520px) {
                        width: 100%;
                    }
                }
                &--lg {
                    width: 24.9rem;
                    @media (max-width: $sw-xx-max) {
                        width: calc(50% - 1rem);
                    }
                    @media (max-width: 520px) {
                        width: 100%;
                    }
                }
                &--xl {
                    width: 26.1rem;
                    @media (max-width: $sw-xx-max) {
                        width: calc(50% - 1rem);
                    }
                    @media (max-width: 520px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}