mixin safari-car-details(data)
	.safari-car-details
		.container-lg
			.make-story__collapse.is-collapsed.js-collapse
				.make-story__collapse__title
					.make-story__collapse__title__icon
						+svg('icon-car')
					span.make-story__collapse__title__text Safari Car Details
					button.btn.btn--collapse.is-active.js-collapse-trigger(type="button", data-opened="Hide", data-closed="Show")
						.btn--collapse__icon
							+svg('icon-collapse')
				.make-story__collapse__inner.js-collapse-inner
					.make-story__collapse__inner__line
						.form-control-group
							span.form-control-label Pax per safari car:
							.select-wrapper.select-wrapper--xs
								.select-trigger
									span.select-trigger__name 5
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name 5
										.select-option
											span.select-option__name 6
										.select-option
											span.select-option__name 7
						.form-control-group
							span.form-control-label Car Weight
							.select-wrapper.select-wrapper--sm
								.select-trigger
									span.select-trigger__name 2001 - 3000 kg
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option
											span.select-option__name Up tp 2000 kg
										.select-option.is-selected
											span.select-option__name 2001 - 3000 kg
										.select-option
											span.select-option__name 3001 - 4000 kg
										.select-option
											span.select-option__name 4001 - 5000 kg
					.make-story__collapse__inner__line
						.form-control-group
							span.form-control-label Tour Duration:
							.form-control-wrap.form-control-wrap--days
								input.form-control(type="number", Placeholder="0")
								.form-control-label-descr
									span Days
						.form-control-datepicker.form-control-datepicker--labeled
							.form-control-group
								span.form-control-label-main Tour Start
								span.form-control-label From
								.form-control-wrap
									input.form-control(type="text", Placeholder="Date From")
									.form-control-icon
										+svg('icon-calendar')
							.form-control-group
								span.form-control-label-main Tour Finish
								span.form-control-label To
								.form-control-wrap
									input.form-control(type="text", Placeholder="Date To")
									.form-control-icon
										+svg('icon-calendar')