.safari-car-details {
    padding-bottom: 2.4rem;
    .make-story__collapse {
        width: 100%;
        max-width: 58rem;
    }
}

.make-story__collapse {
    &__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2.6rem;
        &__icon {
            margin-right: 7px;
            .icon {
                color: #1A1A1A;
                font-size: 1.3rem;
            }
        }
        &__text {
            font-weight: 500;
            font-size: 1.5rem;
            color: #1A1A1A;
            line-height: 1.2em;
            margin-right: 1rem;
        }
    }
    &__inner {
        &__line {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-bottom: 2.4rem;
            border-bottom: 1px solid #E3E3E3;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            & + .make-story__collapse__inner__line {
                margin-top: 2.4rem;
            }
            .select-wrapper {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    max-width: 20rem;
                }
                &--xs {
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                        max-width: 20rem;
                    }
                    .select-trigger {
                        width: 12.6rem;
                        @media (max-width: $sw-xx-max) {
                            width: 100%;
                        }
                    }
                }
                .select-trigger {
                    width: 12.6rem;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
            }
            .form-control-group, .form-control-datepicker {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
                & + .form-control-group, 
                & + .form-control-datepicker {
                    margin-left: 2rem;
                    @media (max-width: $sw-xx-max) {
                        margin-left: 0;
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }
}