.modal {
    &-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 9999;
    }
    &-backdrop {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
    &-inner {
        position: relative;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    &-body {
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid #E3E3E3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        width: 100%;
        max-width: 30rem;
        padding: 2.5rem;
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.3rem;
            .icon {
                font-size: 3rem;
            }
        }
        &__title, &__subtitle {
            display: block;
            width: 100%;
            font-weight: 500;
            text-align: center;
        }
        &__title {
            font-size: 1.6rem;
            line-height: 1.185em;
            color: #1A1A1A;
        }
        &__subtitle {
            margin-top: 6px;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.16em;
            color: $dark;
        }
    }
}