mixin modal-success(data)
	.modal-wrapper
		.modal-backdrop
		.modal-inner
			.modal-body
				.modal-body__icon
					+svg('icon-check-rounded')
				span.modal-body__title Calculation Settings Saved!

mixin modal-error(data)
	.modal-wrapper
		.modal-backdrop
		.modal-inner
			.modal-body
				.modal-body__icon
					+svg('icon-error')
				span.modal-body__title Something went wrong
				span.modal-body__subtitle Please try again