mixin exchange-rate(data)
	section.exchange-rate
		.page-title
			h2 Setting & Data | General | Exchange Rate
		.section-title
			h3 Exchange rate
			a.btn.btn--green(href="javascript:void(0)")
				+svg('icon-list')
				span Seasons
		.exchange-rate-inner
			form(action="javascript:void(0)").exchange-rate-season
				.exchange-rate-season__header
					.form-control-group
						span.form-control-label Choose Season
						.select-wrapper.select-wrapper--xl
							.select-trigger
								span.select-trigger__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner
									.select-option.is-selected
										span.select-option__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
									.select-option
										span.select-option__name #[b Hot Season] #[i 01.01.21 - 01.04.21]
									.select-option
										span.select-option__name #[b Cold Season] #[i 01.01.21 - 01.04.21]
									.select-option
										span.select-option__name #[b Cold-Cold Season] #[i 01.01.21 - 01.04.21]
						span.form-control-group__error(title="Sorry, this season is not available because something is wrong") Sorry, this season is not available because something is wrong
					button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Copy rates from another season")
						+svg('icon-copy')
				.exchange-rate-season__inner
					.exchange-rate-season__row
						.form-control-group.form-control-group--double
							.select-wrapper.select-wrapper--xs
								.select-trigger
									span.select-trigger__name USD
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner
										.select-option.is-selected
											span.select-option__name USD
										.select-option
											span.select-option__name EUR
										.select-option
											span.select-option__name UAH
							.form-control-wrap
								input.form-control(type="number", Placeholder="0")
						span.form-control-group__equal =
						.form-control-group.form-control-group--double
							.select-wrapper.select-wrapper--xs
								.select-trigger
									span.select-trigger__name TSH
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner
										.select-option.is-selected
											span.select-option__name TSH
										.select-option
											span.select-option__name TSH 1
										.select-option
											span.select-option__name TSH 2
							.form-control-wrap
								input.form-control(type="number", Placeholder="0")
						button.btn.btn--remove(type="button")
							+svg('icon-close')
					.exchange-rate-season__row
						button.btn.btn--rounded(type="button")
							span Add Currency
						button.btn.btn--green.btn--sm(type="button")
							span Save

					