.exchange-rate {
    width: 100%;
    max-width: 39.4rem;
    .page-title {
        margin-bottom: 2.5rem;
    }
    h2 {
        margin-bottom: 0;
    }
    .section-title {
        margin-bottom: 2.2rem;
    }
    &-season {
        display: block;
        width: 100%;
        max-width: 39.4rem;
        background-color: $white;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        &__header {
            background-color: #F5F5F5;
            padding: 1.5rem 1.3rem 4rem 1.3rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 5px 5px 0 0 ;
            @media (max-width: $sw-xx-max) {
                padding: 1.5rem 1.3rem 1.5rem 1.3rem;
            }
            .form-control-group {
                width: calc(100% - 4.7rem);
            }
            .select-wrapper--xl {
                width: 100%;
                .select-trigger {
                    width: 100%;
                }
            }
            .btn--sm-squared {
                margin-left: 1.3rem;
                margin-top: 2.1rem;
                flex-shrink: 0;
            }
        }
        &__inner {
            padding: 1.4rem 1.3rem 1.8rem 1.3rem;
            border-radius: 0 0 5px 5px;
        }
        &__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            @media (max-width: 430px) {
                flex-wrap: wrap;
            }
            &:not(:last-child) {
                margin-bottom: 2.4rem;
                @media (max-width: 430px) {
                    margin-bottom: 1.5rem;
                }
            }
            .select-wrapper {
                @media (max-width: 430px) {
                    width: calc(50% - 5px);
                    margin-bottom: 1rem;
                }
                .select-trigger {
                    @media (max-width: 430px) {
                        width: 100%;
                    }
                }
            }
            .form-control {
                padding: 0 1rem;
                &-wrap {
                    width: 5.6rem;
                    @media (max-width: 430px) {
                        width: calc(50% - 5px);
                    }
                }
                &-group {
                    @media (max-width: 430px) {
                        width: 100%;
                    }
                    &__equal {
                        @media (max-width: 430px) {
                            margin-bottom: 1rem;
                            text-align: center;
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
            .btn--remove {
                @media (max-width: 430px) {
                    margin: 0 auto;
                }
            }
        }
    }
}