.make-story {
    margin-bottom: 7rem;
    .page-title {
        margin-bottom: 2.3rem;
        h2 {
            margin-bottom: 0;
        }
    }

    // main form
    &-form {
        width: 100%;
        display: block;
    }

    // choose lang & clients name
    &__settings {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 7px;
        .form-control-group {
            margin-right: 2rem;
            margin-bottom: 2rem;
            width: 20rem;
            @media (max-width: 480px) {
                margin-right: 0;
                width: 100%;
            }
        }
        .select-wrapper, .select-trigger {
            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }

    // tabs
    &__tabs {
        width: 100%;
        max-width: 35rem;
        background-color: #F9F9F9;
        border: 1px solid #C2C2C2;
        border-radius: 5px;
        @media (max-width: 480px) {
            max-width: 100%;
        }
        &__triggers {
            display: flex;
            width: 100%;
        }
        &__trigger {
            position: relative;
            height: 4.2rem;
            cursor: pointer;
            width: auto;
            padding: 0 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            background-color: $white;
            text-transform: uppercase;
            color: rgba($dark, .8);
            font-size: 1.2rem;
            line-height: 1.16em;
            font-weight: 600;
            border-bottom: 1px solid #C2C2C2;
            transition: color .3s ease, background-color .3s ease, border-color .3s ease;
            @media (max-width: 480px) {
                padding: 0 8px;
                font-size: 1.1rem;
            }
            &:hover {
                @media (min-width: $sw-xs-min) {
                    background-color: #F9F9F9;
                }
            }
            & + .make-story__tabs__trigger {
                border-left: 1px solid #C2C2C2;
            }
            &:first-child {
                border-radius: 5px 0 0 0;
                &:after {
                    border-radius: 5px 0 0 0;
                }
            }
            &:last-child {
                border-radius: 0 5px 0 0;
                &:after {
                    border-radius: 0 5px 0 0;
                }
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 2px;
                left: 0;
                width: 0;
                top: 0;
                background-color: #2E2E2E;
                transition: width .2s ease;
            }
            &.is-active {
                color: $dark;
                background-color: #F9F9F9;
                border-bottom-color: transparent;
                &:after {
                    width: 100%;
                }
            }
        }
        &__content {
            &-box {
                display: none;
                &.is-active {
                    display: block;
                }
                &__inner {
                    padding: 3rem 1.4rem 1.2rem 1.4rem;
                }
                &__footer {
                    border-top: 1px solid #DBDBDB;
                    padding: 2.1rem 2.1rem 1.2rem 2.1rem;
                }
                &__title {
                    display: block;
                    width: 100%;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1.2rem;
                    color: #1A1A1A;
                    margin-bottom: 2.5rem;
                }
                &__list {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    li {
                        width: calc(50% - 1rem);
                        font-weight: 500;
                        font-size: 1.2rem;
                        line-height: 1.16em;
                        color: #1A1A1A;
                        margin-bottom: 1.1rem;
                    }
                }
            }
        }
    }

    // age line
    &__age-line {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 1.8rem;
        &__info {
            min-width: 9.7rem;
            margin-top: 4px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &__icon {
                width: 2.3rem;
                margin-right: 3px;
                display: flex;
                -ms-flex-pack: center;
                justify-content: center;
                .icon {
                    &-adult {
                        color: #2493D9;
                        font-size: 2.3rem;
                    }
                    &-teenager {
                        color: #69951E;
                        font-size: 1.8rem;
                    }
                    &-child {
                        color: #CD67A1;
                        font-size: 1.4rem;
                    }
                }
            }
            &__text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }
            &__title {
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.16em;
                color: $dark;
            }
            &__range {
                font-size: 1rem;
                line-height: 1.2em;
                color: #717171;
            }
        }
        &__control {
            .select-wrapper--xs .select-trigger {
                width: 9.8rem;
            }
            .form-control-group {
                & + .form-control-group {
                    margin-top: 1.3rem;
                }
            }
            .btn--rounded {
                margin-top: 1.2rem;
            }
        }
    }

    // form
    &-form {
        &__footer__inner {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            @media (max-width: 480px) {
                justify-content: flex-start;
            }
            .btn {
                padding: 0 5px;
                min-width: 13rem;
                margin-bottom: 1.7rem;
                @media (max-width: 480px) {
                    margin-bottom: 1.2rem;
                }
                &:not(:last-child) {
                    margin-right: 1.7rem;
                    @media (max-width: 480px) {
                        margin-right: 1.2rem;
                    }
                }
            }
        }
    }
}