mixin make-a-story(data)
	section.make-story
		.container-lg
			.page-title
				h2 Make a Story
			.make-story__settings
				.form-control-group
					span.form-control-label Choose a Language:
					.select-wrapper
						.select-trigger
							span.select-trigger__name English
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner.js-scrollbar
								.select-option
									span.select-option__name Russian
								.select-option.is-selected
									span.select-option__name English
								.select-option
									span.select-option__name Ukrainian
								.select-option
									span.select-option__name Chineese
				.form-control-group
					span.form-control-label Client’s Name #[span.form-control-label__sub (Optional)]
					.form-control-wrap
						input.form-control(type="text", Placeholder="Your name")
			.make-story__tabs
				.make-story__tabs__triggers
					button.make-story__tabs__trigger.is-active(type="button")
						span Foreigners
					button.make-story__tabs__trigger(type="button")
						span Residence
					button.make-story__tabs__trigger(type="button")
						span East African
				.make-story__tabs__content
					+content-box({class: 'is-active'})
					+content-box({class: ''})
					+content-box({class: ''})

mixin content-box(data)
	.make-story__tabs__content-box(class='' + data.class ? data.class : null)
		.make-story__tabs__content-box__inner
			.make-story__age-line
				.make-story__age-line__info
					.make-story__age-line__info__icon
						+svg('icon-adult')
					.make-story__age-line__info__text
						span.make-story__age-line__info__title Adult
						span.make-story__age-line__info__range From 16
				.make-story__age-line__control
					.form-control-group
						.select-wrapper.select-wrapper--xs
							.select-trigger
								span.select-trigger__name Pax
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner.js-scrollbar
									.select-option.is-selected
										span.select-option__name Pax
									.select-option
										span.select-option__name Pax 1
									.select-option
										span.select-option__name Pax 2
			.make-story__age-line
				.make-story__age-line__info
					.make-story__age-line__info__icon
						+svg('icon-teenager')
					.make-story__age-line__info__text
						span.make-story__age-line__info__title Teenager
						span.make-story__age-line__info__range (5-16 yo)
				.make-story__age-line__control
					.form-control-group
						.form-control-wrap.form-control-wrap--age
							.form-control-age-label
								span 1. Age:
							input.form-control(type="number", placeholder="0")
							button.btn.btn-close(type="button")
								+svg('icon-close')
					button.btn.btn--rounded(type="button")
						span Add teenager
			.make-story__age-line
				.make-story__age-line__info
					.make-story__age-line__info__icon
						+svg('icon-child')
					.make-story__age-line__info__text
						span.make-story__age-line__info__title Child
						span.make-story__age-line__info__range (0-5 yo)
				.make-story__age-line__control
					.form-control-group
						.form-control-wrap.form-control-wrap--age
							.form-control-age-label
								span 1. Age:
							input.form-control(type="number", placeholder="0")
							button.btn.btn-close(type="button")
								+svg('icon-close')
					button.btn.btn--rounded(type="button")
						span Add child
		.make-story__tabs__content-box__footer
			span.make-story__tabs__content-box__title Total Pax: 4
			ul.make-story__tabs__content-box__list.h-reset-list
				li 
					span Foreign Adult: 2
				li 
					span Foreign Child: 1
				li 
					span East African Adult: 1
				li 
					span East African Child: 2