@mixin font-face ($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
	@font-face {
		font-family: $fontname;
		src: url('../fonts/' + $fontfile + '/' + $fontfile + '.eot');
		src: url('../fonts/' + $fontfile + '/' + $fontfile + '.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.woff') format('woff'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.ttf') format('truetype'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.svg##{fontname}') format('svg');
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};

@include font-face('sfuitext', SFUIText-Light, 300);
@include font-face('sfuitext', SFUIText-LightItalic, 300, italic);
@include font-face('sfuitext', SFUIText-Regular, 400);
@include font-face('sfuitext', SFUIText-RegularItalic, 400, italic);
@include font-face('sfuitext', SFUIText-Medium, 500);
@include font-face('sfuitext', SFUIText-MediumItalic, 500, italic);
@include font-face('sfuitext', SFUIText-Semibold, 600);
@include font-face('sfuitext', SFUIText-SemiboldItalic, 600, italic);
@include font-face('sfuitext', SFUIText-Bold, 700);
@include font-face('sfuitext', SFUIText-BoldItalic, 700, italic);
@include font-face('sfuitext', SFUIText-Heavy, 800);
@include font-face('sfuitext', SFUIText-HeavyItalic, 800, italic);