.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	@media (max-width: $sw-sm-max) {
		padding-top: 6.2rem;
	}
	@media (max-width: $sw-xx-max) {
		padding-top: 5rem;
	}
}

// container
.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	@media (min-width: $sw-xs-min) {
		width: 750px;
	}
	@media (min-width: $sw-sm-min) {
		width: 950px;
	}
	@media (min-width: $sw-md-min) {
		width: 1030px;
	}
}

.container-fluid {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	@media (max-width: $sw-xx-max) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.container-lg {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	@media (min-width: $sw-xs-min) {
		width: 750px;
	}
	@media (min-width: $sw-sm-min) {
		width: 950px;
	}
	@media (min-width: $sw-md-min) {
		width: 1088px;
	}
}

.container-xl {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	@media (min-width: $sw-xs-min) {
		width: 750px;
	}
	@media (min-width: $sw-sm-min) {
		width: 950px;
	}
	@media (min-width: $sw-md-min) {
		width: 1198px;
	}
}

// elements
a {
	transition: color .3s ease;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	color: #1A1A1A;
	text-transform: capitalize;
}

h2 {
	font-size: 1.7rem;
	line-height: 1.2em;
	margin-bottom: 1.5rem;
	@media (max-width: $sw-xs-max) {
		margin-bottom: 1rem;
	}
}

h3 {
	font-size: 1.5rem;
	line-height: 1.2em;
}

// main tag
.main-content {
	min-height: calc(100vh - 12rem);
	@media (max-width: $sw-md-max) {
		min-height: calc(100vh - 11.2rem);
	}
	@media (max-width: $sw-xx-max) {
		min-height: calc(100vh - 10rem);
	}
}

// page content wrap
.page-content {
	padding: 3.1rem 0 10rem 0;
	@media (max-width: $sw-xs-max) {
		padding: 2.5rem 0 8rem 0;
	}
	@media (max-width: $sw-xx-max) {
		padding: 1.8rem 0 4rem 0;
	}
	&--kilimanjaro {
		padding: 4.6rem 0 10rem 0;
		@media (max-width: $sw-xs-max) {
			padding: 4rem 0 8rem 0;
		}
		@media (max-width: $sw-xx-max) {
			padding: 3.3rem 0 4rem 0;
		}
	}
}

// collapses
.js-collapse {
	&.is-collapsed {
		.js-collapse-inner {
			display: block;
		}
	}

	&-inner {
		display: none;
	}
}

// page links
.page-links {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-bottom: 2.6rem;
	&__item {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 2.6rem;
		background-color: #F9F9F9;
		border: 1px solid #D5D5D5;
		border-radius: 5px;
		position: relative;
		text-transform: uppercase;
		font-weight: 500;
		padding: 0 1.3rem 0 1.1rem;
		font-size: 1.1rem;
		line-height: 1em;
		letter-spacing: 0.08em;
		color: #818181;
		transition-property: color, box-shadow, background-color, border-color;
		transition-duration: .3s;
		transition-timing-function: ease;
		box-shadow: none;
		margin-bottom: 2rem;
		margin-right: 2rem;
		text-decoration: none;
		@media (max-width: $sw-xs-max) {
			margin-bottom: 1.5rem;
			margin-right: 1.5rem;
		}
		&:hover {
			@media (min-width: $sw-sm-min) {
				background-color: $white;
				box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
			}
		}
		&:before {
			content: '';
			display: block;
			margin-right: 9px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #D1D1D1;
			transition: background-color .3s ease;
		}
		&.is-active {
			background-color: $white;
			box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
			color: #1A1A1A;
			border-color: transparent;
			&:before {
				background-color: $green;
			}
		}
	}
}

// page title
.page-title {
	margin-bottom: 3.5rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	@media (max-width: $sw-xs-max) {
		margin-bottom: 2.5rem;
	}
	&__side {
		display: flex;
		align-items: center;
	}
}

// section title
.section-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	h3 {
		margin-right: 1.3rem;
	}
	.form-control-wrap {
		width: 22.6rem;
		margin-left: 1rem;
	}
	.currency-label {
		margin-right: auto;
	}
}

// currency label
.currency-label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: auto;
	height: 2.2rem;
	background-color: $dark;
	border-radius: 3rem;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.1rem;
	line-height: 1em;
	color: $white;
	padding: 0 1.1rem;
}

// section table
.section-table {
	width: 100%;
	padding-bottom: 2rem;
	&-wrap {
		overflow: hidden;
		overflow-x: auto;
		padding-right: 5px;
		margin-right: -5px;
	}
	&__head {
		margin-bottom: 1.1rem;
		height: 3.2rem;
		background-color: #F6F6F6;
		border-radius: 5px;
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 0.95em;
		color: #919191;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0 7px;
		.col {
			color: #919191 !important;
		}
	}
	.col {
		display: flex;
		align-items: center;
		.icon-check {
			font-size: 8px;
			color: #606060;
		}
	}
	&__row {
		background: #FFFFFF;
		box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		display: flex;
		align-items: center;
		width: 100%;
		&__number {
			width: 3.2rem;
			height: 3.2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #EEEEEE;
			border-radius: 3px;
			font-weight: 600;
			font-size: 1.1rem;
			line-height: 1.18em;
			text-align: center;
			color: #0C0C0C;
			margin-right: 1.3rem;
			flex-shrink: 0;
			@media (max-width: 474px) {
				width: 2.6rem;
				height: 2.6rem;
				margin-right: 1rem;
			}
		}
		&__name {
			width: 100%;
			font-weight: 500;
			font-size: 1.2rem;
			line-height: 1.16em;
			color: $dark;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

// ui section
.ui-section {
	padding: 10rem 0;
	background-color: $white;
	@media (max-width: $sw-xx-max) {
		padding: 5rem 0;
	}
	&:nth-child(even) {
		background-color: #F5F7FA;
	}
	&__title {
		display: block;
		width: 100%;
		margin-bottom: 6rem;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 2.5rem;
		text-align: center;
		@media (max-width: $sw-xx-max) {
			font-size: 2rem;
			margin-bottom: 3rem;
		}
	}
	&-icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		&__col {
			width: calc(100% / 7);
			margin-bottom: 2.5rem;
			padding: 0 5px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: flex-start;
			@media (max-width: $sw-xx-max) {
				width: 25%;
			}
			@media (max-width: 449px) {
				width: 50%;
				margin-bottom: 1.5rem;
			}
		}
		&__box {
			width: 5rem;
			height: 5rem;
			border: 1px solid gray;
			border-radius: 3px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 1rem;
			.icon {
				font-size: 2.5rem;
			}
		}
		&__name {
			display: block;
			width: 100%;
			text-align: center;
			font-size: 1.4rem;
			@media (max-width: $sw-xx-max) {
				font-size: 1.3rem;
			}
		}
	}

	&-forms {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		& > .form-control-group {
			width: 100%;
			max-width: 500px;
			margin-bottom: 4rem;
		}
		& > .form-upload-group {
			width: 100%;
			max-width: 500px;
			margin-bottom: 4rem;
		}
		& > .datepicker-group {
			margin-bottom: 4rem;
		}
		& > .form-control-datepicker {
			margin-bottom: 4rem;
		}
		& > .form-select-group {
			margin-bottom: 4rem;
		}
	}

	&-buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		&__col {
			width: 25%;
			margin-bottom: 3rem;
			@media (max-width: $sw-xx-max) {
				width: 50%;
			}
		}
		&__box {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 1rem;
			height: 4rem;
		}
		&__name {
			display: block;
			width: 100%;
			text-align: center;
			font-size: 1.4rem;
			@media (max-width: $sw-xx-max) {
				font-size: 1.3rem;
			}
		}
	}

	&-edit-fields {
		&__col {
			width: 100%;
			padding: 3rem 0;
		}
	}
	
	&-load-photo {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&__col {
			width: calc(50% - 1.5rem);
			padding: 3rem 0;
			@media (max-width: $sw-xs-max) {
				width: 100%;
			}
			&--fluid {
				width: 100%;
			}
		}
	}

	&-age {
		display: flex;
		flex-wrap: wrap;
		margin-left: -1rem;
		margin-right: -1rem;
		&__col {
			width: auto;
			padding: 0 1rem;
		}
	}

	&-pagination {
		display: flex;
		justify-content: center;
	}
}
