.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-child {
  width: 0.5712890625em;
}

.icon-teenager {
  width: 0.4736328125em;
}

.icon-adult {
  width: 0.478515625em;
}