mixin national-parks(data)
	section.national-parks
		.page-title
			h2 Safari | National Parks
			.page-title__side
				.form-control-wrap
					input.form-control-search(type="text", placeholder="Search")
					.form-control-icon
						+svg('icon-search')
				a.btn.btn--green(href="javascript:void(0)") 
					span Add Park
		.national-parks__table-wrap(data-simplebar)
			.national-parks__table
				.national-parks__table__head
					.col.col-name 
						span Park Name
					.col.col-created
						span Created
					.col.col-update
						span Last Update
				+np-row()
				+np-row()
				+np-row()
				+np-row()
				+np-row()
				+np-row()
				+np-row()
				+np-row()
				+np-row()
				+np-row()
				+np-row()
				+np-row()
			
mixin np-row(data)
	a(href="javascript:void(0)").national-parks__table__row
		.col.col-name
			span Seregeti National Park
		.col.col-created
			span 04 Aug 2020
		.col.col-update
			span 04 Aug 2020
		.col.col-action
			button.national-parks__table__dropdown-trigger(type="button")
				+svg('icon-more')