//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/header/header
include ../components/footer/footer


//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		.l-wrapper
			block header
				+header()
			main.main-content
				block content
			block footer
				+footer()
			block beforescripts
		block scripts
		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src=route.js + "main.js")