input {
    -webkit-appearance: none !important;
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
    }
    &[type="number"] {
        -moz-appearance: textfield !important;
    }
    &[type="number"]:hover,
    &[type="number"]:focus {
        -moz-appearance: number-input;
    }
}
.form-control {
    height: 3.6rem;
    padding: 0 3.6rem 0 1.1rem;
    font-size: 1.2rem;
    line-height: 1em;
    color: $dark;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid $silver;
    background-color: $white;
    transition-property: border-color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    width: 100%;
    &[type="number"] {
        padding: 0 8px !important;
    }
    &[readonly] {
        background-color: #F9F9F9;
    }
    &:not([readonly]):focus {
        outline: none;
        box-shadow: none;
        border-color: #929292;
        @include placeholder {
            opacity: 0;
        }
    }
    &.maskField {
        &:focus {
            @include placeholder {
                opacity: 1;
            }
        }
    }
    .form-control-wrap--double & {
        border-radius: 3px 0 0 3px;
        padding: 0 1.3rem 0 1.1rem
    }
    @include placeholder {
        font-size: 1.2rem;
        line-height: 3.6rem;
        color: #818181;
        opacity: 1;
        transition: opacity .3s ease;
    }
    &-time {
        max-width: 7.8rem;
        text-align: center;
        padding: 0 8px !important;
    }
    &-label, &-label-main {
        display: flex;
        width: 100%;
        margin-bottom: 7px;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.15em;
        color: $dark;
        &__sub {
            font-size: 1rem;
            line-height: 1.2em;
            color: #717171;
            display: block;
            margin-left: auto;
        }
    }
    &-datepicker {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
            max-width: 200px;
        }
        &--labeled {
            .form-control {
                border-radius: 0 3px 3px 0;
                &-wrap {
                    width: calc(100% - 4.7rem);
                }
                &-group {
                    display: flex;
                    flex-wrap: wrap;
                    &:first-child {
                        .form-control-label {
                            background-color: $green;
                            border: 1px solid $green;
                        }
                    }
                    &:last-child {
                        .form-control-label {
                            background-color: #929292;
                            border: 1px solid #6F6F6F;
                        }
                    }
                }
                &-label {
                    width: 4.7rem;
                    border-radius: 3px 0 0 3px;
                    text-align: center;
                    color: $white;
                    font-weight: 500;
                    font-size: 1.2rem;
                    line-height: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0;
                    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
                }
            }
        }
        .form-control {
            &:focus {
                border-color: #BCBCBC;
                & + .form-control-icon {
                    .icon-calendar {
                        color: $dark;
                    }
                }
            }
            &-group {
                width: 20rem;
                & + .form-control-group {
                    margin-left: 1.8rem;
                    @media (max-width: $sw-xx-max) {
                        margin-left: 0;
                        margin-top: 1.5rem;
                    }
                }
            }
        }
        .icon-calendar {
            font-size: 1.3rem;
            color: #BEBEBE;
            transition: color .3s ease;
        }
    }
    &-group {
        position: relative;
        &--radio {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
            .form-control-radio {
                margin-right: 2rem;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 1rem;
                }
            }
        } 
        &--double {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .form-control {
                padding: 0 1.1rem;
                &-wrap {
                    width: 8rem;
                    margin-left: 9px;
                }
            }
        }
        &--labeled {
            display: flex;
            .form-control-label {
                width: auto;
                border-radius: 3px 0 0 3px;
                text-align: center;
                color: #fff;
                font-weight: 500;
                font-size: 1.2rem;
                padding: 0 8px;
                line-height: 1.16em;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-bottom: 0;
                text-transform: capitalize;
                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
                background-color: #77B017;
                border-color: #77B017;
                transition: border-color .3s ease, background-color .3s ease;
            }
            .form-control-wrap {
                width: auto;
            }
            .form-control {
                width: 4rem;
                text-align: left;
                border-radius: 0 3px 3px 0;
                padding: 0 3px !important;
                text-align: center;
                border-left: none;
                @include placeholder {
                    text-align: center;
                }
            }
            .select-trigger {
                width: 19.6rem;
                border-radius: 0 3px 3px 0;
                border-left: none;
            }
        }
        &--cell {
            display: flex;
            .form-control-group__side {
                &:first-child {
                    width: 10rem;
                }
                &:last-child {
                    width: calc(100% - 10rem);
                }
            }
            .form-control {
                border-radius: 0 3px 3px 0;
                padding: 0 1.3rem 0 9px;
            }
            .select-wrapper {
                width: 100%;
                &.is-active {
                    .select-trigger {
                        border-radius: 3px 0 0 0;
                    }
                }
            }
            .select-trigger {
                width: 100%;
                border-radius: 3px 0 0 3px;
                border-right: none;
            }
            .select-trigger__icon {
                width: 1.8rem;
                justify-content: flex-start;
                background-color: transparent;
                &:after {
                    border: none
                }
            }
            .select-trigger__name {
                width: calc(100% - 1.8rem);
                padding: 0 7px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            .select-option {
                padding: 3px 4px 3px 7px;
                &__name {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
        }
        &--time {
            display: flex;
            &.is-active {
                .form-control-label {
                    background-color: #77B017;
                    border-color: #77B017;
                }    
            }
            .form-control-wrap {
                width: auto;
            }
            .form-control-label {
                width: 5.6rem;
                border-radius: 3px 0 0 3px;
                text-align: center;
                color: #fff;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.16em;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-bottom: 0;
                text-transform: capitalize;
                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
                background-color: #929292;
                border: 1px solid #6F6F6F;
                transition: border-color .3s ease, background-color .3s ease;
            }
            .form-control-time {
                width: 5.2rem;
                text-align: center;
                border-radius: 0 3px 3px 0;
                padding: 0 4px;
            }
        }
        &--persons {
            .select-trigger {
                width: 8.1rem;
            }
            &__grid {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @media (max-width: $sw-xx-max) {
                    flex-wrap: wrap;
                }
            }
            &__col {
                display: inline-flex;
                align-items: center;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
                & + .form-control-group--persons__col {
                    margin-left: 1.2rem;
                    @media (max-width: $sw-xx-max) {
                        margin-left: 0;
                        margin-top: 1rem;
                    }
                }
                .icon {
                    margin-right: 5px;
                    &-adult {
                        color: #2493D9;
                        font-size: 2.3rem;
                    }
                    &-teenager {
                        color: #69951E;
                        font-size: 2rem;
                    }
                    &-child {
                        color: #CD67A1;
                        font-size: 1.6rem;
                    }
                }
                &__info {
                    display: flex;
                    align-items: center;
                    min-width: 5.4rem;
                }
            }
            &__name {
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1em;
                color: #2E2E2E;
                margin: 0 7px 0 2px;
            }
        }
        &-divider {
            height: 3.6rem;
            width: 3.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            .icon-check-double {
                font-size: 8px;
                color:#1B1B1B;
            }
        }
        &__error {
            position: absolute;
            font-size: 1.1rem;
            line-height: 1.18em;
            color: #6B6B6B;
            left: 0;
            top: calc(100% + 1rem);
            width: 100%;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (max-width: $sw-xx-max) {
                left: auto;
                top: auto;
                position: relative;
                margin-top: 1rem;
            }
        }
        &__equal {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1em;
            text-transform: capitalize;
            color: #747474;
        }
    }
    &-age-label {
        height: 3.6rem;
        padding: 0 6px;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.15em;
        color: #1B1B1B;
        border-radius: 3px 0 0 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FAFAFA;
        border: 1px solid #A4A4A4;
    }
    &-wrap {
        position: relative;
        width: 100%;
        &-labeled--lg {
            .form-control {
                &-wrap {
                    width: 17rem;
                }
                &-label-descr {
                    min-width: 12rem;
                }
            }
        }
        &-labeled--sm {
            .form-control {
                &-wrap {
                    width: 16rem;
                }
                &-label-descr {
                    min-width: 6rem;
                }
            }
        }
        &-labeled--xs {
            .form-control {
                &-wrap {
                    width: 14rem;
                }
                &-label-descr {
                    min-width: 9rem;
                }
            }
        }
        &-labeled {
            display: flex;
            background-color: $white;
            .icon-calendar {
                color: #BEBEBE;
                font-size: 1.3rem;
                transition: color .3s ease;
            }
            .form-control-wrap {
                position: relative;
            }
            .form-control-label-descr {
                padding: 0 6px;
                border: 1px solid#BCBCBC;
                background-color: #F1F1F1;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.15em;
                color: #2E2E2E;
                border-radius: 3px 0 0 3px;
            }
            .form-control {
                border-radius: 0 3px 3px 0;
                padding: 0 1.1rem;
                border-color: #BCBCBC;
                border-left: none;
                width: 100%;
                &:focus {
                    border-color: #BCBCBC;
                    & + .form-control-icon {
                        .icon-calendar {
                            color: #2E2E2E;
                        }
                    }
                }
            }
        }
        &--double {
            display: flex;
        }
        &--days {
            display: flex;
            .form-control {
                border-radius: 3px 0 0 3px;
                border: 1px solid #BCBCBC;
                border-right: none;
                width: 8.3rem;
            }
            .form-control-label-descr {
                min-width: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                background-color: #FAFAFA;
                border: 1px solid #A4A4A4;
                border-radius: 0 3px 3px 0;
                font-weight: 500;
                font-size: 1.1rem;
                line-height: 1em;
                color: #7A7A7A;
                padding: 0 5px;
           } 
        }
        &--age {
            background: #FFFFFF;
            box-sizing: border-box;
            display: flex;
            .form-control {
                width: 4rem;
                height: 3.6rem;
                text-align: center;
                border-radius: 0;
                border: none;
                border-top: 1px solid #bcbcbc;
                border-bottom: 1px solid #bcbcbc;
                padding: 0 5px !important;
                @include placeholder {
                    text-align: center;
                }
            }
            .btn-close {
                width: 3.8rem;
                height: 3.6rem;
                min-width: auto;
                border: 1px solid #A4A4A4;
                background-color: #FAFAFA;
                border-radius: 0 3px 3px 0;
                padding: 0;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        background-color: darken(#FAFAFA, 3%);
                    }
                }
                &:active {
                    background-color: darken(#FAFAFA, 5%);
                }
                .icon-close {
                    font-size: 9px;
                    color: #ADADAD;
                    margin-right: 0;
                }
            }
        }
        &.is-correct {
            .icon-check {
                opacity: 1;
                visibility: visible;
            }
        }
        &.is-error {
            .form-control {
                background-color: rgba(244, 152, 152, 0.2);
            }
            & + .form-control-error-descr {
                display: block;
            }
        }
    }
    &-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        right: 1.1rem;
        &.is-active {
            .icon-eye {
                color: $dark;
            }
        }
        .icon-eye {
            font-size: 1.3rem;
            color: $silver;
            transition: color .3s ease;
        }
        .icon-check {
            font-size: 1rem;
            color: $green;
            opacity: 0;
            transition-property: opacity, visibility;
            transition-duration: .3s;
            transition-timing-function: ease;
        }
        .icon-search {
            font-size: 1.4rem;
            color: #A4A4A4;
        }
    }
    &-error-descr {
        display: none;
        width: 100%;
        text-align: right;
        font-size: 1.1rem;
        line-height: 1.2em;
        text-align: right;
        color: #6B6B6B;
        margin-top: 7px;
    }
    &-checkbox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        input {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: -9999em;
            left: -9999em;
            width: 0;
            height: 0;
            &:checked {
                & + .form-control-checkbox__box {
                    .icon-check {
                        opacity: 1;
                        visibility: visible;
                    }
                    & + .select-option__name, 
                    & + .select-option__image {
                        & + .select-option__name {
                            color: #1B1B1B;
                        }
                    }
                }
            }
        }
        &__box {
            width: 1.6rem;
            height: 1.6rem;
            position: relative;
            border-radius: 2px;
            background: $white;
            border: 1px solid #959595;
            flex-shrink: 0;
            cursor: pointer;
            margin-right: 5px;
            .icon-check {
                font-size: 8px;
                color: #606060;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                visibility: hidden;
                transition: opacity .3s ease, visibility .3s ease;
            }
        }
        &__name {
            font-weight: 500;
            font-size: 1.2rem;
            color: #1B1B1B;
            line-height: 1.5em;
        }
        &__img {
            width: 1.6rem;
            height: 1.6rem;
            margin-left: 9px;
        }
    }
    &-checkbox-person {
        width: 3.6rem;
        height: 3.6rem;
        cursor: pointer;
        input {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: -9999em;
            left: -9999em;
            width: 0;
            height: 0;
            &:checked {
                & + .form-control-checkbox-person__box {
                    border-color: #B4B4B4;
                    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
                    .form-control-checkbox-person__icon {
                        transform: translateZ(0) scale(1);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        &__box {
            width: 100%;
            height: 100%;
            background: $white;
            border: 1px solid #BCBCBC;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: box-shadow .3s ease, border-color .3s ease;
            .icon {
                &-adult {
                    font-size: 2.3rem;
                    color: #2493D9;
                }
                &-teenager {
                    font-size: 1.8rem;
                    color: #69951E;
                }
                &-child {
                    font-size: 1.6rem;
                    color: #CD67A1;
                }
            }
        }
        &__icon {
            position: absolute;
            top: -8px;
            left: -8px;
            transform: translateZ(0) scale(0);
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease;
            .icon-check-rounded {
                font-size: 1.7rem;
            }
        }
    }
    &-radio {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        input {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: -9999em;
            left: -9999em;
            width: 0;
            height: 0;
            &:checked {
                & + .form-control-radio__box {
                    &:after {
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
        }
        &__box {
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            border: 1px solid #959595;
            position: relative;
            background-color: $white;
            margin-right: 7px;
            &:after {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #77B017;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: transform .3s ease;
            }
        }
        &__name {
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.18em;
            color: #2E2E2E;
        }
    }
    &-search {
        width: 100%;
        height: 3.2rem;
        border-radius: 3rem;
        border: 1px solid #C6C6C6;
        color: $darken;
        font-size: 1.2rem;
        line-height: 1em;
        outline: none;
        box-shadow: none;
        padding: 0 3.5rem 0 1.3rem;
        @include placeholder {
            color: rgba($darken, 0.6);
            font-size: 1.2rem;
            line-height: 3.2rem;
            opacity: 1;
            transition: opacity .3s ease;
        }
        &:focus {
            outline: none;
            box-shadow: none;
            @include placeholder {
                opacity: 0;
            }
        }
        & + .form-control-icon {
            right: 1.3rem;
        }
    }
    &-action {
        min-width: auto;
        width: 100%;
        padding: 6px 1.2rem;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 0;
        &:hover {
            @media (min-width: $sw-sm-min) {
                background-color: rgba(0,0,0,0.05);
                .form-control-action__text {
                    color: #1A1A1A;
                }
            }
        }
        &:active {
            background-color: rgba(0,0,0,0.1);
        }
        &__icon {
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &.icon {
                &--green {
                    background-color: #219B52;
                }
                &--blue {
                    background-color: #439AD1;
                }
                &--orange {
                    background-color: #EB9514;
                }
                &--red {
                    background-color: #DA3E63;
                }
                &--light-green {
                    background-color: #77B017;
                }
            }
            .icon {
                margin-right: 0;
                color: $white;
                &-edit {
                    font-size: 1rem;
                }
                &-close {
                    font-size: 8px;
                }
                &-link {
                    font-size: 1.2rem;
                }
                &-copy {
                    font-size: 1rem;
                }
                &-letter {
                    font-size: 1rem;
                }
            }
        }
        &__text {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1em;
            color: rgba(#1A1A1A, 0.6);
            display: block;
            text-transform: capitalize;
            transition: color .3s ease;
        }
    }
    &-edit {
        &__icon {
            background-color: #219B52;
        }
    }
    &-remove {
        &__icon {
            background-color: #DA3E63;
        }
    }
    &-photo {
        position: relative;
        margin-right: 2rem;
        @media (max-width: $sw-xx-max) {
            margin-right: 1.5rem;
        }
        &:hover {
            .btn--remove {
                opacity: 1;
                visibility: visible;
                transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            }
        }
        .form-control-photo-group--squared & {
            margin-right: 3rem;
            @media (max-width: $sw-xx-max) {
                margin-right: 1.5rem;
            }
            @media (max-width: 380px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 1rem;
            }
        }
        .btn--remove {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(0) translateZ(0) scale(0);
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease;
            .icon-close {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        &-group {
            display: flex;
            justify-content: flex-start;
            margin-top: 3.6rem;
            .input-hidden {
                width: 0;
                height: 0;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: -9999em;
                right: -9999em;
                width: 0;
                height: 0;
            }
            &--squared {
                @media (max-width: 380px) {
                    margin-top: 3rem;
                    flex-wrap: wrap;
                }
            }
        }
        &__box {
            display: block;
            width: 13.2rem;
            height: 13.2rem;
            border-radius: 50%;
            position: relative;
            border: 1px solid #A6A6A6;
            background-color: #EAEAEA;
            &:after {
                content: '';
                border-radius: inherit;
                display: block;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: 2px solid $white;
                position: relative;
                z-index: 2;
            }
            img {
                border-radius: inherit;
            }
            .form-control-photo-group--squared & {
                width: 20.6rem;
                height: 14.6rem;
                border-radius: 7px;
                @media (max-width: $sw-xx-max) {
                    width: 15rem;
                    height: 13rem;
                }
                @media (max-width: 380px) {
                    width: 100%;
                }
            }
        }
        &-content {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            .btn {
                font-size: 1.1rem;
            }
            &__line {
                width: 100%;
                margin: 7px 0;
                @media (max-width: 380px) {
                    margin: 4px 0;
                }
                .form-control-photo-group--squared & {
                    @media (max-width: 380px) {
                        text-align: center;
                    }
                }
            }
            &__size {
                display: block;
                width: 100%;
                margin-bottom: 0;
                font-size: 1.2rem;
                line-height: 1.16em;
                color: #818181;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.1rem;
                }
                b {
                    font-weight: 400;
                    color: #606060;
                }
            }
        }
        &-name {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.16em;
            color: $dark;
            margin: 4px 0;
            display: block;
            @media (max-width: $sw-xx-max) {
                margin: 0;
            }
        }
    }
}

.form-upload-group {
    @media (max-width: $sw-xx-max) {
        width: 100%;
        max-width: 30rem;
    }
    input {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: -99999em;
        left: -9999em;
    }
    &__title {
        display: block;
        width: 100%;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.15em;
        color: #2E2E2E;
        margin-bottom: 1.4rem;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
    }
    &__label {
        width: 12rem;
        margin-right: 1.1rem;
        @media (max-width: $sw-xx-max) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1.5rem;
        }
        .btn {
            padding: 0 5px;
            width: 100%;
            min-width: auto;
        }
    }
    &__item {
        width: 21.8rem;
        height: 3.4rem;
        background: $white;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 0 5px 0 1.9rem;
        border-left: 3px solid #639A05;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
        &__name {
            display: block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.15em;
            color: #2E2E2E;
            margin-right: 5px;
        }
        .btn {
            flex-shrink: 0;
        }
    }
}

.form-select-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: $sw-xx-max) {
        flex-wrap: wrap;
    }
    &__divider {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 3.4rem;
        align-self: flex-end;
        margin-bottom: 9px;
        @media (max-width: $sw-xx-max) {
            display: none;
        }
        .icon-arrow {
            color: #5d5c5c;
            font-size: 1.6rem;
        }
    }
    .form-control-time {
        width: 9.4rem;
        max-width: none;
    }
    .form-control-group {
        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
        &:not(.np-detail-collapse__body__day__filters &) {
            &:not(:last-child) {
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
    .select-wrapper {
        display: flex;
        justify-content: flex-start;
    }
    .select-label {
        width: auto;
        min-width: 4.7rem;
        border-radius: 3px 0 0 3px;
        text-align: center;
        color: $white;
        flex-shrink: 0;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1em;
        padding: 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
        background-color: $green;
        border: 1px solid $green;
        & + .select-trigger {
            border-left: none;
            border-radius: 0 3px 3px 0;
        }
    }
    .select-trigger {
        width: 19.3rem;
    }
}


.form-select-group .select-wrapper--xs {
    .select-trigger {
        width: 11.2rem;
        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
    }
}

label.form-control-photo {
    cursor: pointer;
}

textarea.form-control {
    min-height: 10rem;
    width: 100%;
    padding: 1.1rem;
    resize: vertical;
}