.geo-section {
    width: 100%;
    &--airstrip {
        width: 100%;
        .page-title {
            margin-bottom: 2.1rem;
        }
        .geo-section__add {
            padding-bottom: 3.4rem;
            @media (max-width: $sw-xs-max) {
                padding-bottom: 5px;
            }
            @media (max-width: $sw-xx-max) {
                padding-bottom: 8px;
            }
        }
        .section-table--geo {
            @media (max-width: $sw-xs-max) {
                min-width: 92rem;
            }
            .col-airstrip {
                width: 23rem;
                padding-right: 1rem;
                @media (max-width: $sw-sm-max) {
                    width: 18rem;
                }
            }
            .col-territory {
                width: 10.6rem;
                padding-right: 1rem;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.16em;
                color: $dark;
                @media (max-width: $sw-sm-max) {
                    width: 9.4rem;
                }
            }
            .col-location {
                width: 10.6rem;
                padding-right: 1rem;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.16em;
                color: $dark;
                @media (max-width: $sw-sm-max) {
                    width: 9.4rem;
                }
            }
            .col-airstrip-area {
                width: 25rem;
                padding-right: 1rem;
                margin-right: 2rem;
                text-align: center;
                justify-content: center;
                font-weight: 500;
                font-size: 1.1rem;
                line-height: 1.18em;
                color: #959595;
            }
        }
    }

    // airstrip section
    &__airstrip {
        .section-title {
            margin-bottom: 2rem;
        }
    }
        
    // airstrip form
    &__airstrip-form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
        .form-control-group {
            @media (max-width: $sw-sm-max) {
                width: 19%;
            }
            @media (max-width: $sw-xs-max) {
                width: calc((100% - 30px) / 3);
                margin-bottom: 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                width: calc(50% - 10px);
            }
            @media (max-width: 474px) {
                width: 100%;
                margin-bottom: 1.2rem;
            }
        }
        .select-wrapper {
            @media (max-width: $sw-sm-max) {
                width: 100%;
            }
        }
        .select-trigger {
            @media (max-width: $sw-sm-max) {
                width: 100%;
            }
        }
        &__submit {
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-left: auto;
                margin-bottom: 1.2rem;
            }
            @media (max-width: 474px) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 1.2rem;
            }
        }
    }
}