mixin geo-airstrip(data)
	section.geo-section.geo-section--airstrip
		.page-title
			h2 Setting & Data | Geo | Airstrip
		.geo-section__add
			.section-title
				h3 Add airstrip
			form.geo-section__airstrip-form(action="javascript:void(0)")
				.form-control-group
					span.form-control-label Title
					.form-control-wrap
						input.form-control(type="text", Placeholder="Title")
				.form-control-group
					span.form-control-label Territory
					.select-wrapper.select-wrapper
						.select-trigger
							span.select-trigger__name Territory 1
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner
								.select-option
									span.select-option__name Territory
								.select-option.is-selected
									span.select-option__name Territory 1
								.select-option
									span.select-option__name Territory 2
								.select-option
									span.select-option__name Territory 3
				.form-control-group
					span.form-control-label Location
					.select-wrapper.select-wrapper
						.select-trigger
							span.select-trigger__name Location 1
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner
								.select-option
									span.select-option__name Location
								.select-option.is-selected
									span.select-option__name Location 1
								.select-option
									span.select-option__name Location 2
								.select-option
									span.select-option__name Location 3
				.form-control-group
					span.form-control-label Area
					.select-wrapper
						.select-trigger
							span.select-trigger__name Area 1, Area 2
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner
								.select-option
									label.form-control-checkbox(for="select_opt_1")
										input#select_opt_1(type="checkbox", checked="")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.select-option__name Area 1
								.select-option
									label.form-control-checkbox(for="select_opt_2")
										input#select_opt_2(type="checkbox", checked="")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.select-option__name Area 2
								.select-option
									label.form-control-checkbox(for="select_opt_3")
										input#select_opt_3(type="checkbox")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.select-option__name Area 3
				button.btn.btn--green.geo-section__airstrip-form__submit(type="submit") 
					span Add
		.geo-section__airstrip
			.section-title
				h3 Airstrips
				.form-control-wrap
					input.form-control-search(type="text", placeholder="Search")
					.form-control-icon
						+svg('icon-search')
			.section-table-wrap(data-simplebar)
				.section-table.section-table--geo
					.section-table__head
						.col.col-airstrip
							span Airstrip
						.col.col-territory
							span Territory
						.col.col-location
							span Location
						.col.col-airstrip-area
							span Area
						.col.col-added
							span Added
						.col.col-edited
							span Edited
					.section-table__body
						+airstrip-row()
						+airstrip-row()
						+airstrip-row()
						+airstrip-row()
						+airstrip-row()
						
			+pagination()


mixin airstrip-row(data)
	.section-table__row
		.col.col-airstrip
			.section-table__row__number 1
			.section-table__row__name Airstrip
		.col.col-territory
			span Territory
		.col.col-location
			span Location
		.col.col-airstrip-area
			span Northern Serengeti, Southern Serengeti and 2 others
		.col.col-added
			span 08 Oct 2020
		.col.col-edited
			span 08 Oct 2020
		.col.col-actions
			button.btn.btn--edit(type="button") 
				+svg('icon-edit')
			button.btn.btn--remove(type="button") 
				+svg('icon-close')