.smtp {
    &-wrapper {
        width: 100%;
        max-width: 50rem;
        .page-title {
            margin-bottom: 3.4rem;
            @media (max-width: 480px) {
                margin-bottom: 2rem;
            }
        }
    }
    &-form {
        &__inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 1.2rem;
            @media (max-width: 480px) {
                margin-bottom: 1rem;
            }
        }
        &__col {
            width: calc(50% - 1rem);
            margin-bottom: 2.2rem;
            @media (max-width: 480px) {
                width: 100%;
                margin-bottom: 1.5rem;
            }
            .select {
                &-wrapper, &-trigger {
                    width: 100%;
                }
            }
        }
        &__footer {
            padding-top: 3.4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #CECECE;
            @media (max-width: 480px) {
                padding-top: 2.5rem;
                flex-wrap: wrap;
            }
            &__side {
                @media (max-width: 480px) {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                &:not(:last-child) {
                    @media (max-width: 480px) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
            .btn {
                min-width: 13rem;
                padding: 0 1.6rem;
                & + .btn {
                    margin-left: 1.6rem;
                }
            }
        }
    }
}