mixin smtp(data)
	section.smtp-wrapper
		.page-title
			h2 Setting & Data | General | SMTP
		form(action="javascript:void(0)").smtp-form
			.smtp-form__inner
				.smtp-form__col
					.form-control-group
						span.form-control-label Choose Email Account
						.select-wrapper.select-wrapper--sm
							.select-trigger
								span.select-trigger__name Custom
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner
									.select-option.is-selected
										span.select-option__name Custom
									.select-option
										span.select-option__name Custom 1
									.select-option
										span.select-option__name Custom 2
									.select-option
										span.select-option__name Custom 3
				.smtp-form__col
					.form-control-group
						span.form-control-label SMTP
						.form-control-wrap
							input.form-control(type="text", Placeholder="smpt.yandex.ru")
				.smtp-form__col
					.form-control-group
						span.form-control-label Номер порта
						.form-control-wrap
							input.form-control(type="number", placeholder="123")
				.smtp-form__col
					.form-control-group
						span.form-control-label Email Address
						.form-control-wrap
							input.form-control(type="text", Placeholder="test@gmail.com")
				.smtp-form__col
					.form-control-group
						span.form-control-label Login
						.form-control-wrap
							input.form-control(type="text", Placeholder="Your login")
				.smtp-form__col
					.form-control-group
						span.form-control-label Password
						.form-control-wrap
							input.form-control(type="password", Placeholder="Your password")
				.smtp-form__col
					.form-control-group
						span.form-control-label Безопасное подключение
						.select-wrapper.select-wrapper--sm
							.select-trigger
								span.select-trigger__name TSL
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner
									.select-option.is-selected
										span.select-option__name TSL
									.select-option
										span.select-option__name TSL 1
									.select-option
										span.select-option__name TSL 2
									.select-option
										span.select-option__name TSL 3
			.smtp-form__footer
				.smtp-form__footer__side
					button.btn.btn--green(type="button")
						span Send test email
				.smtp-form__footer__side
					button.btn.btn--silver(type="button")
						span Cancel
					button.btn.btn--green(type="button")
						span Save