mixin kilimanjaro-routes-detail(data)
	section.np-detail
		.page-title
			h2 Kilimanjaro Routes
		.section-title
			h3 Add Route
			a.btn.btn--back(href="javascript:void(0)")
				.btn--back__icon
					+svg('icon-collapse')
				span Back
		form.np-detail-form(action="javascript:void(0)")
			.np-detail-section
				.np-detail-section__title
					span 1. Info
				+info-collapse({
					lang: 'English',
					icon: 'icon-gb',
					class: 'is-collapsed',
					btn_class: 'is-active'
				})
				+info-collapse({
					lang: 'Russian',
					icon: 'icon-rus',
					class: '',
					btn_class: ''
				})
				+info-collapse({
					lang: 'Deutch',
					icon: 'icon-deu',
					class: '',
					btn_class: ''
				})
			.np-detail-section
				.np-detail-section__title
					span 2. Climbing program
				+program-collapse({
					lang: 'English',
					icon: 'icon-gb',
					class: 'is-collapsed',
					btn_class: 'is-active'
				})
				+program-collapse({
					lang: 'Russian',
					icon: 'icon-rus',
					class: '',
					btn_class: ''
				})
				+program-collapse({
					lang: 'Deutch',
					icon: 'icon-deu',
					class: '',
					btn_class: ''
				})
			.np-detail-form__submit.np-detail-form__submit--no-border
				button.btn.btn--silver(type="button") 
					span Delete
				button.btn.btn--green.btn--shadowed(type="button")
					span Save

mixin info-collapse(data)
	.np-detail-collapse.js-collapse(class='' + data.class ? data.class : null)
		.np-detail-collapse__title
			.np-detail-collapse__lang
				.np-detail-collapse__lang__icon
					+svg(data.icon)
				span.np-detail-collapse__lang__text!= data.lang
			button.btn.btn--collapse.js-collapse-trigger(type="button", data-opened="Hide", data-closed="Show", class='' + data.btn_class ? data.btn_class : null)
				.btn--collapse__icon
					+svg('icon-collapse')
		.np-detail-collapse__inner.js-collapse-inner
			.np-detail-collapse__body
				.np-detail-collapse__body__group
					.np-detail-collapse__body__side
						.form-control-group
							span.form-control-label Name
							.form-control-wrap
								input.form-control(type="text", placeholder="Park's name")
					.np-detail-collapse__body__side
						.form-control-group
							span.form-control-label Duration
							.select-wrapper
								.select-trigger
									span.select-trigger__name 7 days
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option
											span.select-option__name 6 days
										.select-option.is-selected
											span.select-option__name 7 days
										.select-option
											span.select-option__name 8 days
										.select-option
											span.select-option__name 9 days
				.np-detail-collapse__body__group
					.np-detail-collapse__body__side
						.form-control-group
							span.form-control-label Description
							.form-control-wrap
								.js-ckeditor
					.np-detail-collapse__body__side
						.form-control-group
							span.form-control-label Additional Notes
							.form-control-wrap
								.js-ckeditor

mixin program-collapse(data)
	.np-detail-collapse.js-collapse(class='' + data.class ? data.class : null)
		.np-detail-collapse__title
			.np-detail-collapse__lang
				.np-detail-collapse__lang__icon
					+svg(data.icon)
				span.np-detail-collapse__lang__text!= data.lang
			button.btn.btn--collapse.js-collapse-trigger(type="button", data-opened="Hide", data-closed="Show", class='' + data.btn_class ? data.btn_class : null)
				.btn--collapse__icon
					+svg('icon-collapse')
		.np-detail-collapse__inner.js-collapse-inner
			.np-detail-collapse__body
				.np-detail-collapse__body__day
					.np-detail-collapse__body__day__top
						.np-detail-collapse__body__day__name
							span Day 1
						.np-detail-collapse__body__day__filters
							.form-select-group
								.form-control-group
									.select-wrapper
										.select-label
											span From
										.select-trigger
											span.select-trigger__name Lemosho Gate 3000 m
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													span.select-option__name Lemosho Gate 2000 m
												.select-option.is-selected
													span.select-option__name Lemosho Gate 3000 m
												.select-option
													span.select-option__name Lemosho Gate 4000 m
												.select-option
													span.select-option__name Lemosho Gate 5000 m
								.form-select-group__divider
									+svg('icon-arrow')
								.form-control-group
									.select-wrapper
										.select-label
											span To
										.select-trigger
											span.select-trigger__name Camp 1 3800 m
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													span.select-option__name Camp 1 2800 m
												.select-option.is-selected
													span.select-option__name Camp 1 3800 m
												.select-option
													span.select-option__name Camp 1 4800 m
												.select-option
													span.select-option__name Camp 1 5800 m
					.np-detail-collapse__body__day__content
						.form-control-group
							span.form-control-label Description
							.form-control-wrap
								.js-ckeditor
						.form-control-group
							span.form-control-label Additional Notes
							.form-control-wrap
								.js-ckeditor
						.form-control-photo-group.form-control-photo-group--squared
							input.input-hidden(type="file", id="photo_load")
							label.form-control-photo(for="photo_load")
								span.form-control-photo__box
							.form-control-photo-content
								.form-control-photo-content__line
									span.form-control-photo-name Photo
								.form-control-photo-content__line
									label.btn.btn--rounded.btn-photo-load(for="photo_load") Add Photo
								.form-control-photo-content__line
									span.form-control-photo-content__size Minimum image size: #[b 1440 x 1080p]
									span.form-control-photo-content__size Max #[b 5 MB]
				.np-detail-collapse__body__day
					.np-detail-collapse__body__day__top
						.np-detail-collapse__body__day__name
							span Day 2
						.np-detail-collapse__body__day__filters
							.form-select-group
								.form-control-group
									.select-wrapper
										.select-label
											span From
										.select-trigger
											span.select-trigger__name Lemosho Gate 3000 m
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													span.select-option__name Lemosho Gate 2000 m
												.select-option.is-selected
													span.select-option__name Lemosho Gate 3000 m
												.select-option
													span.select-option__name Lemosho Gate 4000 m
												.select-option
													span.select-option__name Lemosho Gate 5000 m
								.form-select-group__divider
									+svg('icon-arrow')
								.form-control-group
									.select-wrapper
										.select-label
											span To
										.select-trigger
											span.select-trigger__name Camp 1 3800 m
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													span.select-option__name Camp 1 2800 m
												.select-option.is-selected
													span.select-option__name Camp 1 3800 m
												.select-option
													span.select-option__name Camp 1 4800 m
												.select-option
													span.select-option__name Camp 1 5800 m
					.np-detail-collapse__body__day__content
						.form-control-group
							span.form-control-label Description
							.form-control-wrap
								.js-ckeditor
						.form-control-group
							span.form-control-label Additional Notes
							.form-control-wrap
								.js-ckeditor
						.form-control-photo-group.form-control-photo-group--squared
							input.input-hidden(type="file", id="photo_load")
							label.form-control-photo(for="photo_load")
								span.form-control-photo__box
							.form-control-photo-content
								.form-control-photo-content__line
									span.form-control-photo-name Photo
								.form-control-photo-content__line
									label.btn.btn--rounded.btn-photo-load(for="photo_load") Add Photo
								.form-control-photo-content__line
									span.form-control-photo-content__size Minimum image size: #[b 1440 x 1080p]
									span.form-control-photo-content__size Max #[b 5 MB]