.footer {
    background-color: $dark;
    position: relative;
    z-index: 50;
    &-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 5rem;
        p, a, span {
            text-transform: capitalize;
            color: $silverChalice;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.1em;
        }
    }
}