mixin collapses(data)
	.make-story-collapses
		.container-lg
			.make-story__collapse.is-collapsed.js-collapse
				.make-story__collapse__title
					.make-story__collapse__title__icon
						+svg('icon-house')
					span.make-story__collapse__title__text Hotels
					button.btn.btn--collapse.is-active.js-collapse-trigger(type="button", data-opened="Hide", data-closed="Show")
						.btn--collapse__icon
							+svg('icon-collapse')
				.make-story__collapse__inner.js-collapse-inner
					.section-table-wrap
						.section-table.section-table--hotels
							.section-table__head
								.col.col-day
									span Night
								.col.col-hotel
									span Hotel Name
								.col.col-meal
									span Meal
								.col.col-room
									span Room
								.col.col-qty
									span Qty
								.col.col-room-type
									span Room Type
							.section-table__body
								.section-table__row
									.col.col-day
										.col-day__label
											span #[b NIGHT 1] 04/08/20
									.col.col-hotel
										span Aishi Machame Lodge 5*
									.col.col-meal
										span BB
									.col.col-room
										span SNG
									.col.col-qty
										span 2
									.col.col-persons
										+svg('icon-adult')
									.col.col-room-type
										span Single
								.section-table__row.section-table__row--simple
									.col.col-hotel
										span Aishi Machame Lodge 5*
									.col.col-meal
										span BB
									.col.col-room
										span DBL
									.col.col-qty
										span 2
									.col.col-persons
										+svg('icon-adult')
										+svg('icon-teenager')
									.col.col-room-type
										span Twin
								.section-table__row
									.col.col-day
										.col-day__label
											span #[b NIGHT 2] 04/08/20
									.col.col-hotel
										span Aishi Machame Lodge 5*
									.col.col-meal
										span BB
									.col.col-room
										span SNG
									.col.col-qty
										span 2
									.col.col-persons
										+svg('icon-adult')
									.col.col-room-type
										span Single
								.section-table__row
									.col.col-day
										.col-day__label
											span #[b NIGHT 3] 04/08/20
									.col.col-hotel
										span Aishi Machame Lodge 5*
									.col.col-meal
										span BB
									.col.col-room
										span SNG
									.col.col-qty
										span 2
									.col.col-persons
										+svg('icon-adult')
									.col.col-room-type
										span Single
			.make-story__collapse.is-collapsed.js-collapse
				.make-story__collapse__title
					.make-story__collapse__title__icon
						+svg('icon-parachute')
					span.make-story__collapse__title__text Activities
					button.btn.btn--collapse.is-active.js-collapse-trigger(type="button", data-opened="Hide", data-closed="Show")
						.btn--collapse__icon
							+svg('icon-collapse')
				.make-story__collapse__inner.js-collapse-inner
					.section-table-wrap
						.section-table.section-table--activities
							.section-table__body
								.section-table__row
									.col.col-day
										.col-day__label
											span #[b DAY 14] 04/08/20
									.col.col-activity
										span Air Balloon Safari
									.col.col-activity-persons
										span Pax Adult: #[b 5]
										span Pax Child: #[b 1]
									.col.col-pick-up-time
										span Pick up time: #[b 11:30]
									.col.col-from
										span From: #[b Aishi Machame Hotel]
								.section-table__row
									.col.col-day
										.col-day__label
											span #[b DAY 14] 04/08/20
									.col.col-activity
										span Air Balloon Safari
									.col.col-activity-persons
										span Pax Adult: #[b 5]
										span Pax Child: #[b 1]
									.col.col-pick-up-time
										span Pick up time: #[b 11:30]
									.col.col-from
										span From: #[b Aishi Machame Hotel]
			.make-story__collapse.is-collapsed.js-collapse
				.make-story__collapse__title
					.make-story__collapse__title__icon
						+svg('icon-airplane')
					span.make-story__collapse__title__text Flights
					button.btn.btn--collapse.is-active.js-collapse-trigger(type="button", data-opened="Hide", data-closed="Show")
						.btn--collapse__icon
							+svg('icon-collapse')
				.make-story__collapse__inner.js-collapse-inner
					.section-table-wrap
						.section-table.section-table--flights
							.section-table__body
								.section-table__row
									.col.col-flight-day
										.col-flight-day__icon
											+svg('icon-airplane')
										span #[b DAY 14] 04/08/20
									.col.col-flight-time
										.col-flight-time__side
											span.col-flight-time__item 18:30
											span.col-flight-time__destination Jro
										.col-flight-time__arrow
											+svg('icon-arrow')
										.col-flight-time__side
											span.col-flight-time__item 19:30
											span.col-flight-time__destination Znz
									.col.col-airlines
										span Airlines:
										b Tanzania Airlines
									.col.col-flight-persons
										span.col-flight-persons__item Adult: #[b 5]
										span.col-flight-persons__item Child: #[b 1]
									.col.col-activity-status
										span Before the activity
								.section-table__row
									.col.col-flight-day
										.col-flight-day__icon
											+svg('icon-airplane')
										span #[b DAY 14] 04/08/20
									.col.col-flight-time
										.col-flight-time__side
											span.col-flight-time__item 18:30
											span.col-flight-time__destination Jro
										.col-flight-time__arrow
											+svg('icon-arrow')
										.col-flight-time__side
											span.col-flight-time__item 19:30
											span.col-flight-time__destination Znz
									.col.col-airlines
										span Airlines:
										b Tanzania Airlines
									.col.col-flight-persons
										span.col-flight-persons__item Adult: #[b 5]
										span.col-flight-persons__item Child: #[b 1]
									.col.col-activity-status
										span After the activity
								.section-table__row
									.col.col-flight-day
										.col-flight-day__icon
											+svg('icon-airplane')
										span #[b DAY 14] 04/08/20
									.col.col-flight-time
										.col-flight-time__side
											span.col-flight-time__item 18:30
											span.col-flight-time__destination Jro
										.col-flight-time__arrow
											+svg('icon-arrow')
										.col-flight-time__side
											span.col-flight-time__item 19:30
											span.col-flight-time__destination Znz
									.col.col-airlines
										span Airlines:
										b Tanzania Airlines
									.col.col-flight-persons
										span.col-flight-persons__item Adult: #[b 5]
										span.col-flight-persons__item Child: #[b 1]
									.col.col-activity-status
										span Before the activity