.make-story-collapses {
    padding: 2rem 0 0 0;
    .make-story__collapse {
        margin-bottom: 5rem;
        &__title {
            margin-bottom: 0;
        }
    }
}

.section-table {
    &--hotels, &--activities, &--flights {
        padding-bottom: 1.5rem;
        margin-top: 2.6rem;
        .section-table__row {
            border-left: 3px solid #639A05;
            min-height: 4rem;
            padding: 4px 4px;
            margin-bottom: 5px;
        }
    }
    &--hotels {
        width: 69.1rem;
        .section-table__body {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .section-table__row {
            &--simple {
                border-left: none;
                width: auto;
            }
        }
    }
    &--activities {
        width: 76rem;
    }
    &--flights {
        width: 70rem;
        .section-table__row {
            border-left: 3px solid #639A05;
            min-height: 6rem;
            padding: 1.2rem 5px 1.2rem 1.4rem;
            margin-bottom: 5px;
        }
    }
    
    .col {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.16em;
        color: #2E2E2E;
        height: 100%;
        &-day {
            width: 10.8rem;
            margin-right: 1.3rem;
            &__label {
                width: 100%;
                background-color: #EEEEEE;
                border-radius: 3px;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.2em;
                color: #0C0C0C;
                height: 3.2rem;
                padding: 0 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                b {
                    font-weight: 700;
                }
            }
        }
        &-flight-day {
            font-size: 1rem;
            width: 12.9rem;
            b {
                font-size: 1.1rem;
                color: $black;
            }
            &__icon {
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                margin-right: 1rem;
                background-color: #439AD1;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon {
                    font-size: 1rem;
                    color: $white;
                    flex-shrink: 0;
                }
            }
        }
        &-flight-time {
            width: 17.1rem;
            padding: 0 1.4rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:before, &:after {
                content: '';
                display: block;
                width: 1px;
                height: 3.7rem;
                background-color: #919191;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
            &__side {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
            &__item {
                color: #3C83B0;
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 1.16em;
                margin-bottom: 3px;
            }
            &__destination {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.1rem;
                line-height: 1.18em;
                color: #0C0C0C;
            }
            &__arrow {
                margin: -1px 1.2rem 0 1.2rem;
                align-self: flex-start;
                .icon-arrow {
                    color: #3C83B0;
                    font-size: 2.2rem;
                }
            }
        }
        &-airlines {
            padding: 0 1.4rem;
            width: 13.3rem;
            font-weight: 600;
            position: relative;
            color: #6D6D6D;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            b {
                display: block;
                width: 100%;
                font-weight: 600;
                color: $black;
                margin-top: 2px;
            }
            &:after {
                content: '';
                display: block;
                width: 1px;
                height: 3.7rem;
                background-color: #919191;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            &:after {
                right: 0;
            }
        }
        &-flight-persons {
            padding: 0 1.4rem;
            width: 9.5rem;
            position: relative;
            color: #6D6D6D;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            b {
                font-weight: 700;
                color: $black;
                margin-left: 2px;
            }
            &:after {
                content: '';
                display: block;
                width: 1px;
                height: 3.7rem;
                background-color: #919191;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            &:after {
                right: 0;
            }
            &__item {
                & + .col-flight-persons__item {
                    margin-top: 5px;
                }
            }
        }
        &-activity-status {
            padding-left: 2.5rem;
            font-weight: 600;
            color: #6D6D6D;
        }
        &-hotel {
            width: 19.4rem;
            margin-right: 3.5rem;
            padding-left: 1.8rem;
        }
        &-meal {
            width: 3.1rem;
            margin-right: 1.7rem;
            color: #959595;
        }
        &-room {
            width: 3.4rem;
            margin-right: 2.7rem;
        }
        &-qty {
            width: 3.1rem;
            margin-right: 2.9rem;
            color: #959595;
        }
        &-activity {
            width: 12.6rem;
            padding-right: 1rem;
        }
        &-pick-up-time {
            width: 12rem;
            color: #6D6D6D;
            font-size: 1.1rem;
            b {
                color: $black;
            }
        }
        &-from {
            width: 17.5rem;
            font-size: 1.1rem;
            color: #6D6D6D;
            b {
                color: $black;
            }
        }
        &-activity-persons {
            width: 18.2rem;
            position: relative;
            padding: 0 1.5rem;
            margin-right: 1.9rem;
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #6D6D6D;
            b {
                color: $black;
            }
            &:before, &:after {
                content: '';
                display: block;
                width: 1px;
                height: 2rem;
                background-color: #919191;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }
        &-persons {
            width: 5.1rem;
            height: 2.6rem;
            margin-right: 3rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            .icon {
                flex-shrink: 0;
                display: inline-block;
                margin: 0 2px;
                &-adult {
                    font-size: 2.3rem;
                    color: #2493D9;
                }
                &-teenager{
                    font-size: 1.8rem;
                    color: #69951E;
                }
                &-child{
                    color: #CD67A1;
                    font-size: 1.6rem;
                }
            }
        }
        &-room-type {
            width: 8rem;
            margin-left: auto;
        }
    }
}