mixin age-settings(data)
	.age-box
		if data.icon
			.age-box__icon
				.age-box__icon__box
					+svg(data.icon)
				span.age-box__icon__name!= data.icon_name
		each inner in data.inners
			.age-box__inner
				.age-box__inner__descr
					span!= inner.text
				.age-box__inner__input
					input.form-control(type="number", placeholder="0")