.age-settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 1.2rem;
}
.age-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 2.4rem;
    margin-bottom: 2rem;
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        text-align: center;
        margin-right: 1rem;
        .icon {
            margin-bottom: 1px;
            &-child {
                font-size: 1.4rem;
                color: #CD67A1;
            }
            &-teenager {
                font-size: 1.8rem;
                color: #69951E;
            }
            &-adult {
                font-size: 2.3rem;
                color: #2493D9;
            }
        }
        &__box {
            width: 2.3rem;
            height: 2.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__name {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.16em;
            color: $dark;
        }
    }
    &__inner {
        border: 1px solid #BCBCBC;
        border-radius: 3px;
        overflow: hidden;
        display: flex;
        height: 3.6rem;
        & + .age-box__inner {
            margin-left: 1rem;
        }
        &__descr {
            width: 5rem;
            height: 100%;
            background: #77B017;
            border: 1px solid #77B017;
            box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.16em;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 2px;
        }
        &__input {
            width: 5rem;
            height: 100%;
            .form-control {
                width: 100%;
                height: 100%;
                border: none;
                background-color: $white;
                padding: 0 3px 0 8px;
                font-size: 1.2rem;
                line-height: 1.16em;
                color: $darken;
            }
        }
    }
}