mixin day-trips-activities(data)
	section.day-trips-activities
		.page-title
			h2!= data.title 
			.page-title__side
				.form-control-wrap
					input.form-control-search(type="text", placeholder="Search")
					.form-control-icon
						+svg('icon-search')
				a.btn.btn--green.btn--shadowed(href="javascript:void(0)") 
					span!= data.btn_text
		.day-trips-activities__table-wrap(class='' + data.table_class ? data.table_class : null, data-simplebar)
			.day-trips-activities__table
				.day-trips-activities__table__head
					.col.col-name 
						span Name
					if data.safari
						.col.col-park
							span National Park
					if data.island
						.col.col-territory
							span Territory
					if data.kilimanjaro
						.col.col-duration
							span Duration
					.col.col-created
						span Created
					.col.col-update
						span Last Update
				if data.mainland
					+mainland-rows()
				if data.safari
					+safari-rows()
				if data.island
					+island-rows()
				if data.kilimanjaro
					+kilimanjaro-rows()
		+pagination()



mixin mainland-row(data)
	a(href="javascript:void(0)").day-trips-activities__table__row
		.col.col-name
			span Day Trip
		.col.col-created
			span 04 Aug 2020
		.col.col-update
			span 04 Aug 2020
		.col.col-action
			button.day-trips-activities__table__dropdown-trigger(type="button")
				+svg('icon-more')

mixin mainland-rows(data)
	+mainland-row()
	+mainland-row()
	+mainland-row()
	+mainland-row()
	+mainland-row()
	+mainland-row()
	+mainland-row()
	+mainland-row()
	+mainland-row()
	+mainland-row()
	+mainland-row()
	+mainland-row()

mixin safari-row(data)
	a(href="javascript:void(0)").day-trips-activities__table__row
		.col.col-name
			span Safari Activity
		.col.col-park
			span Serengeti National Park
		.col.col-created
			span 04 Aug 2020
		.col.col-update
			span 04 Aug 2020
		.col.col-action
			button.day-trips-activities__table__dropdown-trigger(type="button")
				+svg('icon-more')

mixin safari-rows(data)
	+safari-row()
	+safari-row()
	+safari-row()
	+safari-row()
	+safari-row()
	+safari-row()
	+safari-row()
	+safari-row()
	+safari-row()
	+safari-row()
	+safari-row()
	+safari-row()

mixin island-row(data)
	a(href="javascript:void(0)").day-trips-activities__table__row
		.col.col-name
			span Island Activity
		.col.col-territory
			span Tanzania
		.col.col-created
			span 04 Aug 2020
		.col.col-update
			span 04 Aug 2020
		.col.col-action
			button.day-trips-activities__table__dropdown-trigger(type="button")
				+svg('icon-more')

mixin island-rows(data)
	+island-row()
	+island-row()
	+island-row()
	+island-row()
	+island-row()
	+island-row()
	+island-row()
	+island-row()
	+island-row()
	+island-row()
	+island-row()
	+island-row()

mixin kilimanjaro-row(data)
	a(href="javascript:void(0)").day-trips-activities__table__row
		.col.col-name
			span Lemosho Route
		.col.col-duration
			span 6 days
		.col.col-created
			span 04 Aug 2020
		.col.col-update
			span 04 Aug 2020
		.col.col-action
			button.day-trips-activities__table__dropdown-trigger(type="button")
				+svg('icon-more')

mixin kilimanjaro-rows(data)
	+kilimanjaro-row()
	+kilimanjaro-row()
	+kilimanjaro-row()
	+kilimanjaro-row()
	+kilimanjaro-row()
	+kilimanjaro-row()
	+kilimanjaro-row()
	+kilimanjaro-row()
	+kilimanjaro-row()
	+kilimanjaro-row()
	+kilimanjaro-row()
	+kilimanjaro-row()