.day-trips-activities {
    width: 100%;
    max-width: 80rem;
    .pagination-wrapper {
        margin-top: 3.9rem;
    }
    .page-title {
        margin-bottom: 2.2rem;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
        &__side {
            margin-top: -4px;
            @media (max-width: $sw-xx-max) {
                margin-top: 1.5rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            @media (max-width: 474px) {
                flex-wrap: wrap;
                margin-top: 1rem;
            }
        }
        .h2 {
            margin-bottom: 0;
        }
        .form-control-wrap {
            margin-right: 2.3rem;
            width: 22.6rem;
            @media (max-width: 474px) {
                margin-right: 0;
                margin-bottom: 1.5rem;
                width: 100%;
            }
        }
        .btn {
            min-width: 14.2rem;
            @media (max-width: 474px) {
                min-width: auto;
                width: 100%;
            }
        }
    }

    // table styles
    &__table {
        width: 100%;
        border-radius: 5px;
        padding-bottom: 2rem;
        @media (max-width: $sw-xx-max) {
            min-width: 56rem;
        }
        .day-trips-activities__table--safari &, 
        .day-trips-activities__table--island &,
        .day-trips-activities__table--kilimanjaro & {
            min-width: 72rem;
            @media (max-width: $sw-xx-max) {
                min-width: 72rem;
            }
        }
        &__head {
            background-color: #F7F7F7;
            display: flex;
            align-items: center;
            border-radius: 5px 5px 0 0;
            height: 3.6rem;
            & + .day-trips-activities__table__row {
                border-top-color: transparent;
                &:hover {
                    @media (min-width: $sw-sm-min) {
                        border-top-color: rgba(99, 154, 5, 0.5);
                    }
                }
            }
            .col-name, 
            .col-created, 
            .col-update, 
            .col-park, 
            .col-territory,
            .col-duration {
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 1em;
                color: #1A1A1A;
            }
        }
        &__row {
            display: flex;
            align-items: center;
            border-top: 1px solid #E3E3E3;
            border-bottom: 1px solid #E3E3E3;
            border-right: 1px solid #E3E3E3;
            border-left: 1px solid #E3E3E3;
            height: 5rem;
            background-color: transparent;
            transition: border-color .3s ease, background-color .3s ease;
            margin-top: -1px;
            text-decoration: none;
            color: #1A1A1A;
            @media (max-width: $sw-xs-max) {
                height: 4.4rem;
            }
            &:last-child {
                border-radius: 0 0 5px 5px;
            }
            &:hover {
                @media (min-width: $sw-sm-min) {
                    border-color: rgba(99, 154, 5, 0.5);
                    background-color: rgba(179, 238, 78, 0.1);
                    color: $darkGreen;
                    & + .day-trips-activities__table__row {
                        border-top-color: rgba(99, 154, 5, 0.5);
                    }
                    .col-name {
                        span, p {
                            color: $darkGreen;
                        }
                    }
                }
            }
            .col-name {
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1em;
                justify-content: flex-start;
                text-align: left;
                transition: color .3s ease;
            }
            .col-created, 
            .col-update, 
            .col-park, 
            .col-territory,
            .col-duration {
                font-size: 1.2rem;
                line-height: 1em;
                color: #606060;
            }
            .col-action {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &__dropdown-trigger {
            cursor: pointer;
            width: 4rem;
            height: 4rem;
            .icon-more {
                font-size: 1.5rem;
                color: #7C7C7C;
                transition: color .3s ease;
            }
            &:hover {
                @media (min-width: $sw-sm-min) {
                    .icon-more {
                        color: $darkGreen;
                    }
                }
            }
        }
        .col {
            display: flex;
            align-items: center;
        }
        .col-name {
            justify-content: flex-start;
            text-align: left;
            width: calc(100% - 34.5rem);
            padding: 0 1.4rem;
            .day-trips-activities__table--safari & {
                width: 17.6rem;
            }
            .day-trips-activities__table--island &,
            .day-trips-activities__table--kilimanjaro & {
                width: 24.7rem;
            }
            span {
                display: block;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: pointer;
                text-decoration: none;
                color: #1A1A1A;
                transition: color .3s ease;
            }
        }
        .col-created, 
        .col-update, 
        .col-park, 
        .col-territory,
        .col-duration {
            text-align: center;
            justify-content: center;
        }
        .col-park {
            width: 20rem;
            margin-right: 5.7rem;
            span {
                display: block;
                height: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                text-decoration: none;
            }
        }
        .col-territory, .col-duration {
            width: 16rem;
            margin-right: 3rem;
            span {
                display: block;
                height: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                text-decoration: none;
            }
        }
        .col-created {
            width: 9.1rem;
            margin-right: 3rem;
            flex-shrink: 0;
        }
        .col-update {
            width: 9.1rem;
            margin-right: 3rem;
            flex-shrink: 0;
        }
        .col-action {
            flex-shrink: 0;
            margin-left: auto;
            margin-right: 6px;
        }
    }
}