mixin login(data)
	section.login-section
		.container
			.login-inner
				.login-block
					.login-block__title
						img.login-block__logo(src="s/images/useful/svg/logo-sm.svg", alt="logo small")
						span Log In
					.login-block__error
						p.login-block__error__title The username or password is not correct.
						p.login-block__error__action Did you #[a(href="javascript:void(0)") forget your password?]
					form.login-block__form(action="javascript:void(0)")
						.form-control-group
							span.form-control-label Login or Email Address
							.form-control-wrap
								input.form-control(type="text", placeholder="Your Login")
						.form-control-group
							span.form-control-label Password
							.form-control-wrap
								input.form-control(type="password", placeholder="Your Password")
								//- .form-control-icon ACTIVE CLASS = 'is-active'
								button.form-control-icon(type="button")
									+svg('icon-eye')
						.login-block__form__submit
							button.btn.btn--green(type="button")
								span Log In