.login {
    &-section {
        background-color: $dark;
        background-image: url('../../s/images/useful/login-bg.jpg');
        background-repeat: repeat;
        background-size: auto;
        background-position: 0 0;
        width: 100%;
        min-height: calc(100vh - 12rem);
        padding-top: 9.1rem;
        @media (max-width: $sw-md-max) {
            padding-top: 8rem;
            min-height: calc(100vh - 11.2rem);
        }
        @media (max-width: $sw-xx-max) {
            padding-top: 5rem;
            min-height: calc(100vh - 10rem);
        }
        @media (max-width: 449px) {
            padding-top: 3rem;
        }
    }
    &-inner {
        display: flex;
        justify-content: center;
    }

    // login block styles
    &-block {
        width: 100%;
        max-width: 50rem;
        border-radius: 5px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        background-color: $white;
        padding: 3.5rem 3rem 3rem 3rem;
        @media (max-width: 449px) {
            padding: 2.5rem 2rem 2.5rem 2rem;
        }
        &__title {
            text-align: center;
            color: $codGray;
            text-transform: capitalize;
            font-size: 2.4rem;
            line-height: 1.2em;
            margin-bottom: 2.1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            & + .login-block__form {
                margin-top: 3.9rem;
            }
        }
        &__logo {
            height: 3.5rem;
            margin-right: 1.1rem;
        }
        &__form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 1.7rem;
            &__submit {
                margin-top: 3rem;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                @media (max-width: 449px) {
                    margin-top: 0;
                    .btn {
                        min-width: auto;
                        width: 100%;
                    }
                }
            }
            .form-control-group {
                width: calc(50% - 10px);
                @media (max-width: 449px) {
                    width: 100%;
                    margin-bottom: 1.5rem;
                }
            }
        }
        // login block error styles
        &__error {
            width: 100%;
            padding: 1.4rem 2rem;
            background: rgba(244, 152, 152, 0.2);
            border-radius: 5px;
            text-align: center;
            margin-bottom: 2.8rem;
            &__title {
                color: $black;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.2em;
                margin-bottom: 4px;
            }
            &__action {
                font-size: 1.2rem;
                line-height: 1.2em;
                color: $dark;
                a {
                    color: #6B6B6B;
                    font-size: 1.1rem;
                    line-height: 1.2em;
                    text-decoration: underline;
                    transition: color .3s ease;
                    &:hover {
                        @media (min-width: $sw-sm-min) {
                            color: $dark;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}