extends _includes/_extends/main

include _includes/components/day-trips-activities/day-trips-activities
include _includes/components/pagination/pagination

block head
	+head({'title':'Day Trips & Activities / Tanzania Day Trips'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			.page-links
				a.page-links__item.is-active(href="javascript:void(0)") Tanzania Day Trips
				a.page-links__item(href="javascript:void(0)") Safari Activities
				a.page-links__item(href="javascript:void(0)") Island Activities
			+day-trips-activities({
                title: 'Mainland Tanzania Day Trips',
                btn_text: 'Add Day Trip',
                table_class: '',
                mainland: true,
                safari: false,
                island: false
            })