extends _includes/_extends/main

include _includes/components/day-trips-activities-detail/day-trips-activities-detail
include _includes/components/age-settings/age-settings
include _includes/components/seasone-box/seasone-box

block head
	+head({'title':'Day Trips & Activities / Island Activities'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			.page-links
				a.page-links__item(href="javascript:void(0)") Tanzania Day Trips
				a.page-links__item(href="javascript:void(0)") Safari Activities
				a.page-links__item.is-active(href="javascript:void(0)") Island Activities
			+day-trips-activities-detail({
                title: 'Island Activities',
                subtitle: 'Add Island Activity',
				other_group: false,
				filter_select: false
            })