extends _includes/_extends/main

include _includes/components/day-trips-activities/day-trips-activities
include _includes/components/pagination/pagination

block head
	+head({'title':'Day Trips & Activities / Island Activities '})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			.page-links
				a.page-links__item(href="javascript:void(0)") Tanzania Day Trips
				a.page-links__item(href="javascript:void(0)") Safari Activities
				a.page-links__item.is-active(href="javascript:void(0)") Island Activities
			+day-trips-activities({
                title: 'Island Activities',
                btn_text: 'Add Activity',
                table_class: 'day-trips-activities__table--island',
                mainland: false,
                safari: false,
                island: true
            })