extends _includes/_extends/main

include _includes/components/domestics-table/domestics-table

block head
	+head({'title':'Domestic Flights'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container-xl
			+domestics-table()