extends _includes/_extends/main

include _includes/components/kilimanjaro-table/kilimanjaro-table

block head
	+head({'title':'Kilimanjaro Settings / Moon Phases'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			.page-links
				a.page-links__item(href="javascript:void(0)") Camps & Heights
				a.page-links__item(href="javascript:void(0)") Distance & Time
				a.page-links__item(href="javascript:void(0)") Temperature
				a.page-links__item.is-active(href="javascript:void(0)") Moon Phases
			+kilimanjaro-table({
				title: 'Average Temperature',
				top: false,
				temperature_table: true,
				moon_table: false
			})