extends _includes/_extends/main

include _includes/components/kilimanjaro-routes-detail/kilimanjaro-routes-detail
include _includes/components/age-settings/age-settings
include _includes/components/seasone-box/seasone-box

block head
	+head({'title':'Safari / National Parks / Detail'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			+kilimanjaro-routes-detail()