extends _includes/_extends/main

include _includes/components/kilimanjaro-settings/kilimanjaro-settings

block head
	+head({'title':'Kilimanjaro Settings / Distance and Time'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			.page-links
				a.page-links__item(href="javascript:void(0)") Camps & Heights
				a.page-links__item.is-active(href="javascript:void(0)") Distance & Time
				a.page-links__item(href="javascript:void(0)") Temperature
				a.page-links__item(href="javascript:void(0)") Moon Phases
			+kilimanjaro-settings({
                class: 'kilimanjaro-settings--distance',
                title: 'Distance and Time',
                camp: false,
                distance: true,
                submit: 'Add'
            })