extends _includes/_extends/main

include _includes/components/day-trips-activities/day-trips-activities
include _includes/components/pagination/pagination

block head
	+head({'title':'Kilimanjaro Routes'})

block header
	+header({hide_side: true})

block content
	.page-content.page-content--kilimanjaro
		.container
			+day-trips-activities({
                title: 'Kilimajaro Routes',
                btn_text: 'Add Route',
                table_class: 'day-trips-activities__table--kilimanjaro',
                mainland: false,
                safari: false,
                island: false,
                kilimanjaro: true
            })