extends _includes/_extends/main

include _includes/components/calculation-settings/calculation-settings
include _includes/components/make-a-story/make-a-story
include _includes/components/safari-car-details/safari-car-details
include _includes/components/tour-program/tour-program
include _includes/components/collapses/collapses
include _includes/components/breakdown-cost/breakdown-cost

block head
	+head({'title':'Make a story'})

block header
	+header({hide_side: true})

block content
	.page-content
		form.make-story-form(action="javascript:void(0)")
			+make-a-story()
			+safari-car-details()
			+tour-program()
			+collapses()
			+breakdown-cost()
			.make-story-form__footer
				.container-lg
					.make-story-form__footer__inner
						button.btn.btn--green(type="submit")
							span Save as Template
						button.btn.btn--green(type="submit")
							span Copy the Link
						button.btn.btn--green(type="submit")
							span Generate PDF