extends _includes/_extends/main

include _includes/components/story-templates/story-templates
include _includes/components/pagination/pagination

block head
	+head({'title':'Make a Story | Templates'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			+story-templates()