extends _includes/_extends/main

include _includes/components/managers/managers

block head
	+head({'title':'Managers'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			+managers()