extends _includes/_extends/main

include _includes/components/national-parks-detail/national-parks-detail
include _includes/components/age-settings/age-settings
include _includes/components/seasone-box/seasone-box

block head
	+head({'title':'Safari / National Parks / Detail'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			.page-links
				a.page-links__item(href="javascript:void(0)") Calculation Setting
				a.page-links__item.is-active(href="javascript:void(0)") National Parks
			+national-parks-detail()