extends _includes/_extends/main

include _includes/components/national-parks/national-parks

block head
	+head({'title':'Safari / National Parks'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			.page-links
				a.page-links__item(href="javascript:void(0)") Calculation Setting
				a.page-links__item.is-active(href="javascript:void(0)") National Parks
			+national-parks()