extends _includes/_extends/main

include _includes/components/calculation-settings/calculation-settings
include _includes/components/modal/modal

block head
	+head({'title':'Safari / Calculation Setting / Modal success'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container-lg
			.page-links
				a.page-links__item.is-active(href="javascript:void(0)") Calculation Setting
				a.page-links__item(href="javascript:void(0)") National Parks
			+calculation-settings()

block beforescripts
	+modal-success()