extends _includes/_extends/main

include _includes/components/geo-territory/geo-territory
include _includes/components/pagination/pagination

block head
	+head({'title':'Setting & Data / Geo / Territory'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			.page-links
				a.page-links__item.is-active(href="javascript:void(0)") Territory
				a.page-links__item(href="javascript:void(0)") Location
				a.page-links__item(href="javascript:void(0)") Area
				a.page-links__item(href="javascript:void(0)") Airstrip
			+geo-territory()