extends _includes/_extends/main

include _includes/components/transfer-prices/transfer-prices
include _includes/components/pagination/pagination

block head
	+head({'title':'Setting & Data / Transfer Prices'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			+transfer-prices()