extends _includes/_extends/main

include _includes/components/smtp/smtp

block head
	+head({'title':'Setting & Data / General / SMTP'})

block header
	+header({hide_side: true})

block content
	.page-content
		.container
			.page-links
				a.page-links__item(href="javascript:void(0)") Exchange Rate
				a.page-links__item.is-active(href="javascript:void(0)") SMTP
			+smtp()