extends _includes/_extends/main

include _includes/components/age-settings/age-settings
include _includes/components/pagination/pagination

block head
	+head({'title':'UI'})

block header
	+header({hide_side: true})

block content
	.ui-section
		.container
			span.ui-section__title Icons
			.ui-section-icons
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-chevron-double')
					.ui-section-icons__name
						span icon-chevron-double
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-thirdquater')
					.ui-section-icons__name
						span icon-thirdquater
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-fullmoon')
					.ui-section-icons__name
						span icon-fullmoon
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-firstquater')
					.ui-section-icons__name
						span icon-firstquater
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-newmoon')
					.ui-section-icons__name
						span icon-newmoon
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-nighttime')
					.ui-section-icons__name
						span icon-nighttime
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-daytime')
					.ui-section-icons__name
						span icon-daytime
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-camping')
					.ui-section-icons__name
						span icon-camping
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-user')
					.ui-section-icons__name
						span icon-user
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-deu')
					.ui-section-icons__name
						span icon-deu
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-rus')
					.ui-section-icons__name
						span icon-rus
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-gb')
					.ui-section-icons__name
						span icon-gb
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-error')
					.ui-section-icons__name
						span icon-error
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-check-rounded')
					.ui-section-icons__name
						span icon-check-rounded
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-list')
					.ui-section-icons__name
						span icon-list
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-telegram')
					.ui-section-icons__name
						span icon-telegram
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-canada')
					.ui-section-icons__name
						span icon-canada
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-generate')
					.ui-section-icons__name
						span icon-generate
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-more')
					.ui-section-icons__name
						span icon-more
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-letter')
					.ui-section-icons__name
						span icon-letter
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-copy')
					.ui-section-icons__name
						span icon-copy
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-link')
					.ui-section-icons__name
						span icon-link
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-location')
					.ui-section-icons__name
						span icon-location
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-climbing')
					.ui-section-icons__name
						span icon-climbing
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-safari')
					.ui-section-icons__name
						span icon-safari
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-zanzibar')
					.ui-section-icons__name
						span icon-zanzibar
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-other')
					.ui-section-icons__name
						span icon-other
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-arrow')
					.ui-section-icons__name
						span icon-arrow
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-car')
					.ui-section-icons__name
						span icon-car
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-child')
					.ui-section-icons__name
						span icon-child
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-teenager')
					.ui-section-icons__name
						span icon-teenager
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-adult')
					.ui-section-icons__name
						span icon-adult
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-eye')
					.ui-section-icons__name
						span icon-eye
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-rotate')
					.ui-section-icons__name
						span icon-rotate
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-minus')
					.ui-section-icons__name
						span icon-minus
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-plus')
					.ui-section-icons__name
						span icon-plus
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-photo')
					.ui-section-icons__name
						span icon-photo
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-airplane')
					.ui-section-icons__name
						span icon-airplane
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-parachute')
					.ui-section-icons__name
						span icon-parachute
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-house')
					.ui-section-icons__name
						span icon-house
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-move')
					.ui-section-icons__name
						span icon-move
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-collapse')
					.ui-section-icons__name
						span icon-collapse
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-edit')
					.ui-section-icons__name
						span icon-edit
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-close')
					.ui-section-icons__name
						span icon-close
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-calendar')
					.ui-section-icons__name
						span icon-calendar
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-search')
					.ui-section-icons__name
						span icon-search
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-check')
					.ui-section-icons__name
						span icon-check
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-logout')
					.ui-section-icons__name
						span icon-logout
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-chevron')
					.ui-section-icons__name
						span icon-chevron
				.ui-section-icons__col
					.ui-section-icons__box
						+svg('icon-star')
					.ui-section-icons__name
						span icon-star
	.ui-section
		.container
			span.ui-section__title Buttons
			.ui-section-buttons
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--green(type="button") 
							span Button
					.ui-section-buttons__name
						span Button green
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--green.btn--sm(type="button") 
							span Button
					.ui-section-buttons__name
						span Button green small
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--silver(type="button") 
							span Button
					.ui-section-buttons__name
						span Button silver
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--green.btn--shadowed(type="button") 
							span Button
					.ui-section-buttons__name
						span Button green shadowed
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--green(type="button") 
							+svg('icon-search')
							span Search
					.ui-section-buttons__name
						span Button search
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--rounded(type="button") 
							span Add flight
					.ui-section-buttons__name
						span Button rounded
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--remove(type="button") 
							+svg('icon-close')
					.ui-section-buttons__name
						span Button remove
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--edit(type="button") 
							+svg('icon-edit')
					.ui-section-buttons__name
						span Button edit
				.ui-section-buttons__col
					.ui-section-buttons__box
						a.btn.btn--back(href="javascript:void(0)")
							.btn--back__icon
								+svg('icon-collapse')
							span Back
					.ui-section-buttons__name
						span Back button
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--green(type="button")
							+svg('icon-list')
							span Seasons
					.ui-section-buttons__name
						span Season button
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn-copy.btn--green.btn--shadowed(type="button")
							+svg('icon-copy')
							span Copy from another season
					.ui-section-buttons__name
						span Copy from another season
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Copy rates from another season")
							+svg('icon-copy')
					.ui-section-buttons__name
							span Button popover
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--green.btn--sm-squared.btn--popover.btn--shadowed(type="button", data-popover="Hotel")
							+svg('icon-house')
					.ui-section-buttons__name
							span Button popover
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--green.btn--sm-squared.btn--popover.btn--shadowed(type="button", data-popover="Activity")
							+svg('icon-parachute')
					.ui-section-buttons__name
							span Button popover
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--green.btn--sm-squared.btn--popover.btn--shadowed(type="button", data-popover="Flight")
							+svg('icon-airplane')
					.ui-section-buttons__name
							span Button popover
				.ui-section-buttons__col
					.ui-section-buttons__box
						button.btn.btn--green.btn--sm-squared.btn--popover.btn--shadowed(type="button", data-popover="Flight", disabled="")
							+svg('icon-airplane')
					.ui-section-buttons__name
							span Button popover disabled
	.ui-section
		.container
			span.ui-section__title Forms
			.ui-section-forms
				.form-control-group
					span.form-control-label Placeholder
					.form-control-wrap
						input.form-control(type="text", Placeholder="Your Login")
				.form-control-group
					span.form-control-label Correct
					.form-control-wrap.is-correct
						input.form-control(type="text", Placeholder="Your Login", value="altezza@travel")
						.form-control-icon
							+svg('icon-check')
				.form-control-group
					.form-control-wrap
						input.form-control-search(type="text", placeholder="Search")
						.form-control-icon
							+svg('icon-search')
				.form-control-group
					span.form-control-label Error
					.form-control-wrap.is-error
						input.form-control(type="text", Placeholder="Your Login")
						.form-control-icon
							+svg('icon-check')
					span.form-control-error-descr Something is wrong. Please try again
				.form-control-group
					span.form-control-label Password generate
					.form-control-wrap.form-control-wrap--double
						input.form-control(type="text", Placeholder="Password")
						button.btn.btn--generate-pass(type="button")
							+svg('icon-generate')
							span Generate
				.form-control-group
					.form-control-wrap.form-control-wrap--age
						.form-control-age-label
							span 1. Age:
						input.form-control(type="number", placeholder="0")
						button.btn.btn-close(type="button")
							+svg('icon-close')
				.form-control-group
					span.form-control-label Tour Duration:
					.form-control-wrap.form-control-wrap--days
						input.form-control(type="number", placeholder="0")
						.form-control-label-descr
							span Days
				.form-control-group
					.form-control-wrap.form-control-wrap-labeled.form-control-wrap-labeled--lg
						.form-control-label-descr
							span Company
						.form-control-wrap
							input.form-control(type="text", placeholder="Company")
				.form-control-group
					.form-control-wrap.form-control-wrap-labeled.form-control-wrap-labeled--xs
						.form-control-label-descr
							span Valid up to
						.form-control-wrap
							input.form-control.js-datepicker-single(type="text", placeholder="Date")
							.form-control-icon
								+svg('icon-calendar')
				.form-control-group
					label.form-control-checkbox(for="chk_1")
						input#chk_1(type="checkbox", checked="")
						span.form-control-checkbox__box
							+svg('icon-check')
						span.form-control-checkbox__name Transfer territorial
				.form-control-group.form-control-group--radio
					label.form-control-radio(for="chk_1123")
						input#chk_1123(type="radio", name="activity_radio", checked="")
						span.form-control-radio__box
						span.form-control-radio__name Before the Activity
					label.form-control-radio(for="chk_1124")
						input#chk_1124(type="radio", name="activity_radio")
						span.form-control-radio__box
						span.form-control-radio__name After the Activity
				.form-control-group
					span.form-control-label Textarea
					.form-control-wrap
						textarea.form-control(placeholder="Write description")
				.form-control-group
					span.form-control-label Description
					.form-control-wrap
						.js-ckeditor
				.form-control-group
					span.form-control-label Hotel Select
					.select-wrapper.select-wrapper--lg
						.select-trigger
							span.select-trigger__name Choose
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.form-control-group
								.form-control-wrap
									input.form-control-search(type="text", placeholder="Search")
									.form-control-icon
										+svg('icon-search')
							.select-inner.js-scrollbar
								+hotelOption()
								+hotelOption()
								+hotelOption()
								+hotelOption()
								+hotelOption()
								+hotelOption()
								+hotelOption()
								+hotelOption()
								+hotelOption()
								+hotelOption()
								+hotelOption()
								+hotelOption()
				.form-control-group
					span.form-control-label Car Weight
					.select-wrapper.select-wrapper--sm
						.select-trigger
							span.select-trigger__name 2001 - 3000 kg
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner.js-scrollbar
								.select-option
									span.select-option__name Up tp 2000 kg
								.select-option.is-selected
									span.select-option__name 2001 - 3000 kg
								.select-option
									span.select-option__name 3001 - 4000 kg
								.select-option
									span.select-option__name 4001 - 5000 kg
				.form-select-group
					.form-control-group
						.select-wrapper
							.select-label
								span Room Type
							.select-trigger
								span.select-trigger__name Single
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner.js-scrollbar
									.select-option
										span.select-option__name Twin
									.select-option.is-selected
										span.select-option__name Single
									.select-option
										span.select-option__name Tripple
				.form-upload-group
					span.form-upload-group__title Upload a file
					.form-upload-group__inner
						label.form-upload-group__label(for="fileInput")
							input#fileInput(type="file")
							span.btn.btn--green.btn--shadowed
								span Choose a file
						.form-upload-group__item
							span(title="filename.xls").form-upload-group__item__name filename.xls
							button.btn.btn--remove(type="button")
								+svg('icon-close')
				.form-control-group
					span.form-control-label Price
					.select-wrapper.select-wrapper--xs
						.select-trigger
							span.select-trigger__name USD
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner.js-scrollbar
								.select-option.is-selected
									span.select-option__name USD
								.select-option
									span.select-option__name EUR
								.select-option
									span.select-option__name UAH
				.form-control-group.form-control-group--double
					span.form-control-label Price for 1-3 Pax
					.select-wrapper.select-wrapper--xs
						.select-trigger
							span.select-trigger__name USD
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner.js-scrollbar
								.select-option.is-selected
									span.select-option__name USD
								.select-option
									span.select-option__name EUR
								.select-option
									span.select-option__name UAH
					.form-control-wrap
						input.form-control(type="number", Placeholder="Amount")
				.form-control-group.form-control-group--persons
					span.form-control-label Pax:
					.form-control-group--persons__grid
						.form-control-group--persons__col
							.form-control-group--persons__col__info
								+svg('icon-adult')
								span.form-control-group--persons__name Adult
							.select-wrapper
								.select-trigger
									span.select-trigger__name 5
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name 5
										.select-option
											span.select-option__name 6
										.select-option
											span.select-option__name 7
						.form-control-group--persons__col
							.form-control-group--persons__col__info
								+svg('icon-child')
								span.form-control-group--persons__name Child
							.select-wrapper
								.select-trigger
									span.select-trigger__name 1
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name 1
										.select-option
											span.select-option__name 2
										.select-option
											span.select-option__name 3
				.form-control-group.form-control-group--cell
					.form-control-group__side
						span.form-control-label Country:
						.select-wrapper.select-wrapper--xs
							.select-trigger
								span.select-trigger__name
									.select-trigger__name__icon
										+svg('icon-canada')
									span (+1)
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner.js-scrollbar
									.select-option.is-selected
										span.select-option__name
											.select-trigger__name__icon
												+svg('icon-canada')
											span (+1)
									.select-option
										span.select-option__name
											.select-trigger__name__icon
												+svg('icon-deu')
											span (+56)
									.select-option
										span.select-option__name
											.select-trigger__name__icon
												+svg('icon-rus')
											span (+7)
									.select-option
										span.select-option__name
											.select-trigger__name__icon
												+svg('icon-gb')
											span (+1589)
					.form-control-group__side
						span.form-control-label Cell number:
						.form-control-wrap
							input.form-control(type="number", Placeholder="Amount")
				.form-control-group
					span.form-control-label Multiselect
					.select-wrapper
						.select-trigger
							span.select-trigger__name Admin, Sales Manager
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner.js-scrollbar
								.select-option.is-selected
									label.form-control-checkbox(for="select_opt_1")
										input#select_opt_1(type="checkbox", checked="")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.select-option__name Admin
								.select-option
									label.form-control-checkbox(for="select_opt_2")
										input#select_opt_2(type="checkbox")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.select-option__name Content Manager
								.select-option.is-selected
									label.form-control-checkbox(for="select_opt_3")
										input#select_opt_3(type="checkbox", checked="")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.select-option__name Sales Manager
				.form-control-group
					span.form-control-label Select Managers
					.select-wrapper.select-wrapper--managers
						.select-trigger
							.select-trigger__name
								.select-trigger__manager
									.select-option__image.h-object-fit
										img(src="s/images/tmp_file/kirill.png", alt="kiril")
									span Kirill,
								.select-trigger__manager
									.select-option__image.h-object-fit
										img(src="s/images/tmp_file/kirill.png", alt="kiril")
									span Sergei
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner.js-scrollbar
								.select-option
									label.form-control-checkbox(for="select_opt_4")
										input#select_opt_4(type="checkbox", checked="")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.select-option__image.h-object-fit
											img(src="s/images/tmp_file/kirill.png", alt="kiril")
										span.select-option__name Kirill
								.select-option
									label.form-control-checkbox(for="select_opt_5")
										input#select_opt_5(type="checkbox", checked="")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.select-option__image.h-object-fit
											img(src="s/images/tmp_file/kirill.png", alt="kiril")
										span.select-option__name Sergej
								.select-option
									label.form-control-checkbox(for="select_opt_6")
										input#select_opt_6(type="checkbox")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.select-option__image.h-object-fit
											img(src="s/images/tmp_file/kirill.png", alt="kiril")
										span.select-option__name Kirill
								.select-option
									label.form-control-checkbox(for="select_opt_7")
										input#select_opt_7(type="checkbox")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.select-option__image.h-object-fit
											img(src="s/images/tmp_file/kirill.png", alt="kiril")
										span.select-option__name Sergej
				.form-control-group
					span.form-control-label Choose Season
					.select-wrapper.select-wrapper--xl
						.select-trigger
							span.select-trigger__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner.js-scrollbar
								.select-option.is-selected
									span.select-option__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
								.select-option
									span.select-option__name #[b Hot Season] #[i 01.01.21 - 01.04.21]
								.select-option
									span.select-option__name #[b Cold Season] #[i 01.01.21 - 01.04.21]
								.select-option
									span.select-option__name #[b Cold-Cold Season] #[i 01.01.21 - 01.04.21]
					span.form-control-group__error(title="Sorry, this season is not available because something is wrong") Sorry, this season is not available because something is wrong
				.form-select-group
					.form-control-group
						.select-wrapper
							.select-label
								span From
							.select-trigger
								span.select-trigger__name Lemosho Gate 3000 m
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner.js-scrollbar
									.select-option
										span.select-option__name Lemosho Gate 2000 m
									.select-option.is-selected
										span.select-option__name Lemosho Gate 3000 m
									.select-option
										span.select-option__name Lemosho Gate 4000 m
									.select-option
										span.select-option__name Lemosho Gate 5000 m
					.form-select-group__divider
						+svg('icon-arrow')
					.form-control-group
						.select-wrapper
							.select-label
								span To
							.select-trigger
								span.select-trigger__name Camp 1 3800 m
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner.js-scrollbar
									.select-option
										span.select-option__name Camp 1 2800 m
									.select-option.is-selected
										span.select-option__name Camp 1 3800 m
									.select-option
										span.select-option__name Camp 1 4800 m
									.select-option
										span.select-option__name Camp 1 5800 m
				.form-select-group
					.form-control-group
						.form-control-wrap.form-control-wrap-labeled.form-control-wrap-labeled--sm
							.form-control-label-descr
								span From
							.form-control-wrap
								input.form-control(type="text", placeholder="Company")
					.form-select-group__divider
						+svg('icon-arrow')
					.form-control-group
						.form-control-wrap.form-control-wrap-labeled.form-control-wrap-labeled--sm
							.form-control-label-descr
								span To
							.form-control-wrap
								input.form-control(type="text", placeholder="Company")
				.form-select-group
					.form-control-group
						span.form-control-label Departure:
						.select-wrapper
							.select-label
								span From
							.select-trigger
								span.select-trigger__name Kilimanjaro Airport JRO
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner.js-scrollbar
									.select-option.is-selected
										span.select-option__name Kilimanjaro Airport JRO
									.select-option
										span.select-option__name Kilimanjaro Airport JRO 1
									.select-option
										span.select-option__name Kilimanjaro Airport JRO 2
									.select-option
										span.select-option__name Kilimanjaro Airport JRO 3
					.form-select-group__divider
						+svg('icon-arrow')
					.form-control-group
						span.form-control-label Arrival:
						.select-wrapper
							.select-label
								span To
							.select-trigger
								span.select-trigger__name Zanzibar Airport ZNZ
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner.js-scrollbar
									.select-option.is-selected
										span.select-option__name Zanzibar Airport ZNZ
									.select-option
										span.select-option__name Zanzibar Airport ZNZ 1
									.select-option
										span.select-option__name Zanzibar Airport ZNZ 2
									.select-option
										span.select-option__name Zanzibar Airport ZNZ 3
				.form-select-group
					.form-control-group
						span.form-control-label Departure Time:
						.select-wrapper.select-wrapper--xs
							.select-trigger
								span.select-trigger__name 18:30
								span.select-trigger__icon
									+svg('icon-chevron')
							.select-body
								.select-inner.js-scrollbar
									.select-option.is-selected
										span.select-option__name 18:30
									.select-option
										span.select-option__name 19:30
									.select-option
										span.select-option__name 20:30
					.form-select-group__divider
						+svg('icon-arrow')
					.form-control-group
						span.form-control-label Arrival Time:
						.form-control-wrap
							input.form-control.form-control-time.maskField(type="text", mask="29:59", Placeholder="--:--", value="19:30", readonly="")
				.form-control-datepicker
					.form-control-group
						span.form-control-label From
						.form-control-wrap
							input.form-control(type="text", Placeholder="Date From")
							.form-control-icon
								+svg('icon-calendar')
					.form-control-group
						span.form-control-label To
						.form-control-wrap
							input.form-control(type="text", Placeholder="Date To")
							.form-control-icon
								+svg('icon-calendar')
				.form-control-datepicker.form-control-datepicker--labeled
					.form-control-group
						span.form-control-label From
						.form-control-wrap
							input.form-control(type="text", Placeholder="Date From")
							.form-control-icon
								+svg('icon-calendar')
					.form-control-group
						span.form-control-label To
						.form-control-wrap
							input.form-control(type="text", Placeholder="Date To")
							.form-control-icon
								+svg('icon-calendar')
				.form-control-datepicker.form-control-datepicker--labeled
					.form-control-group
						span.form-control-label-main Tour Start
						span.form-control-label From
						.form-control-wrap
							input.form-control(type="text", Placeholder="Date From")
							.form-control-icon
								+svg('icon-calendar')
					.form-control-group
						span.form-control-label-main Tour Finish
						span.form-control-label To
						.form-control-wrap
							input.form-control(type="text", Placeholder="Date To")
							.form-control-icon
								+svg('icon-calendar')
				.form-control-group.form-control-group--time
					span.form-control-label Pick up time
					.form-control-wrap
						input.form-control.form-control-time.maskField(type="text", mask="29:59", placeholder="--:--")
				.form-control-group
					span.form-control-label Pick up time
					.form-control-wrap
						input.form-control.form-control-time.maskField(type="text", mask="29:59", placeholder="--:--")
				.form-control-group.form-control-group--labeled
					span.form-control-label Pax
					.form-control-wrap
						input.form-control(type="number", placeholder="0")
				.form-control-group.form-control-group--labeled
					span.form-control-label Qty
					.form-control-wrap
						input.form-control(type="number", placeholder="0")
				.form-control-group.form-control-group--labeled
					span.form-control-label Duration
					.form-control-wrap
						input.form-control(type="number", placeholder="0")
				.form-control-group
					label.form-control-checkbox-person(for="chk_p1")
						input#chk_p1(type="checkbox")
						.form-control-checkbox-person__box
							+svg('icon-adult')
							span.form-control-checkbox-person__icon
								+svg('icon-check-rounded')
				.form-control-group
					label.form-control-checkbox-person(for="chk_p2")
						input#chk_p2(type="checkbox")
						.form-control-checkbox-person__box
							+svg('icon-teenager')
							span.form-control-checkbox-person__icon
								+svg('icon-check-rounded')
				.form-control-group
					label.form-control-checkbox-person(for="chk_p3")
						input#chk_p3(type="checkbox")
						.form-control-checkbox-person__box
							+svg('icon-child')
							span.form-control-checkbox-person__icon
								+svg('icon-check-rounded')
	.ui-section
		.container
			span.ui-section__title Edit fields
			.ui-section-edit-fields
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--territory
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-edit')
								span Edit Territory Title
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup__inner(action="javascript:void(0)")
							.form-control-group
								.form-control-wrap
									input.form-control(type="text", Placeholder="Title", value="Western Serengeti")
							button.btn.btn--green.edit-popup__submit(type="submit") 
								span Save
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--location
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-edit')
								span Edit a Location
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup__inner(action="javascript:void(0)")
							.edit-popup__side
								.form-control-group
									span.form-control-label Title
									.form-control-wrap
										input.form-control(type="text", Placeholder="Title")
							.edit-popup__side
								.form-control-group
									span.form-control-label Territory
									.select-wrapper.select-wrapper
										.select-trigger
											span.select-trigger__name Choose
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													span.select-option__name Territory
												.select-option
													span.select-option__name Territory 1
												.select-option
													span.select-option__name Territory 2
												.select-option
													span.select-option__name Territory 3
							.edit-popup__side
								.form-control-group
									label.form-control-checkbox(for="chkk_1")
										input#chkk_1(type="checkbox", checked="")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.form-control-checkbox__name Transfer territorial
							.edit-popup__side
								button.btn.btn--green.edit-popup__submit(type="submit") 
									span Save
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--area
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-edit')
								span Edit Area
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup__inner(action="javascript:void(0)")
							.edit-popup__side
								.form-control-group
									span.form-control-label Title
									.form-control-wrap
										input.form-control(type="text", Placeholder="Title")
							.edit-popup__side
								.form-control-group
									span.form-control-label Location
									.select-wrapper.select-wrapper
										.select-trigger
											span.select-trigger__name Choose
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													span.select-option__name Location
												.select-option
													span.select-option__name Location 1
												.select-option
													span.select-option__name Location 2
												.select-option
													span.select-option__name Location 3
							button.btn.btn--green.edit-popup__submit(type="submit") 
								span Save
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--airstrip
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-edit')
								span Edit Airstrip
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup__inner(action="javascript:void(0)")
							.edit-popup__side
								.form-control-group
									span.form-control-label Title
									.form-control-wrap
										input.form-control(type="text", Placeholder="Title")
							.edit-popup__side
								.form-control-group
									span.form-control-label Territory
									.select-wrapper.select-wrapper
										.select-trigger
											span.select-trigger__name Choose
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													span.select-option__name Territory
												.select-option
													span.select-option__name Territory 1
												.select-option
													span.select-option__name Territory 2
												.select-option
													span.select-option__name Territory 3
							.edit-popup__side
								.form-control-group
									span.form-control-label Location
									.select-wrapper.select-wrapper
										.select-trigger
											span.select-trigger__name Choose
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													span.select-option__name Location
												.select-option
													span.select-option__name Location 1
												.select-option
													span.select-option__name Location 2
												.select-option
													span.select-option__name Location 3
							.edit-popup__side
								.form-control-group
									span.form-control-label Area
									.select-wrapper.select-wrapper
										.select-trigger
											span.select-trigger__name Choose
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													span.select-option__name Area
												.select-option
													span.select-option__name Area 1
												.select-option
													span.select-option__name Area 2
												.select-option
													span.select-option__name Area 3
							.edit-popup__side
								.form-control-group
									label.form-control-checkbox(for="chkkk_1")
										input#chkkk_1(type="checkbox", checked="")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.form-control-checkbox__name Transfer territorial
							.edit-popup__side
								button.btn.btn--green.edit-popup__submit(type="submit") 
									span Save
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--transfer
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-edit')
								span Edit transfer
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup__inner(action="javascript:void(0)")
							.edit-popup__side-group
								.edit-popup__side
									.form-control-group
										span.form-control-label Departure
										.select-wrapper.select-wrapper
											.select-trigger
												span.select-trigger__name Choose
												span.select-trigger__icon
													+svg('icon-chevron')
											.select-body
												.select-inner.js-scrollbar
													.select-option
														span.select-option__name Departure
													.select-option
														span.select-option__name Departure 1
													.select-option
														span.select-option__name Departure 2
													.select-option
														span.select-option__name Departure 3
								.form-control-group-divider
									+svg('icon-chevron-double')
								.edit-popup__side
									.form-control-group
										span.form-control-label Arrival
										.select-wrapper.select-wrapper
											.select-trigger
												span.select-trigger__name Choose
												span.select-trigger__icon
													+svg('icon-chevron')
											.select-body
												.select-inner.js-scrollbar
													.select-option
														span.select-option__name Arrival
													.select-option
														span.select-option__name Arrival 1
													.select-option
														span.select-option__name Arrival 2
													.select-option
														span.select-option__name Arrival 3
							.edit-popup__side
								.form-control-group.form-control-group--double
									span.form-control-label Price for 1-3 Pax
									.select-wrapper.select-wrapper--xs
										.select-trigger
											span.select-trigger__name USD
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option.is-selected
													span.select-option__name USD
												.select-option
													span.select-option__name EUR
												.select-option
													span.select-option__name UAH
									.form-control-wrap
										input.form-control(type="number", Placeholder="Amount")
							.edit-popup__side
								button.btn.btn--green.edit-popup__submit(type="submit") 
									span Save
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--short
						.form-control-group
							button.btn.form-control-action(type="button")
								span.form-control-action__icon.icon--green
									+svg('icon-edit')
								span.form-control-action__text Edit
						.form-control-group
							button.btn.form-control-action(type="button")
								span.form-control-action__icon.icon--red
									+svg('icon-close')
								span.form-control-action__text Delete
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--short
						.form-control-group
							button.btn.form-control-action(type="button")
								span.form-control-action__icon.icon--green
									+svg('icon-edit')
								span.form-control-action__text Edit
						.form-control-group
							button.btn.form-control-action(type="button")
								span.form-control-action__icon.icon--blue
									+svg('icon-link')
								span.form-control-action__text Get a link
						.form-control-group
							button.btn.form-control-action(type="button")
								span.form-control-action__icon.icon--orange
									+svg('icon-copy')
								span.form-control-action__text Copy
						.form-control-group
							button.btn.form-control-action(type="button")
								span.form-control-action__icon.icon--light-green
									+svg('icon-letter')
								span.form-control-action__text Share
						.form-control-group
							button.btn.form-control-action(type="button")
								span.form-control-action__icon.icon--red
									+svg('icon-close')
								span.form-control-action__text Delete
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--copy
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-copy')
								span Copy rates from another season
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup__inner(action="javascript:void(0)")
							.edit-popup__side
								.form-control-group
									span.form-control-label Choose Park
									.select-wrapper.select-wrapper
										.select-trigger
											span.select-trigger__name Choose
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													span.select-option__name Park
												.select-option
													span.select-option__name Park 1
												.select-option
													span.select-option__name Park 2
												.select-option
													span.select-option__name Park 3
							.edit-popup__side
								.form-control-group
									span.form-control-label Choose Season
									.select-wrapper.select-wrapper
										.select-trigger
											span.select-trigger__name Choose
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													span.select-option__name Season
												.select-option
													span.select-option__name Season 1
												.select-option
													span.select-option__name Season 2
												.select-option
													span.select-option__name Season 3
							button.btn.btn--green.edit-popup__submit(type="submit") 
								+svg('icon-copy')
								span Copy
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--copy-season
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-copy')
								span Copy rates from another season
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup__inner(action="javascript:void(0)")
							.edit-popup__info
								p Hot Hot Season #[i 01.01.21 - 01.04.21]
							.edit-popup__side-wrap
								.edit-popup__side
									.form-control-group
										span.form-control-label Choose Season
										.select-wrapper.select-wrapper--xl
											.select-trigger
												span.select-trigger__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
												span.select-trigger__icon
													+svg('icon-chevron')
											.select-body
												.select-inner.js-scrollbar
													.select-option.is-selected
														span.select-option__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
													.select-option
														span.select-option__name #[b Hot Season] #[i 01.01.21 - 01.04.21]
													.select-option
														span.select-option__name #[b Cold Season] #[i 01.01.21 - 01.04.21]
													.select-option
														span.select-option__name #[b Cold-Cold Season] #[i 01.01.21 - 01.04.21]
								button.btn.btn--green.edit-popup__submit(type="submit") 
									+svg('icon-copy')
									span Copy
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--rental
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-list')
								span Seasons | Safari Car - Rental
							.edit-popup__close
								+svg('icon-close')
						form(action="javascript:void(0)").edit-popup__season.edit-popup__season--add
							.edit-popup__season__top
								span.edit-popup__season__title ADD SEASON
							.edit-popup__season__add
								.edit-popup__season__add__name
									.form-control-group
										span.form-control-label Name
										.form-control-wrap
											input.form-control(type="text", Placeholder="Season name")
								.form-control-datepicker
									.form-control-group
										span.form-control-label From
										.form-control-wrap
											input.form-control(type="text", Placeholder="Date From")
											.form-control-icon
												+svg('icon-calendar')
									.form-control-group
										span.form-control-label To
										.form-control-wrap
											input.form-control(type="text", Placeholder="Date To")
											.form-control-icon
												+svg('icon-calendar')
								.edit-popup__season__add__submit
									button.btn.btn--green(type="submit")
										span Add
						form(action="javascript:void(0)").edit-popup__season.edit-popup__season--list
							.edit-popup__season__top
								span.edit-popup__season__title SEASONS
								.form-control-wrap
									input.form-control-search(type="text", placeholder="Search")
									.form-control-icon
										+svg('icon-search')
							.edit-popup__season__table-wrap.js-scrollbar
								.edit-popup__season__table-inner
									.edit-popup__season__table
										.edit-popup__season__table__header
											.edit-popup__season__table__name
												span Name
											.edit-popup__season__table__from
												span From
											.edit-popup__season__table__to
												span To
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
										+rental-row()
							.edit-popup__season__submit
								button.btn.btn--green(type="submit")
									span Add
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--choose-hotel
						.edit-popup__header
							.edit-popup__title
								span Choose a hotel
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup--choose-hotel__form(action="javascript:void(0)")
							.edit-popup--choose-hotel__add
								.edit-popup--choose-hotel__add__col
									.form-control-group
										span.form-control-label Hotel Name
										.select-wrapper.select-wrapper--xl
											.select-trigger
												span.select-trigger__name Choose
												span.select-trigger__icon
													+svg('icon-chevron')
											.select-body
												.form-control-group
													.form-control-wrap
														input.form-control-search(type="text", placeholder="Search")
														.form-control-icon
															+svg('icon-search')
												.select-inner.js-scrollbar
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
								.edit-popup--choose-hotel__add__col
									.form-control-group
										span.form-control-label Meal Plan
										.select-wrapper.select-wrapper--xs
											.select-trigger
												span.select-trigger__name FB
												span.select-trigger__icon
													+svg('icon-chevron')
											.select-body
												.select-inner.js-scrollbar
													.select-option.is-selected
														span.select-option__name FB
													.select-option
														span.select-option__name SD
													.select-option
														span.select-option__name NM
								.edit-popup--choose-hotel__add__col
									.form-select-group
										.form-control-group
											.select-wrapper
												.select-label
													span Room Type
												.select-trigger
													span.select-trigger__name Single
													span.select-trigger__icon
														+svg('icon-chevron')
												.select-body
													.select-inner.js-scrollbar
														.select-option
															span.select-option__name Twin
														.select-option.is-selected
															span.select-option__name Single
														.select-option
															span.select-option__name Tripple
								.edit-popup--choose-hotel__add__col
									.form-control-group.form-control-group--labeled
										span.form-control-label Qty
										.form-control-wrap
											input.form-control(type="number", placeholder="0")
								.edit-popup--choose-hotel__add__col
									.form-control-group
										label.form-control-checkbox-person(for="chk_p11")
											input#chk_p11(type="checkbox")
											.form-control-checkbox-person__box
												+svg('icon-adult')
												span.form-control-checkbox-person__icon
													+svg('icon-check-rounded')
								.edit-popup--choose-hotel__add__col
									.form-control-group
										label.form-control-checkbox-person(for="chk_p22")
											input#chk_p22(type="checkbox")
											.form-control-checkbox-person__box
												+svg('icon-teenager')
												span.form-control-checkbox-person__icon
													+svg('icon-check-rounded')
								.edit-popup--choose-hotel__add__submit
									button.btn.btn--rounded(type="button")
										span Add To Calculator
							.edit-popup--choose-hotel__copy
								.form-control-group
									label.form-control-checkbox(for="chk_128")
										input#chk_128(type="checkbox", checked="")
										span.form-control-checkbox__box
											+svg('icon-check')
										span.form-control-checkbox__name Copy From:
								.form-control-group
									.select-wrapper.select-wrapper--xs
										.select-trigger
											span.select-trigger__name Day 12
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option.is-selected
													span.select-option__name Day 12
												.select-option
													span.select-option__name Day 13
												.select-option
													span.select-option__name Day 14
								button.btn.btn--green.btn--sm(type="button")
									span Copy
							.edit-popup--choose-hotel__table
								.edit-popup__title
									span Hotels
								.section-table-wrap(data-simplebar)
									.section-table.section-table--hotels
										.section-table__head
											.col.col-day
												span Day
											.col.col-hotel
												span Hotel Name
											.col.col-meal
												span Meal
											.col.col-room
												span Room
											.col.col-qty
												span Qty
											.col.col-room-type
												span Room Type
										.section-table__body
											.section-table__row
												.col.col-day
													.col-day__label
														span 10
												.col.col-hotel
													span Aishi Machame Lodge 5*
												.col.col-meal
													span BB
												.col.col-room
													span SNG
												.col.col-qty
													span 2
												.col.col-persons
													+svg('icon-adult')
												.col.col-room-type
													span Single
												.col.col-action
													button.btn.btn--remove(type="button")
														+svg('icon-close')
											.section-table__row
												.col.col-day
													.col-day__label
														span 10
												.col.col-hotel
													span Aishi Machame Lodge 5*
												.col.col-meal
													span BB
												.col.col-room
													span DBL
												.col.col-qty
													span 2
												.col.col-persons
													+svg('icon-adult')
													+svg('icon-teenager')
												.col.col-room-type
													span Twin
												.col.col-action
													button.btn.btn--remove(type="button")
														+svg('icon-close')
							.edit-popup--choose-hotel__submit
								button.btn.btn--silver(type="reset")
									span Reset
								button.btn.btn--green(type="submit")
									span Save
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--add-flight
						.edit-popup__header
							.edit-popup__title
								span Add Domestic Flight
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup--add-flight__form(action="javascript:void(0)")
							.edit-popup--add-flight__add
								.edit-popup--add-flight__add__col
									.form-select-group
										.form-control-group
											span.form-control-label Departure:
											.select-wrapper
												.select-label
													span From
												.select-trigger
													span.select-trigger__name Kilimanjaro Airport JRO
													span.select-trigger__icon
														+svg('icon-chevron')
												.select-body
													.select-inner.js-scrollbar
														.select-option.is-selected
															span.select-option__name Kilimanjaro Airport JRO
														.select-option
															span.select-option__name Kilimanjaro Airport JRO 1
														.select-option
															span.select-option__name Kilimanjaro Airport JRO 2
														.select-option
															span.select-option__name Kilimanjaro Airport JRO 3
										.form-select-group__divider
											+svg('icon-arrow')
										.form-control-group
											span.form-control-label Arrival:
											.select-wrapper
												.select-label
													span To
												.select-trigger
													span.select-trigger__name Zanzibar Airport ZNZ
													span.select-trigger__icon
														+svg('icon-chevron')
												.select-body
													.select-inner.js-scrollbar
														.select-option.is-selected
															span.select-option__name Zanzibar Airport ZNZ
														.select-option
															span.select-option__name Zanzibar Airport ZNZ 1
														.select-option
															span.select-option__name Zanzibar Airport ZNZ 2
														.select-option
															span.select-option__name Zanzibar Airport ZNZ 3
								.edit-popup--add-flight__add__col
									.form-control-group
										span.form-control-label Airlines
										.select-wrapper
											.select-trigger
												span.select-trigger__name KLM
												span.select-trigger__icon
													+svg('icon-chevron')
											.select-body
												.select-inner.js-scrollbar
													.select-option
														span.select-option__name MMM
													.select-option.is-selected
														span.select-option__name KLM
													.select-option
														span.select-option__name DRM
													.select-option
														span.select-option__name MTC
								.edit-popup--add-flight__add__col
									.form-select-group
										.form-control-group
											span.form-control-label Departure Time:
											.select-wrapper.select-wrapper--xs
												.select-trigger
													span.select-trigger__name 18:30
													span.select-trigger__icon
														+svg('icon-chevron')
												.select-body
													.select-inner.js-scrollbar
														.select-option.is-selected
															span.select-option__name 18:30
														.select-option
															span.select-option__name 19:30
														.select-option
															span.select-option__name 20:30
										.form-select-group__divider
											+svg('icon-arrow')
										.form-control-group
											span.form-control-label Arrival Time:
											.form-control-wrap
												input.form-control.form-control-time.maskField(type="text", mask="29:59", Placeholder="--:--", value="19:30", readonly="")
								.edit-popup--add-flight__add__col
									.form-control-group.form-control-group--persons
										span.form-control-label Pax:
										.form-control-group--persons__grid
											.form-control-group--persons__col
												.form-control-group--persons__col__info
													+svg('icon-adult')
													span.form-control-group--persons__name Adult
												.select-wrapper
													.select-trigger
														span.select-trigger__name 5
														span.select-trigger__icon
															+svg('icon-chevron')
													.select-body
														.select-inner.js-scrollbar
															.select-option.is-selected
																span.select-option__name 5
															.select-option
																span.select-option__name 6
															.select-option
																span.select-option__name 7
											.form-control-group--persons__col
												.form-control-group--persons__col__info
													+svg('icon-child')
													span.form-control-group--persons__name Child
												.select-wrapper
													.select-trigger
														span.select-trigger__name 1
														span.select-trigger__icon
															+svg('icon-chevron')
													.select-body
														.select-inner.js-scrollbar
															.select-option.is-selected
																span.select-option__name 1
															.select-option
																span.select-option__name 2
															.select-option
																span.select-option__name 3
								.edit-popup--add-flight__add__radio
									.form-control-group.form-control-group--radio
										label.form-control-radio(for="chk_11233")
											input#chk_11233(type="radio", name="activity_radio", checked="")
											span.form-control-radio__box
											span.form-control-radio__name Before the Activity
										label.form-control-radio(for="chk_11244")
											input#chk_11244(type="radio", name="activity_radio")
											span.form-control-radio__box
											span.form-control-radio__name After the Activity
								.edit-popup--add-flight__add__submit
									button.btn.btn--rounded(type="button")
										span Add To Calculator
							.edit-popup--add-flight__table
								.edit-popup__title
									span Domestic Flights
								.section-table-wrap(data-simplebar)
									.section-table.section-table--flights
										.section-table__body
											.section-table__row
												.col.col-flight-day
													.col-flight-day__icon
														+svg('icon-airplane')
													span #[b DAY 14] 04/08/20
												.col.col-flight-time
													.col-flight-time__side
														span.col-flight-time__item 18:30
														span.col-flight-time__destination Jro
													.col-flight-time__arrow
														+svg('icon-arrow')
													.col-flight-time__side
														span.col-flight-time__item 19:30
														span.col-flight-time__destination Znz
												.col.col-airlines
													span Airlines:
													b Tanzania Airlines
												.col.col-flight-persons
													span.col-flight-persons__item Adult: #[b 5]
													span.col-flight-persons__item Child: #[b 1]
												.col.col-activity-status
													span Before the activity
												.col.col-action
													button.btn.btn--remove(type="button")
														+svg('icon-close')
							.edit-popup--add-flight__submit
								button.btn.btn--silver(type="reset")
									span Reset
								button.btn.btn--green(type="submit")
									span Save
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--activity
						.edit-popup__header
							.edit-popup__title
								span Add Activity
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup--activity__form(action="javascript:void(0)")
							.edit-popup--activity__add
								.edit-popup--activity__add__col
									.form-control-group
										span.form-control-label Choose Activity
										.select-wrapper.select-wrapper--xl
											.select-trigger
												span.select-trigger__name Air Balloon Safari
												span.select-trigger__icon
													+svg('icon-chevron')
											.select-body
												.select-inner.js-scrollbar
													.select-option.is-selected
														span.select-option__name Air Balloon Safari
													.select-option
														span.select-option__name Air Balloon Safari 1
													.select-option
														span.select-option__name Air Balloon Safari 2
													.select-option
														span.select-option__name Air Balloon Safari 3
								.edit-popup--activity__add__col
									.form-control-group.form-control-group--persons
										span.form-control-label Pax:
										.form-control-group--persons__grid
											.form-control-group--persons__col
												.form-control-group--persons__col__info
													+svg('icon-adult')
													span.form-control-group--persons__name Adult
												.select-wrapper
													.select-trigger
														span.select-trigger__name 5
														span.select-trigger__icon
															+svg('icon-chevron')
													.select-body
														.select-inner.js-scrollbar
															.select-option.is-selected
																span.select-option__name 5
															.select-option
																span.select-option__name 6
															.select-option
																span.select-option__name 7
											.form-control-group--persons__col
												.form-control-group--persons__col__info
													+svg('icon-child')
													span.form-control-group--persons__name Child
												.select-wrapper
													.select-trigger
														span.select-trigger__name 1
														span.select-trigger__icon
															+svg('icon-chevron')
													.select-body
														.select-inner.js-scrollbar
															.select-option.is-selected
																span.select-option__name 1
															.select-option
																span.select-option__name 2
															.select-option
																span.select-option__name 3
								.edit-popup--activity__add__col
									.form-control-group
										span.form-control-label Pick Up Time
										.form-control-wrap
											input.form-control.form-control-time.maskField(type="text", mask="29:59", placeholder="--:--", value="11:30")
								.edit-popup--activity__add__submit
									button.btn.btn--rounded(type="button")
										span Add Activity
							.edit-popup--activity__table
								.edit-popup__title
									span Activities
								.section-table-wrap(data-simplebar)
									.section-table.section-table--activities
										.section-table__body
											.section-table__row
												.col.col-day
													.col-day__label
														span #[b DAY 14] 04/08/20
												.col.col-activity
													span Air Balloon Safari
												.col.col-activity-persons
													span Pax Adult: #[b 5]
													span Pax Child: #[b 1]
												.col.col-pick-up-time
													span Pick up time: #[b 11:30]
												.col.col-action
													button.btn.btn--remove(type="button")
														+svg('icon-close')
											.section-table__row
												.col.col-day
													.col-day__label
														span #[b DAY 14] 04/08/20
												.col.col-activity
													span Air Balloon Safari
												.col.col-activity-persons
													span Pax Adult: #[b 5]
													span Pax Child: #[b 1]
												.col.col-pick-up-time
													span Pick up time: #[b 11:30]
												.col.col-action
													button.btn.btn--remove(type="button")
														+svg('icon-close')
											.section-table__row
												.col.col-day
													.col-day__label
														span #[b DAY 14] 04/08/20
												.col.col-activity
													span Air Balloon Safari
												.col.col-activity-persons
													span Pax Adult: #[b 5]
													span Pax Child: #[b 1]
												.col.col-pick-up-time
													span Pick up time: #[b 11:30]
												.col.col-action
													button.btn.btn--remove(type="button")
														+svg('icon-close')
							.edit-popup--activity__submit
								button.btn.btn--silver(type="reset")
									span Reset
								button.btn.btn--green(type="submit")
									span Save
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--choose-hotel
						.edit-popup__header
							.edit-popup__title
								span Choose a hotel - Zanzibar
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup--choose-hotel__form(action="javascript:void(0)")
							.edit-popup--choose-hotel__add
								.edit-popup--choose-hotel__add__col
									.form-control-datepicker.form-control-datepicker--labeled
										.form-control-group
											span.form-control-label-main From
											span.form-control-label From
											.form-control-wrap
												input.form-control(type="text", Placeholder="Date From")
												.form-control-icon
													+svg('icon-calendar')
										.form-control-group
											span.form-control-label-main To
											span.form-control-label To
											.form-control-wrap
												input.form-control(type="text", Placeholder="Date To")
												.form-control-icon
													+svg('icon-calendar')
								.edit-popup--choose-hotel__add__col
									.form-control-group
										span.form-control-label Hotel Name
										.select-wrapper.select-wrapper--xl
											.select-trigger
												span.select-trigger__name Choose
												span.select-trigger__icon
													+svg('icon-chevron')
											.select-body
												.form-control-group
													.form-control-wrap
														input.form-control-search(type="text", placeholder="Search")
														.form-control-icon
															+svg('icon-search')
												.select-inner.js-scrollbar
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
													+hotelOption()
								.edit-popup--choose-hotel__add__col
									.form-control-group
										span.form-control-label Meal Plan
										.select-wrapper.select-wrapper--xs
											.select-trigger
												span.select-trigger__name FB
												span.select-trigger__icon
													+svg('icon-chevron')
											.select-body
												.select-inner.js-scrollbar
													.select-option.is-selected
														span.select-option__name FB
													.select-option
														span.select-option__name SD
													.select-option
														span.select-option__name NM
								.edit-popup--choose-hotel__add__col
									.form-select-group
										.form-control-group
											.select-wrapper
												.select-label
													span Room Type
												.select-trigger
													span.select-trigger__name Single
													span.select-trigger__icon
														+svg('icon-chevron')
												.select-body
													.select-inner.js-scrollbar
														.select-option
															span.select-option__name Twin
														.select-option.is-selected
															span.select-option__name Single
														.select-option
															span.select-option__name Tripple
								.edit-popup--choose-hotel__add__col
									.form-control-group.form-control-group--labeled
										span.form-control-label Qty
										.form-control-wrap
											input.form-control(type="number", placeholder="0")
								.edit-popup--choose-hotel__add__col
									.form-control-group
										label.form-control-checkbox-person(for="chk_p119")
											input#chk_p119(type="checkbox")
											.form-control-checkbox-person__box
												+svg('icon-adult')
												span.form-control-checkbox-person__icon
													+svg('icon-check-rounded')
								.edit-popup--choose-hotel__add__col
									.form-control-group
										label.form-control-checkbox-person(for="chk_p229")
											input#chk_p229(type="checkbox")
											.form-control-checkbox-person__box
												+svg('icon-teenager')
												span.form-control-checkbox-person__icon
													+svg('icon-check-rounded')
								.edit-popup--choose-hotel__add__submit
									button.btn.btn--rounded(type="button")
										span Add Room
							.edit-popup--choose-hotel__table
								.edit-popup__title
									span Hotels
								.section-table-wrap(data-simplebar)
									.section-table.section-table--hotels
										.section-table__head
											.col.col-day
												span Day
											.col.col-hotel
												span Hotel Name
											.col.col-meal
												span Meal
											.col.col-room
												span Room
											.col.col-qty
												span Qty
											.col.col-room-type
												span Room Type
										.section-table__body
											.section-table__row
												.col.col-day
													.col-day__label
														span 10
												.col.col-hotel
													span Aishi Machame Lodge 5*
												.col.col-meal
													span BB
												.col.col-room
													span SNG
												.col.col-qty
													span 2
												.col.col-persons
													+svg('icon-adult')
												.col.col-room-type
													span Single
												.col.col-action
													button.btn.btn--remove(type="button")
														+svg('icon-close')
											.section-table__row
												.col.col-day
													.col-day__label
														span 10
												.col.col-hotel
													span Aishi Machame Lodge 5*
												.col.col-meal
													span BB
												.col.col-room
													span DBL
												.col.col-qty
													span 2
												.col.col-persons
													+svg('icon-adult')
													+svg('icon-teenager')
												.col.col-room-type
													span Twin
												.col.col-action
													button.btn.btn--remove(type="button")
														+svg('icon-close')
											.section-table__row
												.col.col-day
													.col-day__label
														span 10
												.col.col-hotel
													span Aishi Machame Lodge 5*
												.col.col-meal
													span BB
												.col.col-room
													span DBL
												.col.col-qty
													span 2
												.col.col-persons
													+svg('icon-adult')
													+svg('icon-teenager')
												.col.col-room-type
													span Twin
												.col.col-action
													button.btn.btn--remove(type="button")
														+svg('icon-close')
											.section-table__row
												.col.col-day
													.col-day__label
														span 10
												.col.col-hotel
													span Aishi Machame Lodge 5*
												.col.col-meal
													span BB
												.col.col-room
													span DBL
												.col.col-qty
													span 2
												.col.col-persons
													+svg('icon-adult')
													+svg('icon-teenager')
												.col.col-room-type
													span Twin
												.col.col-action
													button.btn.btn--remove(type="button")
														+svg('icon-close')
							.edit-popup--choose-hotel__submit
								button.btn.btn--silver(type="reset")
									span Reset
								button.btn.btn--green(type="submit")
									span Save			
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--copy-link
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-link')
								span The program link
						.edit-popup__text
							p Вы можете отправить ссылку на программу участникам своей делигации.
						form.edit-popup--copy-link__form(action="javascript:void(0)")
							.form-control-group
								.form-control-wrap
									input.form-control(type="text", value="https://altezza.travel")
							button.btn.btn--green(type="submit")
								span Copy
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--share
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-letter')
								span Share the program
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup--share__form(action="javascript:void(0)")
							.form-control-group
								span.form-control-label Select Managers
								.select-wrapper.select-wrapper--managers
									.select-trigger
										.select-trigger__name
											.select-trigger__manager
												.select-option__image.h-object-fit
													img(src="s/images/tmp_file/kirill.png", alt="kiril")
												span Kirill,
											.select-trigger__manager
												.select-option__image.h-object-fit
													img(src="s/images/tmp_file/kirill.png", alt="kiril")
												span Sergei
										span.select-trigger__icon
											+svg('icon-chevron')
									.select-body
										.select-inner.js-scrollbar
											.select-option
												label.form-control-checkbox(for="select_opt_444")
													input#select_opt_444(type="checkbox", checked="")
													span.form-control-checkbox__box
														+svg('icon-check')
													span.select-option__image.h-object-fit
														img(src="s/images/tmp_file/kirill.png", alt="kiril")
													span.select-option__name Kirill
											.select-option
												label.form-control-checkbox(for="select_opt_555")
													input#select_opt_555(type="checkbox", checked="")
													span.form-control-checkbox__box
														+svg('icon-check')
													span.select-option__image.h-object-fit
														img(src="s/images/tmp_file/kirill.png", alt="kiril")
													span.select-option__name Sergej
											.select-option
												label.form-control-checkbox(for="select_opt_655")
													input#select_opt_655(type="checkbox")
													span.form-control-checkbox__box
														+svg('icon-check')
													span.select-option__image.h-object-fit
														img(src="s/images/tmp_file/kirill.png", alt="kiril")
													span.select-option__name Kirill
											.select-option
												label.form-control-checkbox(for="select_opt_744")
													input#select_opt_744(type="checkbox")
													span.form-control-checkbox__box
														+svg('icon-check')
													span.select-option__image.h-object-fit
														img(src="s/images/tmp_file/kirill.png", alt="kiril")
													span.select-option__name Sergej
							button.btn.btn--green(type="submit")
								span Share program
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--edit-flight
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-edit')
								span Edit 2 flights
							.edit-popup__close
								+svg('icon-close')
						.edit-popup__subtitle
							p Bulk edits allows you to apply same value to multiple records
						form.edit-popup__form(action="javascript:void(0)")
							.edit-popup__form__col
								.form-control-group
									span.form-control-label Frequency
									.select-wrapper
										.select-trigger
											span.select-trigger__name Monday, Tuesday
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner.js-scrollbar
												.select-option
													label.form-control-checkbox(for="select_opt_1")
														input#select_opt_1(type="checkbox", checked="")
														span.form-control-checkbox__box
															+svg('icon-check')
														span.select-option__name Monday
												.select-option
													label.form-control-checkbox(for="select_opt_2")
														input#select_opt_2(type="checkbox", checked="")
														span.form-control-checkbox__box
															+svg('icon-check')
														span.select-option__name Tuesday
												.select-option
													label.form-control-checkbox(for="select_opt_3")
														input#select_opt_3(type="checkbox")
														span.form-control-checkbox__box
															+svg('icon-check')
														span.select-option__name Wednesday
							.edit-popup__form__col
								.form-control-group
									span.form-control-label Departure
									.form-control-wrap
										input.form-control.form-control-time.maskField(type="text", mask="29:59", placeholder="--:--")
							.edit-popup__form__col
								.form-control-group
									span.form-control-label Arrival
									.form-control-wrap
										input.form-control.form-control-time.maskField(type="text", mask="29:59", placeholder="--:--")
							.edit-popup__form__col
								.form-control-group.form-control-group--xl
									span.form-control-label Comments
									.form-control-wrap
										input.form-control(type="text", placeholder="Comment")
							.edit-popup__form__col
								.form-control-group.form-control-group--sm
									span.form-control-label Adult 15kg
									.form-control-wrap
										input.form-control(type="number", placeholder="0")
							.edit-popup__form__col
								.form-control-group.form-control-group--sm
									span.form-control-label Adult 30kg
									.form-control-wrap
										input.form-control(type="number", placeholder="0")
							.edit-popup__form__col
								.form-control-group.form-control-group--sm
									span.form-control-label Child 15kg
									.form-control-wrap
										input.form-control(type="number", placeholder="0")
							.edit-popup__form__col
								.form-control-group.form-control-group--sm
									span.form-control-label Child 30kg
									.form-control-wrap
										input.form-control(type="number", placeholder="0")
							.edit-popup__form__col
								.form-control-group.form-control-group--lg
									span.form-control-label Valid Up To
									.form-control-wrap
										input.form-control.js-datepicker-single(type="text", placeholder="Date")
										.form-control-icon
											+svg('icon-calendar')
							.edit-popup__form__col
								.form-control-group.form-control-group--xs
									span.form-control-label Min Pax
									.form-control-wrap
										input.form-control(type="number", placeholder="0")
						.edit-popup__form-submit
							button.btn.btn--green.edit-popup__submit(type="submit") 
								span Apply
				.ui-section-edit-fields__col
					.edit-popup.edit-popup--import
						.edit-popup__header
							.edit-popup__title
								span Import from XLS
							.edit-popup__close
								+svg('icon-close')
						form.edit-popup--import__form(action="javascript:void(0)")
							span.edit-popup--import__form__title Season Dates
							.edit-popup--import__form__side
								.form-control-datepicker
									.form-control-group
										span.form-control-label From
										.form-control-wrap
											input.form-control(type="text", Placeholder="Date From")
											.form-control-icon
												+svg('icon-calendar')
									.form-control-group
										span.form-control-label To
										.form-control-wrap
											input.form-control(type="text", Placeholder="Date To")
											.form-control-icon
												+svg('icon-calendar')
							.edit-popup--import__form__side
								.form-upload-group
									span.form-upload-group__title Upload a file
									.form-upload-group__inner
										label.form-upload-group__label(for="fileInput")
											input#fileInput(type="file")
											span.btn.btn--green.btn--shadowed
												span Choose a file
										.form-upload-group__item
											span(title="filename.xls").form-upload-group__item__name filename.xls
											button.btn.btn--remove(type="button")
												+svg('icon-close')
							.edit-popup--import__submit
								button.btn.btn--green(type="submit")
									span Import
									

	.ui-section
		.container
			span.ui-section__title Load Photo
			.ui-section-load-photo
				.ui-section-load-photo__col
					.form-control-photo-group
						input.input-hidden(type="file", id="photo_load1")
						label.form-control-photo(for="photo_load1")
							span.form-control-photo__box.h-object-fit
						.form-control-photo-content
							.form-control-photo-content__line
								span.form-control-photo-name Photo
							.form-control-photo-content__line
								label.btn.btn--rounded.btn-photo-load(for="photo_load1") Add Photo
				.ui-section-load-photo__col
					.form-control-photo-group
						input.input-hidden(type="file", id="photo_load2")
						.form-control-photo
							span.form-control-photo__box.h-object-fit
								img(src="s/images/tmp_file/original.jpeg", alt="photo")
							button.btn.btn--remove(type="button")
								+svg('icon-close')
						.form-control-photo-content
							.form-control-photo-content__line
								span.form-control-photo-name Photo
							.form-control-photo-content__line
								label(for="photo_load2").btn.btn--rounded.btn-photo-load Change Photo
							.form-control-photo-content__line
								button(type="button").btn.btn--rounded.btn-photo-load Edit Preview
				.ui-section-load-photo__col
					.form-control-photo-group.form-control-photo-group--squared
						input.input-hidden(type="file", id="photo_load1")
						label.form-control-photo(for="photo_load1")
							span.form-control-photo__box.h-object-fit
						.form-control-photo-content
							.form-control-photo-content__line
								span.form-control-photo-name Photo
							.form-control-photo-content__line
								label.btn.btn--rounded.btn-photo-load(for="photo_load1") Add Photo
							.form-control-photo-content__line
								span.form-control-photo-content__size Minimum image size: #[b 1440 x 1080p]
								span.form-control-photo-content__size Max #[b 5 MB]
				.ui-section-load-photo__col
					.form-control-photo-group.form-control-photo-group--squared
						input.input-hidden(type="file", id="photo_load2")
						.form-control-photo
							span.form-control-photo__box.h-object-fit
								img(src="s/images/tmp_file/original.jpeg", alt="photo")
							button.btn.btn--remove(type="button")
								+svg('icon-close')
						.form-control-photo-content
							.form-control-photo-content__line
								span.form-control-photo-name Photo
							.form-control-photo-content__line
								label(for="photo_load2").btn.btn--rounded.btn-photo-load Change Photo
							.form-control-photo-content__line
								button(type="button").btn.btn--rounded.btn-photo-load Edit Preview
				.ui-section-load-photo__col.ui-section-load-photo__col--fluid
					.edit-popup.edit-popup--picture-upload
						.edit-popup__header
							.edit-popup__title
								.edit-popup__title__icon
									+svg('icon-photo')
								span Upload a picture
							.edit-popup__close
								+svg('icon-close')
						.edit-popup__photo-crop
							.edit-popup__photo-crop__area-wrap
								.edit-popup__photo-crop__area
						.edit-popup__footer
							.edit-popup__footer__side
								button.btn.btn-zoom(type="button")
									+svg('icon-minus')
								button.btn.btn-zoom(type="button")
									+svg('icon-plus')
								button.btn.btn-rotate.btn-rotate--right(type="button")
									+svg('icon-rotate')
								button.btn.btn-rotate.btn-rotate--left(type="button")
									+svg('icon-rotate')
							.edit-popup__footer__side
								button.btn.btn--silver(type="button") 
									span Choose another photo
								button.btn.btn--green(type="button")
									span Save
	.ui-section
		.container
			span.ui-section__title Age settings
			.ui-section-age
				.ui-section-age__col
					+age-settings({
						icon: false,
						inners: [
							{text: 'Min Age'}
						]
					})
				.ui-section-age__col
					+age-settings({
						icon: 'icon-child',
						icon_name: 'Child',
						inners: [
							{text: 'To'}
						]
					})
				.ui-section-age__col
					+age-settings({
						icon: 'icon-teenager',
						icon_name: 'Teenager',
						inners: [
							{text: 'From'},
							{text: 'To'},
						]
					})
				.ui-section-age__col
					+age-settings({
						icon: 'icon-adult',
						icon_name: 'Adult',
						inners: [
							{text: 'From'}
						]
					})
	.ui-section
		.container
			span.ui-section__title Pagination
			.ui-section-pagination
				+pagination()
						

mixin hotelOption(data)
	.select-option
		.select-option__icon
			+svg('icon-star')
			span 5*
		span.select-option__name Aishi Machame Lodge

mixin rental-row(data)
	.edit-popup__season__table__row
		.edit-popup__season__table__name
			input.form-control(type="text", Placeholder="Name")
		.form-control-datepicker
			.form-control-group
				.form-control-wrap
					input.form-control(type="text", Placeholder="Date From")
					.form-control-icon
						+svg('icon-calendar')
			.form-control-group
				.form-control-wrap
					input.form-control(type="text", Placeholder="Date To")
					.form-control-icon
						+svg('icon-calendar')
		.edit-popup__season__table__actions
			button.btn.btn--edit(type="button")
				+svg('icon-edit')
			button.btn.btn--remove(type="button")
				+svg('icon-close')