button{
    // button reset
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    box-shadow: none;
    border: none;
    transition: background-color .3s ease, color .3s ease, box-shadow .3s ease;
    font-size: 1.3rem;
    line-height: 1em;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding: 0 2rem;
    min-width: 13rem;
    height: 3.4rem;
    color: $white;
    text-decoration: none;
    @media (max-width: $sw-xx-max) {
        font-size: 1.2rem;
    }
    cursor: pointer;
    &[disabled] {
        cursor: default;
    }
    span {
        position: relative;
        z-index: 1;
    }
    .icon {
        margin-right: 7px;
        color: $white;
        position: relative;
        z-index: 1;
        flex-shrink: 0;
        &-list {
            font-size: 1.6rem;
        }
        &-edit {
            font-size: 1rem;
        }
        &-copy {
            font-size: 1.3rem;
        }
        &-search {
            font-size: 1.4rem;
        }
    }
    &--green {
        background: linear-gradient(180deg, #639A05 0%, #5C8F07 100%);
        &[disabled] {
            background: linear-gradient(180deg, #C6C6C6 0%, #B2B2B2 49.72%, #9E9E9E 100%);
            &:after {
                display: none;
            }
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
            border-radius: 5px;
            background: linear-gradient(180deg, #71A716 0%, #639A05 100%);
            opacity: 1;
            visibility: visible;
            transition-property: opacity, visibility;
            transition-duration: .3s;
            transition-timing-function: ease;
        }
        &:not([disabled]):hover {
            text-decoration: none;
            &:after {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    &--green-simple {
        background-color: #639A05;
        text-decoration: none;
        &:not([disabled]):hover {
            text-decoration: none;
            background-color: lighten(#639A05, 5%);
        }
        &:active {
            text-decoration: none;
            background-color: lighten(#639A05, 8%);
        }
    }
    &--silver {
        background: linear-gradient(180deg, #2E2E2E 0%, #2E2E2E 100%);
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            background: linear-gradient(180deg, #A7A7A7 0%, #8C8C8C 100%);
            opacity: 1;
            visibility: visible;
            transition-property: opacity, visibility;
            transition-duration: .3s;
            transition-timing-function: ease;
        }
        &:not([disabled]):hover {
            text-decoration: none;
            &:after {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    &--rounded {
        border-radius: 3rem;
        min-width: 12rem;
        padding: 0 1.6rem;
        height: 3rem;
        background: #FBFBFB;
        border: 1px solid rgba(188, 188, 188, 0.5);
        color: #639A05;
        box-shadow: none;
        transition-property: color, background-color, box-shadow, border-color;
        transition-duration: .3s;
        transition-timing-function: ease;
        &:not([disabled]):hover {
            text-decoration: none;
            color: #2E2E2E;
            background: $white;
            border-color: rgba(188, 188, 188, 0.7);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        }
    }
    &--shadowed {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        &:focus {
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        }
    }
    &--sm {
        height: 2.8rem;
        font-size: 1.2rem;
        padding: 0 1.5rem;
        min-width: 7rem;
        background-color: $green;
        transition: background-color .3s ease;
        &:not([disabled]):hover {
            text-decoration: none;
            background-color: $darkGreen;
        }
    }
    &--sm-squared {
        min-width: auto;
        width: 3.4rem;
        height: 3.4rem;
        border-radius: 4px;
        padding: 0;
        .icon {
            margin-right: 0;
            &-home, &-plane {
                font-size: 1.3rem;
            }
            &-parachute {
                font-size: 1.6rem;
            }
        }
    }
    &--popover {
        position: relative;
        overflow: visible;
        &:not([disabled]):hover {
            &:before {
                opacity: 1;
                visibility: visible;
                transform: translateX(0) translateY(0) translateZ(0);
                transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
            }
        }
        &:before {
            content: attr(data-popover);
            display: block;
            position: absolute;
            left: 0;
            bottom: calc(100% + 5px);
            min-width: 6rem;
            white-space: nowrap;
            z-index: 20;
            font-size: 1.1rem;
            line-height: 1.18em;
            color: $white;
            opacity: 0;
            visibility: hidden;
            transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
            transform: translateX(0) translateY(5px) translateZ(0);
            background-color: rgba(17, 17, 17, 0.7);
            border-radius: 5px;
            padding: 5px 9px;
            pointer-events: none;
        }
    }
    &--generate-pass {
        background-color: #F9F9F9;
        border: 1px solid #BCBCBC;
        border-left: none;
        height: 100%;
        border-radius: 0 3px 3px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        line-height: 1em;
        text-align: center;
        height: 3.6rem;
        color: #1B1B1B;
        &:not([disabled]):hover {
            background-color: darken(#F9F9F9, 5%);
            .icon-generate {
                transform: rotate(180deg);
            }
        }
        &:not([disabled]):active {
            background-color: darken(#F9F9F9, 10%);
        }
        .icon-generate {
            font-size: 1.4rem;
            color: #639A05;
            margin-right: 8px;
            transform: none;
            transition: transform .3s ease;
        }
    }
    &--remove {
        width: 2.6rem;
        height: 2.6rem;
        min-width: auto;
        border-radius: 50%;
        background-color: $white;
        border: 1px solid rgba(221, 221, 221, 0.5);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        transition-property: background-color, box-shadow, border-color;
        transition-duration: .3s;
        transition-timing-function: ease;
        padding: 0;
        font-size: 0;
        line-height: 1em;
        .icon-close {
            font-size: 7px;
            margin-right: 0;
            transition: color .3s ease;
            color: #ADADAD;
        }
        &:not([disabled]):hover {
            box-shadow: none;
            background-color: #F13C3C;
            border-color: #F13C3C;
            .icon-close {
                color: $white;
            }
        }
    }
    &--back {
        border-radius: 3rem;
        min-width: 7.1rem;
        height: 2.6rem;
        padding: 4px 1.1rem 4px 4px;
        background-color: #639A05;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.16em;
        color: $white;
        display: flex;
        justify-content: flex-start;
        &:not([disabled]):hover {
            background-color: lighten(#639A05, 3%);
        }
        &:active {
            background-color: lighten(#639A05, 6%);
        }
        &__icon {
            width: 2rem;
            height: 2rem;
            margin-right: 7px;
            border-radius: 50%;
            border: 2px solid $white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .icon-collapse {
            font-size: 8px;
            margin-right: 0;
        }
    }
    &--collapse {
        border-radius: 3rem;
        min-width: 7.5rem;
        height: 2.6rem;
        padding: 4px 4px 4px 1.1rem;
        background-color: $dark;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.16em;
        color: $white;
        display: flex;
        justify-content: space-between;
        &:before {
            content: attr(data-closed);
        }
        &:not([disabled]):hover {
            background-color: #639A05;
        }
        &.is-active {
            &:before {
                content: attr(data-opened);
            }
            .icon-collapse {
                transform: rotate(90deg);
            }
        }
        &__icon {
            width: 2rem;
            height: 2rem;
            margin-left: 7px;
            border-radius: 50%;
            border: 2px solid $white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .icon-collapse {
            font-size: 8px;
            margin-right: 0;
            transform: rotate(-90deg);
            transition: transform .3s ease;
        }
    }
    &--edit {
        width: 2.6rem;
        height: 2.6rem;
        min-width: auto;
        border-radius: 50%;
        background-color: #639A05;
        color: $white;
        padding: 0;
        font-size: 0;
        line-height: 1em;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            border-radius: inherit;
            background: linear-gradient(180deg, #71A716 0%, #639A05 100%);
            opacity: 1;
            transition: opacity .3s ease;
        }
        .icon-edit {
            font-size: 1rem;
            margin-right: 0;
            position: relative;
            z-index: 1;
        }
        &:not([disabled]):hover {
            &:after {
                opacity: 0;
            }
        }
    }
}