mixin season-box-lg(data)
	.season-box-wrap(class='' + data.class ? data.class : null)
		.season-box-group-title
			+svg(data.group_title_icon)
			span!= data.group_title
		each box in data.boxes
			.season-box
				.season-box__table
					.season-box__table__header
						.season-box__table__main
							span!= box.main 
						.season-box__table__currency
							span Currency 
						.season-box__table__price
							span Price
					each row in box.rows
						.season-box__table__row
							.season-box__table__main
								.season-box__badge
									span!= row.badge
							.season-box__table__currency
								.select-wrapper.select-wrapper--xs
									.select-trigger
										span.select-trigger__name USD
										span.select-trigger__icon
											+svg('icon-chevron')
									.select-body
										.select-inner
											.select-option.is-selected
												span.select-option__name USD
											.select-option
												span.select-option__name EUR
											.select-option
												span.select-option__name UAH
							.season-box__table__price
								input.form-control(type="number", placeholder="1000")

mixin season-box(data)
	if data.section_title
		.season-box-section-title
			if data.section_title_icon
				+svg(data.section_title_icon)
			span!= data.section_title_text
	.season-box-wrap(class='' + data.class ? data.class : null)
		each box in data.boxes
			.season-box
				if box.title
					.season-box__title
						if box.title_icon
							+svg(box.title_icon)
						span!= box.title
				.season-box__table
					if box.header
						.season-box__table__header
							.season-box__table__main
								span!= box.main 
							.season-box__table__currency
								span Currency 
							.season-box__table__price
								span Price
					each row in box.rows
						.season-box__table__row
							.season-box__table__main
								.season-box__badge
									span!= row.badge
							.season-box__table__currency
								.select-wrapper.select-wrapper--xs
									.select-trigger
										span.select-trigger__name USD
										span.select-trigger__icon
											+svg('icon-chevron')
									.select-body
										.select-inner
											.select-option.is-selected
												span.select-option__name USD
											.select-option
												span.select-option__name EUR
											.select-option
												span.select-option__name UAH
							.season-box__table__price
								input.form-control(type="number", placeholder="1000")
