.season-box {
    width: calc((100% - 4.5rem) / 3);
    margin-bottom: 2.5rem;
    margin-right: 1.5rem;
    @media (max-width: $sw-xs-max) {
        width: calc(50% - 1.5rem);
    }
    @media (max-width: $sw-xx-max) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }
    &-section-title {
        padding: 1.7rem 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.23em;
        text-align: center;
        text-transform: capitalize;
        color: #1A1A1A;
        border-top: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
        @media (max-width: $sw-xx-max) {
            padding: 1rem 1.5rem;
        }
        .icon {
            font-size: 2.1rem;
            margin-right: 7px;
        }
    }
    &-wrap {
        width: 100%;
        padding: 2.5rem 0 0 1.5rem;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: $sw-xx-max) {
            padding: 2rem 1.5rem 0 1.5rem;
        }
        &:not(:last-child) {
            border-bottom: 1px solid #DBDBDB;
        }
        & + .season-box-section-title {
            margin-top: -1px;
        }
    }
    &__title {
        width: 100%;
        min-height: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2.4rem;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.25em;
        color: #1A1A1A;
        text-transform: capitalize;
        .icon {
            font-size: 1.3rem;
            margin-right: 8px;
        }
        & + .season-box__table {
            .season-box__table__header {
                margin-top: -1.4rem;
            }
        }
    }
    &-group {
        &-title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 1rem;
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 1.25em;
            color: #1A1A1A;
            .icon {
                font-size: 1.3rem;
                margin-right: 8px;
            }
        }
    }
    &__badge {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background-color: #929292;
        border: 1px solid #6F6F6F;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.15em;
        color: $white;
        padding: 0 6px;
        @media (max-width: 380px) {
            min-height: 3.6rem;
            padding: 6px;
        }
    }
    &__table {
        &__header {
            height: 3.2rem;
            border-radius: 5px;
            background-color: #F6F6F6;
            display: flex;
            align-items: center;
            margin-bottom: 1.3rem;
            justify-content: space-between;
            @media (max-width: 380px) {
                display: none;
            }
            .season-box__table__main {
                padding-left: 9px;
            }
            .season-box__table__price {
                padding-right: 9px;
            }
        }
        &__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 4rem;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            @media (max-width: 380px) {
                margin-bottom: 1rem;
                height: auto;
                flex-wrap: wrap;
            }
        }
        &__main, &__currency, &__price {
            text-transform: capitalize;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.16em;
            color: #1A1A1A;
            height: 100%;
            display: flex;
            align-items: center;
            @media (max-width: 380px) {
                height: auto;
            }
        }
        &__main {
            width: 10.4rem;
            margin-right: 9px;
            @media (max-width: $sw-xx-max) {
                width: 32%;
                margin-right: 0;
            }
            @media (max-width: 380px) {
                width: 100%;
                margin-bottom: 5px;
                min-height: 3.6rem;
            }
        }
        &__currency {
            width: 9.1rem;
            margin-right: 9px;
            @media (max-width: $sw-xx-max) {
                width: 32%;
                margin-right: 0;
            }
            @media (max-width: 380px) {
                width: 100%;
                margin-bottom: 5px;
                height: 3.6rem;
            }
            .select {
                &-wrapper, &-trigger {
                    height: 100%;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
            }
        }
        &__price {
            width: calc(100% - 21.3rem);
            @media (max-width: $sw-xx-max) {
                width: 32%;
            }
            @media (max-width: 380px) {
                width: 100%;
                height: 3.6rem;
            }
            .form-control {
                height: 100%;
            }
        }
        &__action {
            width: 2.6rem;
            margin-left: auto;
        }
        &__check {
            margin-right: 1.3rem;
        }
    }
}