mixin calculation-settings(data)
	section.calculation-settings
		.page-title
			h2 Safari | Calculation Setting
		.calculation-settings__inner
			.calculation-settings__rental
				.section-title
					h3 Safari car - Rental
					a.btn.btn--green(href="javascript:void(0)")
						+svg('icon-list')
						span Seasons
				form.calculation-settings__box(action="javascript:void(0)")
					.calculation-settings__box__header
						.form-control-group
							span.form-control-label Choose Season
							.select-wrapper.select-wrapper--xl
								.select-trigger
									span.select-trigger__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner
										.select-option.is-selected
											span.select-option__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
										.select-option
											span.select-option__name #[b Hot Season] #[i 01.01.21 - 01.04.21]
										.select-option
											span.select-option__name #[b Cold Season] #[i 01.01.21 - 01.04.21]
										.select-option
											span.select-option__name #[b Cold-Cold Season] #[i 01.01.21 - 01.04.21]
							span.form-control-group__error(title="Sorry, this season is not available because something is wrong") Sorry, this season is not available because something is wrong
						button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Copy rates from another season")
							+svg('icon-copy')
					.calculation-settings__box__inner
						.season-box__table-wrap.js-scrollbar
							.season-box__table
								.season-box__table__header
									.season-box__table__main
										span Days Safari
									.season-box__table__currency
										span Currency
									.season-box__table__price
										span Price
								+rental-row()
								+rental-row()
								+rental-row()
						.calculation-settings__box__submit
							button.btn.btn--green.btn--sm.btn--save(type="button")
								span Save
			.calculation-settings__other
				.section-title
					h3 Other expenses
					.currency-label
						span Usd
					a.btn.btn--green(href="javascript:void(0)")
						+svg('icon-list')
						span Seasons
				form.calculation-settings__box(action="javascript:void(0)")
					.calculation-settings__box__header
						.form-control-group
							span.form-control-label Choose Season
							.select-wrapper.select-wrapper--xl
								.select-trigger
									span.select-trigger__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner
										.select-option.is-selected
											span.select-option__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
										.select-option
											span.select-option__name #[b Hot Season] #[i 01.01.21 - 01.04.21]
										.select-option
											span.select-option__name #[b Cold Season] #[i 01.01.21 - 01.04.21]
										.select-option
											span.select-option__name #[b Cold-Cold Season] #[i 01.01.21 - 01.04.21]
						button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Copy rates from another season")
							+svg('icon-copy')
					.calculation-settings__box__inner
						.season-box__table-wrap.js-scrollbar
							.season-box__table
								.season-box__table__header
									.season-box__table__main
										span Name
									.season-box__table__currency
										span Currency
									.season-box__table__price
										span Price
								+other-row({
									other_id1: 'chk_id31',
									other_id2: 'chk_id21'
								})
								+other-row({
									other_id1: 'chk_id32',
									other_id2: 'chk_id22'
								})
								+other-row({
									other_id1: 'chk_id33',
									other_id2: 'chk_id23'
								})
								+other-row({
									other_id1: 'chk_id34',
									other_id2: 'chk_id24'
								})
								+other-row({
									other_id1: 'chk_id35',
									other_id2: 'chk_id25'
								})
						.calculation-settings__box__submit
							button.btn.btn--rounded(type="button")
								span Add
							button.btn.btn--green.btn--sm.btn--save(type="button")
								span Save

mixin rental-row(data)
	.season-box__table__row
		.season-box__table__main
			input.form-control(type="text", placeholder="Days")
		.season-box__table__currency
			.select-wrapper.select-wrapper--xs
				.select-trigger
					span.select-trigger__name USD
					span.select-trigger__icon
						+svg('icon-chevron')
				.select-body
					.select-inner
						.select-option.is-selected
							span.select-option__name USD
						.select-option
							span.select-option__name EUR
						.select-option
							span.select-option__name UAH
		.season-box__table__price
			input.form-control(type="number", placeholder="Price")
		.season-box__table__action
			button.btn.btn--remove(type="button")
				+svg('icon-close')
mixin other-row(data)
	.season-box__table__row
		.season-box__table__main
			input.form-control(type="text", placeholder="Name")
		.season-box__table__currency
			.select-wrapper.select-wrapper--xs
				.select-trigger
					span.select-trigger__name USD
					span.select-trigger__icon
						+svg('icon-chevron')
				.select-body
					.select-inner
						.select-option.is-selected
							span.select-option__name USD
						.select-option
							span.select-option__name EUR
						.select-option
							span.select-option__name UAH
		.season-box__table__price
			input.form-control(type="number", placeholder="Price")
		.season-box__table__check
			.form-control-group
				label.form-control-checkbox(for='' + data.other_id1 ? data.other_id1 : null)
					input(type="checkbox", id='' + data.other_id1 ? data.other_id1 : null, checked="")
					span.form-control-checkbox__box
						+svg('icon-check')
					span.form-control-checkbox__name Per safari day
		.season-box__table__check
			.form-control-group
				label.form-control-checkbox(for='' + data.other_id2 ? data.other_id2 : null)
					input(type="checkbox", id='' + data.other_id2 ? data.other_id2 : null, checked="")
					span.form-control-checkbox__box
						+svg('icon-check')
					span.form-control-checkbox__name Per person
		.season-box__table__action
			button.btn.btn--remove(type="button")
				+svg('icon-close')

