.calculation-settings {
    .page-title {
        h2 {
            margin-bottom: 0;
        }
    }
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
        .season-box__table {
            margin-bottom: 2.5rem;
            &__header {
                width: 100%;
                justify-content: flex-start;
            }
            &__row {
                justify-content: flex-start;
                height: 3.6rem;
            }
            &__main {
                .form-control {
                    padding: 0 1.1rem;
                }
            }
            &__currency {
                width: 9.1rem;
                margin-right: 1rem;
                .select {
                    &-wrapper, &-trigger {
                        @media (max-width: $sw-xs-max) {
                            width: 100%;
                        }
                    }
                }
            }
            &__price {
                width: 8rem;
                .form-control {
                    padding: 0 1.1rem;
                }
            }
            &__check {
                flex-shrink: 0;
            }
        }
    }
    &__rental {
        width: 100%;
        max-width: 35rem;
        margin-right: 5.4rem;
        @media (max-width: $sw-sm-max) {
            max-width: 33rem;
            margin-right: 2rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 3rem;
        }
        .section-title {
            margin-bottom: 2.5rem;
            .btn {
                @media (max-width: $sw-xx-max) {
                    margin-left: 1rem;
                }
            }
        }
        .season-box__table {
            @media (max-width: $sw-xs-max) {
                min-width: 60rem;
            }
            &-wrap {
                @media (max-width: $sw-xs-max) {
                    overflow: hidden;
                    overflow-x: auto;
                }
            }
            &__header {
                max-width: 27.3rem;
                @media (max-width: $sw-xs-max) {
                    width: calc(100% - 3.6rem);
                    max-width: none;
                }
                @media (max-width: 380px) {
                    display: flex;
                }
                .season-box__table {
                    &__main, &__currency, &__price {
                        @media (max-width: $sw-xs-max) {
                            width: calc((100% - 1.6rem) / 3);
                        }
                        @media (max-width: 380px) {
                            margin-bottom: 0;
                        }
                    } 
                }
            }
            &__main {
                width: 8.2rem;
                margin-right: 1rem;
            }
            &__main, &__currency, &__price {
                @media (max-width: $sw-xs-max) {
                    width: calc((100% - 5.6rem) / 3);
                }
            }
        }
    }
    &__other {
        width: 100%;
        max-width: 65rem;
        @media (max-width: $sw-sm-max) {
            max-width: 55.3rem;
            margin-left: auto;
        }
        @media (max-width: $sw-xs-max) {
            max-width: 100%;
            margin-left: 0;
        }
        .section-title {
            margin-bottom: 2.5rem;
            .btn {
                @media (max-width: $sw-xx-max) {
                    margin-left: 1rem;
                }
            }
        }
        .season-box__table {
            @media (max-width: $sw-xs-max) {
                min-width: 60rem;
            }
            &-wrap {
                @media (max-width: $sw-xs-max) {
                    overflow: hidden;
                    overflow-x: auto;
                }
            }
            &__header {
                max-width: 57.2rem;
                @media (max-width: $sw-sm-max) {
                    max-width: 49.2rem;
                }
                @media (max-width: $sw-xs-max) {
                    width: calc(100% - 3.6rem);
                    max-width: none;
                }
                @media (max-width: 380px) {
                    display: flex;
                }
                .season-box__table {
                    &__main, &__currency, &__price {
                        @media (max-width: $sw-xs-max) {
                            width: calc((100% - 23.7rem) / 3);
                        }
                        @media (max-width: 380px) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &__main {
                width: 17.1rem;
                margin-right: 1rem;
                @media (max-width: $sw-sm-max) {
                    width: 9rem;
                }
            }
            &__price {
                margin-right: 1rem;
            }
            &__main, &__currency, &__price {
                @media (max-width: $sw-xs-max) {
                    width: calc((100% - 27.5rem) / 3);
                }
                @media (max-width: 380px) {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__box {
        background: $white;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        &__header {
            background-color: #F5F5F5;
            padding: 1.9rem 1.3rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @media (max-width: $sw-xs-max) {
                justify-content: flex-start;
            }
            @media (max-width: $sw-xx-max) {
                padding: 1.5rem 1.3rem 1.5rem 1.3rem;
            }
            .calculation-settings__other & {
                justify-content: flex-start;
            }
            .form-control-group {
                width: calc(100% - 4.8rem);
                max-width: 30.5rem;
            }
            .form-control-group__error {
                position: relative;
                margin-top: 1rem;
                top: auto;
                left: auto;
            }
            .select-wrapper--xl {
                width: 100%;
                .select-trigger {
                    width: 100%;
                }
            }
            .btn--sm-squared {
                margin-left: 1.3rem;
                margin-top: 2.1rem;
                flex-shrink: 0;
            }
        }
        &__inner {
            background-color: $white;
            border-radius: 0 0 3px 3px;
            padding: 1.6rem 2rem 1.3rem 1.3rem;
            @media (max-width: $sw-sm-max) {
                padding: 1.3rem 1rem;
            }
        }
        &__submit {
            display: flex;
            justify-content: space-between;
            .btn--save {
                margin-left: auto;
            }
        }
    }
}