
// colors variables
$white:    #fff;
$black:    #000;

$dark: #2E2E2E;
$darken: #1B1B1B;
$yellow: #EB9514;
$codGray: #1A1A1A;
$green: #77B017;
$darkGreen: #639A05;
$gray: #5F5F5F;
$darkGray: #606060;
$silver: #BCBCBC;
$silverChalice: #A3A3A3;


// responsive breakpoints variables
$sw-xx-min: 0;
$sw-xs-min: 768px;
$sw-sm-min: 992px;
$sw-md-min: 1280px;
$sw-lg-min: 1440px;

$sw-xx-max:$sw-xs-min - 1px;
$sw-xs-max:$sw-sm-min - 1px;
$sw-sm-max:$sw-md-min - 1px;
$sw-md-max:$sw-lg-min - 1px;

// fonts
$sfuitext: 'sfuitext', sans-serif;