mixin pagination(data)
	.pagination-wrapper
		.pagination-text
			p Page #[span.pagination-text__current 1] of 12
		.pagination-links
			a.pagination-link.pagination-link--prev(href="javascript:void(0)")
				+svg('icon-chevron')
			a.pagination-link.pagination-link--current(href="javascript:void(0)") 1
			a.pagination-link(href="javascript:void(0)") 2
			a.pagination-link(href="javascript:void(0)") 3
			a.pagination-link(href="javascript:void(0)") 4
			a.pagination-link.pagination-link--next(href="javascript:void(0)")
				+svg('icon-chevron')