.pagination {
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1.6rem;
    }
    &-text {
        font-size: 1.1rem;
        line-height: 1.18em;
        color: #7B7B7B;
        margin-right: 1.5rem;
        &__current {
            color: $dark;
        }
    }
    &-links {
        display: flex;
        align-items: center;
    }
    &-link {
        width: 3rem;
        height: 3rem;
        background: #F2F2F2;
        border: 1px solid #E8E8E8;
        transition-property: color, background-color, border-color;
        transition-duration: .3s;
        transition-timing-function: ease;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1em;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1em;
        color: $dark;
        text-decoration: none;
        margin-right: 3px;
        &:not(.pagination-link--current):hover {
            text-decoration: none;
            @media (min-width: $sw-md-min) {
                background: darken(#F2F2F2, 7%);
            }
            &:active {
                background: darken(#F2F2F2, 13%);
            }
        }
        .icon-chevron {
            font-size: 1rem;
            color: #4F4F4F;
        }
        &--current {
            background-color: $green;
            border-color: $green;
            color: $white;
        }
        &--prev {
            border-radius: 5px 0 0 5px;
            .icon-chevron {
                transform: rotate(90deg);
            }
        }
        &--next {
            border-radius: 0 5px 5px 0;
            .icon-chevron {
                transform: rotate(-90deg);
            }
        }
    }
}