.header {
    background-color: $dark;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    @media (max-width: $sw-sm-max) {
        position: fixed;
        top: 0;
        left: 0;
    }
    .container-fluid {
        padding-right: 28px;
        @media (max-width: $sw-md-max) {
            padding-right: 20px;
        }
        @media (max-width: $sw-xx-max) {
            padding-right: 15px;
        }
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        height: 7rem;
        @media (max-width: $sw-md-max) {
            height: 6.2rem;
        }
        @media (max-width: $sw-xx-max) {
            height: 5rem;
        }
    }
    &__side {
        display: flex;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-shrink: 0;
        img {
            @media (max-width: $sw-md-max) {
               height: 3.2rem; 
            }
            @media (max-width: $sw-xx-max) {
                height: 2.5rem; 
            }
        }
    }

    &__nav-wrap {
        height: 100%;
        z-index: 20;
        @media (max-width: $sw-sm-max) {
            position: fixed;
            height: calc(100% - 6.2rem);
            top: 6.2rem;
            right: -32rem;
            width: 32rem;
            background-color: $dark;
            transform: none;
            transition: transform .3s ease;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
        @media (max-width: $sw-xx-max) {
            height: calc(100% - 5rem);
            top: 5rem;
        }
        & > * {
            @media (max-width: $sw-sm-max) {
                -webkit-transform: translateZ(0px);
            }
        }
        &.nav-open {
            @media (max-width: $sw-sm-max) {
                transform: translateX(-32rem);
            }
        }
    }

    // header navigation list
    &__nav {
        height: 100%;
        display: flex;
        align-items: center;
        @media (max-width: $sw-sm-max) {
            display: block;
        }
        &__item {
            height: 100%;
            display: flex;
            padding: 0 2.1rem;
            @media (max-width: $sw-md-max) {
                padding: 0 1.2rem;
            }
            @media (max-width: $sw-sm-max) {
                width: 100%;
                height: auto;
                padding: 0;
                display: block;
            }
            &:hover {
                @media (min-width: $sw-md-min) {
                    & > a {
                        color: $green;
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
            & + .header__nav__item {
                @media (max-width: $sw-sm-max) {
                    border-top: 1px solid rgba($silver, 0.2);
                }
            }
            &--sub {
                position: relative;
                &:hover {
                    @media (min-width: $sw-md-min) {
                        & > .header__sublist {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0) translateZ(0);
                            transition-duration: .3s;
                        }
                    }
                }
                &.is-active {
                    @media (max-width: $sw-sm-max) {
                        & > a .icon-chevron {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
            a {
                display: flex;
                align-items: center;
                color: $white;
                text-decoration: none;
                font-size: 1.3rem;
                line-height: 1.2em;
                position: relative;
                @media (max-width: $sw-md-max) {
                    font-size: 1.2rem;
                }
                @media (max-width: $sw-sm-max) {
                    width: 100%;
                    padding: 1.5rem 1.2rem;
                }
            }
            & > a {
                &:after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: $green;
                    transition: width .3s ease;
                }
            }
            .icon-chevron {
                margin-left: 8px;
                font-size: 8px;
                flex-shrink: 0;
                transition: transform .3s ease;
                @media (max-width: $sw-sm-max) {
                    margin-left: auto;
                }
            }
        }
    }

    // submenu (2 level) styles
    &__sublist {
        background-color: $dark;
        width: 17.1rem;
        border-radius: 0 0 5px 5px;
        padding: 1rem 0;
        @media (min-width: $sw-md-min) {
            display: block !important;
            position: absolute;
            left: 2.1rem;
            top: 100%;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transform: translateY(5px);
            transition-property: opacity, visibility, transform;
            transition-duration: .15s;
            transition-timing-function: ease;
        }
        @media (max-width: $sw-md-max) {
            left: 1.2rem;
            padding: 8px 0;
        }
        @media (max-width: $sw-sm-max) {
            display: none;
            padding: 0;
            width: 100%;
            border-radius: 0;
            background-color: lighten($dark, 4%);
        }
        &__item {
            @media (max-width: $sw-sm-max) {
                border-top: 1px solid rgba($silver, 0.2);
            }
            &:hover {
                @media (min-width: $sw-md-min) {
                    & > a {
                        color: $green;
                    }
                }
            }
            & > a {
                padding: 9px 9px 9px 1.7rem;
                @media (max-width: $sw-sm-max) {
                    padding: 1.5rem 1.2rem 1.5rem 2.5rem;
                }
            }
            &--sub {
                position: relative;
                &:hover {
                    @media (min-width: $sw-md-min) {
                        & > .header__submenu {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0) translateZ(0);
                            transition-duration: .3s;
                        }
                        .header__sublist__item__icon {
                            &:after {
                                transform: translate(-50%,-50%) scale(1); 
                            }
                            .icon-chevron {
                                color: $white;
                            }
                        }
                    }
                }
                &.is-active {
                    @media (max-width: $sw-sm-max) {
                        .icon-chevron {
                            transform: rotate(-180deg);
                        }
                    }
                }
                a {
                    justify-content: space-between;
                }
            }
            &__icon {
                width: 17px;
                height: 17px;
                border-radius: 50%;
                position: relative;
                @media (max-width: $sw-sm-max) {
                    width: auto;
                    height: auto;
                    border-radius: 0;
                    transform: rotate(0deg);
                }
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    background-color: $green;
                    left: 50%;
                    transform: translate(-50%,-50%) scale(0);
                    z-index: 0;
                    transition: transform .3s ease;
                    @media (max-width: $sw-sm-max) {
                        display: none;
                    }
                }
                .icon-chevron {
                    position: absolute;
                    margin-left: 1px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%) rotate(-90deg);
                    z-index: 1;
                    @media (max-width: $sw-sm-max) {
                        position: relative;
                        top: auto;
                        left: auto;
                        transform: none;
                    }
                }
            }
        }
    }

    // submenu (3 level) styles
    &__submenu {
        width: 17.1rem;
        background-color: $dark;
        border-radius: 0 5px 5px 5px;
        padding: 9px 0;
        @media (min-width: $sw-md-min) {
            display: block !important;
            position: absolute;
            left: calc(100% - 3px);
            top: -7px;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transform: translateY(5px);
            transition-property: opacity, visibility, transform;
            transition-duration: .15s;
            transition-timing-function: ease;
        }
        @media (max-width: $sw-md-max) {
            padding: 8px 0;
        }
        @media (max-width: $sw-sm-max) {
            display: none;
            padding: 0;
            width: 100%;
            border-radius: 0;
            background-color: lighten($dark, 8%);
        }
        &__item {
            @media (max-width: $sw-sm-max) {
                border-top: 1px solid rgba($silver, 0.2);
            }
            &:hover {
                @media (min-width: $sw-md-min) {
                    a {
                        color: $green;
                    }
                }
            }
            & > a {
                padding: 9px 9px 9px 2.1rem;
                @media (max-width: $sw-sm-max) {
                    padding: 1.5rem 1.5rem 1.5rem 4rem;
                }
            }
        }
    }

    // header user side
    &__user-side {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 2.7rem;
        margin-left: 1.6rem;
        @media (max-width: $sw-md-max) {
            padding-left: 2.2rem;
            margin-left: 1rem;
        }
        @media (max-width: $sw-sm-max) {
            padding-left: 0;
            margin-left: 0;
        }
        &:before {
            content: '';
            display: block;
            width: 1px;
            height: 2.6rem;
            background-color: $gray;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            @media (max-width: $sw-sm-max) {
                display: none;
            }
        }
    }

    // header user styles
    &__user {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $white;
        &:hover {
            @media (min-width: $sw-md-min) {
                color: $green;
            }
        }
        &__icon {
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 50%;
            background-color: $darkGray;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
        }
        &__name {
            font-size: 1.2rem;
            line-height: 1.16em;
            font-weight: 500;
        }
    }

    // logout styles
    &__logout {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $white;
        font-size: 1.2rem;
        line-height: 1.16em;
        font-weight: 600;
        margin-left: 4.3rem;
        @media (max-width: $sw-md-max) {
            margin-left: 2.5rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-left: 1.5rem;
        }
        &:hover {
            @media (min-width: $sw-md-min) {
                color: $green;
            }
        }
        .icon-logout {
            font-size: 1.3rem;
            margin-right: 8px;
        }
    }

    // burger menu
    &__burger-menu {
        margin-left: 2rem;
        cursor: pointer;
        display: none;
        @media (max-width: $sw-sm-max) {
            display: flex;
        }
        @media (max-width: $sw-xx-max) {
            margin-left: 1.5rem;
        }
        &.is-active {
            .icon-burger {
                color: $green;
            }
        }
        .icon-burger {
            color: $white;
            font-size: 2.4rem;
            transition: color .3s ease;
            @media (max-width: $sw-xx-max) {
                font-size: 2.2rem;
            }
        }
    }
}