mixin header(data)
	header.header
		.container-fluid
			.header-inner
				.header__side
					a.header__logo(href="javascript:void(0)")
						img(src="s/images/useful/svg/logo.svg", alt="logo")
				if data.hide_side
					.header__side
						nav.header__nav-wrap#header_navigation_menu
							ul.header__nav.h-reset-list
								li.header__nav__item.header__nav__item--sub
									a(href="javascript:void(0)")
										span Make a Story
										+svg('icon-chevron')
									ul.header__sublist.h-reset-list
										li.header__sublist__item
											a(href="javascript:void(0)")
												span Create new
										li.header__sublist__item
											a(href="javascript:void(0)")
												span My Templates
										li.header__sublist__item
											a(href="javascript:void(0)")
												span All programs
								li.header__nav__item.header__nav__item--sub
									a(href="javascript:void(0)") 
										span Safari
										+svg('icon-chevron')
									ul.header__sublist.h-reset-list
										li.header__sublist__item
											a(href="javascript:void(0)") 
												span Calculation Settings
										li.header__sublist__item
											a(href="javascript:void(0)") 
												span National Parks
								li.header__nav__item.header__nav__item--sub
									a(href="javascript:void(0)") 
										span Day Trips & Activities
										+svg('icon-chevron')
									ul.header__sublist.h-reset-list
										li.header__sublist__item
											a(href="javascript:void(0)") 
												span Tanzania Day trips
										li.header__sublist__item
											a(href="javascript:void(0)") 
												span Safari Activities
										li.header__sublist__item
											a(href="javascript:void(0)") 
												span Island Activities
								li.header__nav__item.header__nav__item--sub
									a(href="javascript:void(0)") 
										span Climbing
										+svg('icon-chevron')
									ul.header__sublist.h-reset-list
										li.header__sublist__item
											a(href="javascript:void(0)") 
												span Kilimanjaro Routes
										li.header__sublist__item.header__sublist__item--sub
											a(href="javascript:void(0)")
												span Kilimanjaro Settings
												.header__sublist__item__icon
													+svg('icon-chevron')
											ul.header__submenu.h-reset-list
												li.header__submenu__item
													a(href="javascript:void(0)") 
														span Territory
												li.header__submenu__item
													a(href="javascript:void(0)") 
														span Location
												li.header__submenu__item
													a(href="javascript:void(0)") 
														span Area
												li.header__submenu__item
													a(href="javascript:void(0)") 
														span Airstrip

								li.header__nav__item.header__nav__item--sub
									a(href="javascript:void(0)") 
										span Setting & Data
										+svg('icon-chevron')
									ul.header__sublist.h-reset-list
										li.header__sublist__item.header__sublist__item--sub
											a(href="javascript:void(0)") 
												span General
												.header__sublist__item__icon
													+svg('icon-chevron')
											ul.header__submenu.h-reset-list
												li.header__submenu__item
													a(href="javascript:void(0)") 
														span Exchange rate
												li.header__submenu__item
													a(href="javascript:void(0)") 
														span SMTP
										li.header__sublist__item.header__sublist__item--sub
											a(href="javascript:void(0)") 
												span Geo
												.header__sublist__item__icon
													+svg('icon-chevron')
											ul.header__submenu.h-reset-list
												li.header__submenu__item
													a(href="javascript:void(0)") 
														span Territory
												li.header__submenu__item
													a(href="javascript:void(0)") 
														span Location
												li.header__submenu__item
													a(href="javascript:void(0)") 
														span Area
												li.header__submenu__item
													a(href="javascript:void(0)") 
														span Airstrip
										li.header__sublist__item
											a(href="javascript:void(0)") 
												span Transfer Prices
								li.header__nav__item
									a(href="javascript:void(0)") 
										span Domestic Flights

								li.header__nav__item
									a(href="javascript:void(0)") 
										span Hotels

								li.header__nav__item
									a(href="javascript:void(0)") 
										span Managers
						.header__user-side
							a.header__user(href="javascript:void(0)")
								.header__user__icon.h-object-fit
								span.header__user__name Alex
							a.header__logout(href="javascript:void(0)")
								+svg('icon-logout')
								span log Out
							button.header__burger-menu.js-nav-trigger(type="button")
								+svg('icon-burger')
