html {
	height: 100%;
	font-size: 10px;
}
body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	min-width: 320px;
	font-family: $sfuitext;
	font-weight: 400;
	background-color: $white;
}
img{
	max-width: 100%;
	height: auto;
}