mixin day-trips-activities-detail(data)
	section.np-detail
		.page-title
			h2!= data.title
		.section-title
			h3!= data.subtitle
			a.btn.btn--back(href="javascript:void(0)")
				.btn--back__icon
					+svg('icon-collapse')
				span Back
		form.np-detail-form(action="javascript:void(0)")
			.np-detail-section
				.np-detail-section__title
					span 1. Info
				+info-collapse({
					lang: 'English',
					icon: 'icon-gb',
					class: 'is-collapsed',
					btn_class: 'is-active',
					other_group: data.other_group
				})
				+info-collapse({
					lang: 'Russian',
					icon: 'icon-rus',
					class: '',
					btn_class: '',
					other_group: data.other_group
				})
				+info-collapse({
					lang: 'Deutch',
					icon: 'icon-deu',
					class: '',
					btn_class: '',
					other_group: data.other_group
				})
			.np-detail-section
				.np-detail-section__filters
					.np-detail-section__filters__inner
						if data.filter_select
							.form-control-group
								span.form-control-label National Park
								.select-wrapper
									.select-trigger
										span.select-trigger__name Choose
										span.select-trigger__icon
											+svg('icon-chevron')
									.select-body
										.select-inner
											.select-option
												span.select-option__name National Park
											.select-option
												span.select-option__name National Park 1
											.select-option
												span.select-option__name National Park 2
											.select-option
												span.select-option__name National Park 3
						.form-control-group.form-control-group--lg
							span.form-control-label Duration (in minutes)
							.form-control-wrap
								input.form-control(type="number", placeholder="Duration")
					.form-control-photo-group.form-control-photo-group--squared
						input.input-hidden(type="file", id="photo_load")
						label.form-control-photo(for="photo_load")
							span.form-control-photo__box
						.form-control-photo-content
							.form-control-photo-content__line
								span.form-control-photo-name Photo
							.form-control-photo-content__line
								label.btn.btn--rounded.btn-photo-load(for="photo_load") Add Photo
							.form-control-photo-content__line
								span.form-control-photo-content__size Minimum image size: #[b 1440 x 1080p]
								span.form-control-photo-content__size Max #[b 5 MB]

			.np-detail-section
				.np-detail-section__title.np-detail-section__title--no-border
					span 2. Age settings
				.age-settings
					+age-settings({
						icon: false,
						inners: [
							{text: 'Min Age'}
						]
					})
					+age-settings({
						icon: 'icon-child',
						icon_name: 'Child',
						inners: [
							{text: 'To'}
						]
					})
					+age-settings({
						icon: 'icon-teenager',
						icon_name: 'Teenager',
						inners: [
							{text: 'From'},
							{text: 'To'},
						]
					})
					+age-settings({
						icon: 'icon-adult',
						icon_name: 'Adult',
						inners: [
							{text: 'From'}
						]
					})
			.np-detail-section
				.np-detail-section__title.np-detail-section__title--no-border
					span 3. Prices
					button.btn.btn--green(type="button")
						+svg('icon-list')
						span Seasons
				.np-detail-season
					.np-detail-season__header
						.np-detail-season__filters
							.np-detail-season__filters__side
								.form-control-group
									span.form-control-label Choose Season
									.select-wrapper.select-wrapper--xl
										.select-trigger
											span.select-trigger__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
											span.select-trigger__icon
												+svg('icon-chevron')
										.select-body
											.select-inner
												.select-option.is-selected
													span.select-option__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
												.select-option
													span.select-option__name #[b Hot Season] #[i 01.01.21 - 01.04.21]
												.select-option
													span.select-option__name #[b Cold Season] #[i 01.01.21 - 01.04.21]
												.select-option
													span.select-option__name #[b Cold-Cold Season] #[i 01.01.21 - 01.04.21]
									span.form-control-group__error(title="Sorry, this season is not available because something is wrong") Sorry, this season is not available because something is wrong
								button.btn.btn--green.btn--sm-squared.btn--popover(type="button",data-popover="Copy rates from another season")
									+svg('icon-copy')
					.np-detail-season__inner
						+season-box({
							section_title: false,
							boxes: [
								{
									title_icon: false,
									title: 'Cost Foreign',
									header: true,
									main: 'Age',
									rows: [
										{badge: 'Adult SA'},
										{badge: 'Teenager SA'},
										{badge: 'Child SA'}
									]
								},
								{
									title_icon: false,
									title: 'Cost Expat',
									header: true,
									main: 'Age',
									rows: [
										{badge: 'Adult Foreign'},
										{badge: 'Teenager Foreign'},
										{badge: 'Child Foreign'}
									]
								},
								{
									title_icon: false,
									title: 'Cost EA',
									header: true,
									main: 'Age',
									rows: [
										{badge: 'Adult Expat'},
										{badge: 'Teenager Expat'},
										{badge: 'Child Expat'}
									]
								},
							]
						})
			.np-detail-form__submit.np-detail-form__submit--no-border
				button.btn.btn--silver(type="button") 
					span Delete
				button.btn.btn--green.btn--shadowed(type="button")
					span Save

mixin info-collapse(data)
	.np-detail-collapse.js-collapse(class='' + data.class ? data.class : null)
		.np-detail-collapse__title
			.np-detail-collapse__lang
				.np-detail-collapse__lang__icon
					+svg(data.icon)
				span.np-detail-collapse__lang__text!= data.lang
			button.btn.btn--collapse.js-collapse-trigger(type="button", data-opened="Hide", data-closed="Show", class='' + data.btn_class ? data.btn_class : null)
				.btn--collapse__icon
					+svg('icon-collapse')
		.np-detail-collapse__inner.js-collapse-inner
			.np-detail-collapse__body
				.np-detail-collapse__body__group
					.np-detail-collapse__body__side
						.form-control-group
							span.form-control-label Name
							.form-control-wrap
								input.form-control(type="text", placeholder="Park's name")
				.np-detail-collapse__body__group
					.np-detail-collapse__body__side
						.form-control-group
							span.form-control-label Description
							.form-control-wrap
								.js-ckeditor
					.np-detail-collapse__body__side
						.form-control-group
							span.form-control-label Additional Notes
							.form-control-wrap
								.js-ckeditor
				if data.other_group
					.np-detail-collapse__body__group
						.np-detail-collapse__body__side
							.form-control-group
								span.form-control-label #[+svg('icon-checkmark-rounded')] The cost includes
								.form-control-wrap
									.js-ckeditor
						.np-detail-collapse__body__side
							.form-control-group
								span.form-control-label #[+svg('icon-close-rounded')] The cost excludes
								.form-control-wrap
									.js-ckeditor