.geo-section {
    width: 100%;
    &--transfer {
        max-width: 77.7rem;
        @media (max-width: $sw-xs-max) {
            max-width: 100%;
        }
        .page-title {
            margin-bottom: 2.1rem;
        }
        .geo-section__add {
            padding-bottom: 2rem;
            margin-bottom: 3rem;
            @media (max-width: $sw-xs-max) {
                padding-bottom: 5px;
            }
            @media (max-width: $sw-xx-max) {
                padding-bottom: 5px;
            }
            .section-title {
                margin-bottom: 3.3rem;
            }
        }
        .section-table--geo {
            @media (max-width: $sw-xx-max) {
                min-width: 55rem;
            }
            .col-departure {
                width: 18.7rem;
                padding-right: 1rem;
                margin-right: 1rem;
                padding-left: 6px;
            }
            .col-arrival {
                width: 14.5rem;
                padding-right: 1rem;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.16em;
                color: $dark;
            }
            .col-price {
                width: 10.6rem;
                justify-content: center;
                text-align: center;
                padding-right: 1rem;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.16em;
                color: $dark;
            }
        }
    }

    // transfer section
    &__transfer {
        max-width: 55rem;
        .section-title {
            margin-bottom: 2rem;
        }
    }
        
    // transfer form
    &__transfer-form {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
        .form-control-group {
            width: 20rem;
            @media (max-width: $sw-xs-max) {
                width: calc((100% - 3.6rem) / 2);
                margin-bottom: 1.5rem;
            }
            @media (max-width: 474px) {
                width: 100%;
            }
            &-divider {
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 1.5rem;
                }
                @media (max-width: 474px) {
                    display: none;
                }
            }
            &--double {
                width: 18rem;
                margin-left: 1.5rem;
                @media (max-width: $sw-xs-max) {
                    margin-left: 0;
                    width: auto;
                }
                .select-wrapper {
                    @media (max-width: $sw-xs-max) {
                        width: 10rem;
                    }
                }
            }
        }

        .select-wrapper {
            &:not(.select-wrapper--xs) {
                @media (max-width: $sw-xs-max) {
                    width: 100%;
                }
            }
        }
        .select-trigger {
            @media (max-width: $sw-xs-max) {
                width: 100%;
            }
        }
        
        &__submit {
            margin-left: 1.6rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1.5rem;
            }
            @media (max-width: 474px) {
                width: 100%;
                margin-left: 0;
            }
        }
    }

     // geo tables
     .section-table--geo {
        
    }
}