mixin transfer-prices(data)
	section.geo-section.geo-section--transfer
		.page-title
			h2 Setting & Data | Transfer Prices
		.geo-section__add
			.section-title
				h3 Add Transfer
				.currency-label
					span USD
			form.geo-section__transfer-form(action="javascript:void(0)")
				.form-control-group
					span.form-control-label Departure
					.select-wrapper.select-wrapper
						.select-trigger
							span.select-trigger__name Choose
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner
								.select-option
									span.select-option__name Departure
								.select-option
									span.select-option__name Departure 1
								.select-option
									span.select-option__name Departure 2
								.select-option
									span.select-option__name Departure 3
				.form-control-group-divider
					+svg('icon-chevron-double')
				.form-control-group
					span.form-control-label Arrival
					.select-wrapper.select-wrapper
						.select-trigger
							span.select-trigger__name Choose
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner
								.select-option
									span.select-option__name Arrival
								.select-option
									span.select-option__name Arrival 1
								.select-option
									span.select-option__name Arrival 2
								.select-option
									span.select-option__name Arrival 3
				.form-control-group.form-control-group--double
					span.form-control-label Price for 1-3 Pax
					.select-wrapper.select-wrapper--xs
						.select-trigger
							span.select-trigger__name USD
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner
								.select-option.is-selected
									span.select-option__name USD
								.select-option
									span.select-option__name EUR
								.select-option
									span.select-option__name UAH
					.form-control-wrap
						input.form-control(type="number", Placeholder="Amount")
				button.btn.btn--green.geo-section__transfer-form__submit(type="submit") 
					span Add
		.geo-section__transfer
			.section-title
				h3 Transfers
				.currency-label
					span USD
				.form-control-wrap
					input.form-control-search(type="text", placeholder="Search")
					.form-control-icon
						+svg('icon-search')
			.section-table-wrap(data-simplebar)
				.section-table.section-table--geo
					.section-table__head
						.col.col-departure
							span Departure
						.col.col-arrival
							span Arrival
						.col.col-price
							span Price for 1-3 Pax
					.section-table__body
						+tp-row()
						+tp-row()
						+tp-row()
						+tp-row()
						+tp-row()
						
			+pagination()


mixin tp-row(data)
	.section-table__row
		.col.col-departure
			.section-table__row__name Kilimanjaro Airport
			+svg('icon-chevron-double')
		.col.col-arrival
			span Arusha
		.col.col-price
			span 80
		.col.col-actions
			button.btn.btn--edit(type="button") 
				+svg('icon-edit')
			button.btn.btn--remove(type="button") 
				+svg('icon-close')