mixin breakdown-cost(data)
	section.breakdown-cost
		.container-lg
			.page-title
				h2 Full Breakdown Cost
			.breakdown-cost__info
				.breakdown-cost__info__title
					span TOTAL DAYS PROGRAMM: #[b 10]
				.breakdown-cost__info__range
					p Start: #[b 3rd August 2020] #[span.breakdown-cost__info__range__divider /] End: #[b 12th August 2020]
			.section-table-wrap(data-simplebar)
				.breakdown-cost__table
					.breakdown-cost__table__head
						.col.col-pax
							span Pax
						.col.col-price
							span Price
					.breakdown-cost__table__row
						.breakdown-cost__table__row__title
							.breakdown-cost__table__row__icon.breakdown-cost__table__row__icon--blue
								+svg('icon-car')
							span Transfers Cost
						.breakdown-cost__table__line
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Kilimanjaro Airport - Moshi
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 100.0$
					.breakdown-cost__table__row
						.breakdown-cost__table__row__title
							.breakdown-cost__table__row__icon.breakdown-cost__table__row__icon--orange
								+svg('icon-safari')
							span Safari Cost
						.breakdown-cost__table__line
							span.breakdown-cost__table__line__title Park Fees
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Lake Manyara (1 Day)
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 289.1$
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Ngorongoro Crater (1 Day)
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 672.6$
						.breakdown-cost__table__line
							span.breakdown-cost__table__line__title Safari Activities
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Airballoon Serengeti
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 289.1$
						.breakdown-cost__table__line
							span.breakdown-cost__table__line__title Hotels
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Aishi Machame Hotel (2 nights)
							.breakdown-cost__table__line__subitem
								span.breakdown-cost__table__line__subitem__name Double/Twin (2 Adult / HB)
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 110.0$
							.breakdown-cost__table__line__subitem
								span.breakdown-cost__table__line__subitem__name Double/Twin (2 Adult / HB)
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 110.0$
						.breakdown-cost__table__line
							span.breakdown-cost__table__line__title Transfers
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Rent safari car
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 110.0$
					.breakdown-cost__table__row
						.breakdown-cost__table__row__title
							.breakdown-cost__table__row__icon.breakdown-cost__table__row__icon--green
								+svg('icon-climbing')
							span Climbing Cost (Lemosho 8 days)
						.breakdown-cost__table__line
							span.breakdown-cost__table__line__title Park Fees
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Camping (7 days)
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 289.1$
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Hiking (6 days)
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 672.6$
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Resque fee
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 672.6$
						.breakdown-cost__table__line
							span.breakdown-cost__table__line__title Accomodation
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Day 7 (27 Jun) - Aishi Machame Hotel
							.breakdown-cost__table__line__subitem
								span.breakdown-cost__table__line__subitem__name Double/Twin (2 Adult / HB)
								span.breakdown-cost__table__line__item__pax 1 Room
								span.breakdown-cost__table__line__item__price 110.0$
						.breakdown-cost__table__line
							span.breakdown-cost__table__line__title Transfers
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Transfers to Lemosho
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 110.0$
					.breakdown-cost__table__row
						.breakdown-cost__table__row__title
							.breakdown-cost__table__row__icon.breakdown-cost__table__row__icon--red
								+svg('icon-zanzibar')
							span Zanzibar Cose
						.breakdown-cost__table__line
							span.breakdown-cost__table__line__title Transfer
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Zanzibar Airport - Esque Hotel
								span.breakdown-cost__table__line__item__pax 5 Pax
								span.breakdown-cost__table__line__item__price 289.1$
						.breakdown-cost__table__line
							span.breakdown-cost__table__line__title Hotels
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Aishi Machame Hotel (2 nights)
							.breakdown-cost__table__line__subitem
								span.breakdown-cost__table__line__subitem__name Double/Twin (2 Adult / HB)
								span.breakdown-cost__table__line__item__pax 1 Room
								span.breakdown-cost__table__line__item__price 110.0$
							.breakdown-cost__table__line__subitem
								span.breakdown-cost__table__line__subitem__name Double/Twin (2 Adult / HB)
								span.breakdown-cost__table__line__item__pax 1 Room
								span.breakdown-cost__table__line__item__price 110.0$
							.breakdown-cost__table__line__subitem
								span.breakdown-cost__table__line__subitem__name Double/Twin (2 Adult / HB)
								span.breakdown-cost__table__line__item__pax 1 Room
								span.breakdown-cost__table__line__item__price 110.0$
							.breakdown-cost__table__line__subitem
								span.breakdown-cost__table__line__subitem__name Single (1 Adult / HB)
								span.breakdown-cost__table__line__item__pax 1 Room
								span.breakdown-cost__table__line__item__price 85.0$
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Mount Meru Hotel (3 nights)
							.breakdown-cost__table__line__subitem
								span.breakdown-cost__table__line__subitem__name Double/Twin (2 Adult / HB)
								span.breakdown-cost__table__line__item__pax 1 Room
								span.breakdown-cost__table__line__item__price 110.0$
					.breakdown-cost__table__row
						.breakdown-cost__table__row__title
							.breakdown-cost__table__row__icon.breakdown-cost__table__row__icon--blue
								+svg('icon-airplane')
							span Flight tickets
						.breakdown-cost__table__line
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Kilimanjaro - Zanzibar Airport
								span.breakdown-cost__table__line__item__pax Adult 15kg (2)
								span.breakdown-cost__table__line__item__price 110.0$
							.breakdown-cost__table__line__info
								span.breakdown-cost__table__line__item__name
									span.breakdown-cost__table__line__item__box Airlines: #[i Flightlink]
									span.breakdown-cost__table__line__item__box Dept Time: #[i 16:30]
								span.breakdown-cost__table__line__item__pax Adult 30kg (2)
								span.breakdown-cost__table__line__item__price 110.0$
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__pax Child 15kg (1)
								span.breakdown-cost__table__line__item__price 110.0$
						.breakdown-cost__table__line
							.breakdown-cost__table__line__item
								span.breakdown-cost__table__line__item__name Kilimanjaro - Zanzibar Airport
								span.breakdown-cost__table__line__item__pax Adult 15kg (2)
								span.breakdown-cost__table__line__item__price 110.0$
							.breakdown-cost__table__line__info
								span.breakdown-cost__table__line__item__name
									span.breakdown-cost__table__line__item__box Airlines: #[i Flightlink]
									span.breakdown-cost__table__line__item__box Dept Time: #[i 16:30]
								span.breakdown-cost__table__line__item__pax Adult 30kg (2)
								span.breakdown-cost__table__line__item__price 110.0$
					.breakdown-cost__table__row
						.breakdown-cost__table__row__title
							.breakdown-cost__table__row__icon
								+svg('icon-other')
							span Other
						.breakdown-cost__table__line
							.breakdown-cost__table__line__info
								span.breakdown-cost__table__line__item__name Bottled water (2 liters)
								span.breakdown-cost__table__line__item__price 150.0$
							.breakdown-cost__table__line__info
								span.breakdown-cost__table__line__item__name Snacks
								span.breakdown-cost__table__line__item__price 25.0$
							.breakdown-cost__table__line__info
								span.breakdown-cost__table__line__item__name Lunch Boxes
								span.breakdown-cost__table__line__item__price 60.0$
					.breakdown-cost__table__commision
						.breakdown-cost__table__commision__icon
							span $
						.breakdown-cost__table__commision__name
							span Our Comission Safari (35%)
						.breakdown-cost__table__commision__action
							button.btn.btn--edit(type="button")
								+svg('icon-edit')
						.breakdown-cost__table__commision__price
							span 3,596.0$
					.breakdown-cost__table__commision
						.breakdown-cost__table__commision__icon
							span $
						.breakdown-cost__table__commision__name
							span Our Comission Climbing (35%)
						.breakdown-cost__table__commision__action
							button.btn.btn--edit(type="button")
								+svg('icon-edit')
						.breakdown-cost__table__commision__price
							span 3,596.0$
					.breakdown-cost__table__commision
						.breakdown-cost__table__commision__icon
							span $
						.breakdown-cost__table__commision__name
							span Our Comission Zanzibar (35%)
						.breakdown-cost__table__commision__action
							button.btn.btn--edit(type="button")
								+svg('icon-edit')
						.breakdown-cost__table__commision__price
							span 3,596.0$
					.breakdown-cost__table__commision
						.breakdown-cost__table__commision__icon
							span $
						.breakdown-cost__table__commision__name
							span Our Other Comission (35%)
						.breakdown-cost__table__commision__action
							button.btn.btn--edit(type="button")
								+svg('icon-edit')
						.breakdown-cost__table__commision__price
							span 3,596.0$
			.breakdown-cost__summary
				.breakdown-cost__summary__head
					span Summary
				.breakdown-cost__summary__line
					.breakdown-cost__summary__line__item
						.breakdown-cost__summary__line__descr
							.breakdown-cost__summary__line__icon
								+svg('icon-calendar')
							span Total Days Programm:
						.breakdown-cost__summary__line__val
							span 10 Days
				.breakdown-cost__summary__line
					.breakdown-cost__summary__line__item.line-item-programm
						.breakdown-cost__summary__line__descr
							.breakdown-cost__summary__line__icon
								+svg('icon-safari')
							span Safari:
						.breakdown-cost__summary__line__val
							span 6 Days
					.breakdown-cost__summary__line__item.line-item-programm
						.breakdown-cost__summary__line__descr
							.breakdown-cost__summary__line__icon
								+svg('icon-climbing')
							span Climbing:
						.breakdown-cost__summary__line__val
							span 6 Days
					.breakdown-cost__summary__line__item.line-item-programm
						.breakdown-cost__summary__line__descr
							.breakdown-cost__summary__line__icon
								+svg('icon-zanzibar')
							span Zanzibar:
						.breakdown-cost__summary__line__val
							span 6 Days
					.breakdown-cost__summary__line__item.line-item-programm
						.breakdown-cost__summary__line__descr
							.breakdown-cost__summary__line__icon
								+svg('icon-other')
							span Other:
						.breakdown-cost__summary__line__val
							span 6 Days
				.breakdown-cost__summary__line
					.breakdown-cost__summary__line__item
						.breakdown-cost__summary__line__descr
							.breakdown-cost__summary__line__icon
								+svg('icon-location')
							span National Parks:
						.breakdown-cost__summary__line__val
							span Tarangire (1 day), Lake Manyara (1 day), Ngorongoro Crater (1 day), Serengeti (3 days), Ngorongoro Transit (1 day)
				.breakdown-cost__summary__total
					.breakdown-cost__summary__total__line
						span.breakdown-cost__summary__total__descr 1 Adult (F)
						span.breakdown-cost__summary__total__val 2,774.0$
					.breakdown-cost__summary__total__line
						span.breakdown-cost__summary__total__descr 1 Adult (EA)
						span.breakdown-cost__summary__total__val 2,500.0$
					.breakdown-cost__summary__total__line
						span.breakdown-cost__summary__total__descr 1 Child (5 yo)
						span.breakdown-cost__summary__total__val 500.0$
					.breakdown-cost__summary__total__main
						span.breakdown-cost__summary__total__descr Total PRICE:
						span.breakdown-cost__summary__total__val 13,870.2$