.breakdown-cost {
    border-top: 1px solid #D1D1D1;
    padding: 3.8rem 0 0 0;
    .page-title {
        margin-bottom: 2.6rem;
        h2 {
            margin-bottom: 0;
        }
    }
    &__info {
        margin-bottom: 3.2rem;
        &__title {
            font-size: 1.3rem;
            line-height: 1.23em;
            color: #6D6D6D;
            text-transform: uppercase;
            margin-bottom: 1rem;
            b {
                color: $darken;
            }
        }
        &__range {
            font-size: 1.2em;
            line-height: 1.16em;
            color: #6D6D6D;
            &__divider {
                margin: 0 7px;   
            }
            b {
                color: $darken;
            }
        }
    }

    .section-table-wrap {
        margin-bottom: 1.2rem;
    }

    &__table {
        width: 56rem;
        margin-bottom: 2.5rem;
        &__head {
            margin-bottom: 1.4rem;
            height: 3.2rem;
            background-color: #F6F6F6;
            border-radius: 5px;
            color: #919191;
            padding: 0 5px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        &__commision {
            border-bottom: 1px solid #CECECE;
            padding: 9px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            &__icon {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 2px solid $white;
                margin-right: 4px;
                position: relative;
                background-color: #77B017;
                color: $white;
                font-size: 1.2rem;
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            &__name {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 1.2em;
                color: #1A1A1A;
                min-width: 22rem;
                margin-right: 1rem;
            }
            &__price {
                font-size: 1.3rem;
                line-height: 1.23em;
                color: #1A1A1A;
                display: flex;
                width: 9.1rem;
                margin-left: auto;
            }
        }
        &__row {
            border-bottom: 1px solid #CECECE;
            padding-bottom: 9px;
            margin-bottom: 1.6rem;
            & + .breakdown-cost__table__commision {
                margin-top: -1.6rem;
            }
            &__title {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 1.2em;
                color: #1A1A1A;
                margin-bottom: 9px;
            }
            &__icon {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 2px solid $white;
                margin-right: 8px;
                position: relative;
                background-color: #505050;
                &--blue {
                    background-color: #3252A4;
                }
                &--orange {
                    background-color: #EB9514;
                }
                &--green {
                    background-color: #219B52;
                }
                &--red {
                    background-color: #DA3E63;
                }
                &--blue {
                    background-color: #439AD1;
                }
                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    color: $white;
                    &-car {
                        font-size: 1rem;
                    }
                    &-safari,
                    &-other {
                      font-size: 1.1rem; 
                    }
                    &-climbing {
                        font-size: 1.2rem;
                    }
                    &-zanzibar {
                        font-size: 9px;
                    }
                    &-airplane {
                        font-size: 9px;
                    }
                }
            }
        }
        &__line {
            padding: 0 1.6rem 0 2.7rem;
            margin-bottom: 2.6rem;
            width: 100%;
            position: relative;
            &:not(:last-child) {
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #E6E6E6;
                    width: calc(100% - 3rem);
                    left: 1.5rem;
                    bottom: -1.5rem;
                    position: absolute;
                }
            }
            &__title {
                display: inline-block;
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 1.23em;
                color: #1A1A1A;
                position: relative;
                margin-bottom: 1.2rem;
                margin-top: 4px;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: #646464;
                }
            }
            &__info {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                font-size: 1.3rem;
                line-height: 1.23em;
                color: #1A1A1A;
                margin-bottom: 1rem;
                i {
                    font-style: normal;
                    color: #5B5B5B;
                }
                .breakdown-cost__table__line__item__name {
                    &:before {
                        display: none;
                    }
                }
            }
            &__item {
                margin-bottom: 1rem;
                font-size: 1.3rem;
                line-height: 1.23em;
                color: #1A1A1A;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                &__name {
                    padding-left: 8px;
                    font-weight: 400;
                    position: relative;
                    width: calc(100% - 20rem);
                    word-break: break-all;
                    padding-right: 2.5rem;
                    &:before {
                        content: '';
                        display: block;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: #606060;
                        position: absolute;
                        left: 0;
                        top: 7px;
                    }
                }
                &__pax {
                    display: block;
                    width: 10.5rem;
                    padding-right: 1rem;
                    margin-left: auto;
                }
                &__price {
                    display: block;
                    width: 7.5rem;
                }
                &__box {
                    margin-right: 3rem;
                }
            }
            &__subitem {
                display: flex;
                align-items: center;
                font-size: 1.3rem;
                line-height: 1.23em;
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
                &__name {
                    padding-left: 2rem;
                    font-size: 1.3rem;
                    line-height: 1.23em;
                    color: #5B5B5B;
                }   
            }
        }
        .col {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.16em;
            color: #6C6C6C;
            &-pax {
                width: 10.5rem;
            }
            &-price {
                width: 8.5rem;
            }
        }
    }

    &__summary {
        width: 100%;
        max-width: 56rem;
        background: $white;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 3rem;
        &__head {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #F6F6F6;
            border-radius: 5px 5px 0 0;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.15em;
            height: 3.2rem;
            color: #1B1B1B;
            text-transform: uppercase;
        }
        &__line {
            padding: 1.2rem 1.4rem;
            border-bottom: 1px solid #E6E6E6;
            &__item {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                & + .breakdown-cost__summary__line__item {
                    margin-top: 1.7rem;
                }
            }
            &__descr {
                width: 44%;
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 1.23em;
                color: #1A1A1A;
                padding-right: 1rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @media (max-width: 480px) {
                    width: 50%;
                }
                .line-item-programm & {
                    padding-left: 2.6rem;
                    @media (max-width: 480px) {
                        padding-left: 6px;
                    }
                }
            }
            &__val {
                width: 56%;
                font-weight: 400;
                font-size: 1.3rem;
                line-height: 1.23em;
                color: #606060;
                @media (max-width: 480px) {
                    width: 50%;
                }
            }
            &__icon {
                width: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1rem;
                .icon {
                    &-calendar {
                        font-size: 1.4rem;
                    }
                    &-safari {
                        font-size: 1.3rem;
                    }
                    &-climbing {
                        font-size: 1.6rem;
                    }
                    &-zanzibar {
                        font-size: 1.4rem;
                    }
                    &-other {
                        font-size: 1.1rem;
                    }
                    &-location {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        &__total {
            padding: 1.8rem 2.3rem;
            &__line {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @media (max-width: 480px) {
                    justify-content: space-between;
                }
                & + .breakdown-cost__summary__total__line {
                    margin-top: 6px;
                }
            }
            &__descr {
                width: 10rem;
                margin-right: 1.4rem;
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 1.23em;
                color: #1A1A1A;
                @media (max-width: 480px) {
                    width: 50%;
                }
            }
            &__val {
                text-align: right;
                width: 9.6rem;
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 1.23em;
                color: #1A1A1A;
                @media (max-width: 480px) {
                    width: 50%;
                }
            }
            &__main {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 2.6rem;
                .breakdown-cost__summary__total {
                    &__descr {
                        text-transform: uppercase;
                        font-size: 1.4rem;
                        line-height: 1.21em;
                    }
                    &__val {
                        font-size: 1.7rem;
                        line-height: 1.18em;
                    }
                }
            }
        }
    }
}