mixin tour-program(data)
	.tour-program
		.container-lg
			.section-title
				h3 Tour Program
			.tour-program-table
				.tour-program-table__row
					button.tour-program-table__replace(type="button")
						+svg('icon-move')
					button.tour-program-table__remove(type="button")
						+svg('icon-close')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day__icon.tour-program-table__day__icon--green
								+svg('icon-airplane')
							span.tour-program-table__day__num Day 1
							span.tour-program-table__day__date 04/08/20
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Arrival to Tanzania
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option
											span.select-option__name Arrival to Kambodia
										.select-option.is-selected
											span.select-option__name Arrival to Tanzania
										.select-option
											span.select-option__name Arrival to New york
										.select-option
											span.select-option__name Arrival to LA
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Kilimanjaro International
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Kilimanjaro International
										.select-option
											span.select-option__name Kilimanjaro International 1
										.select-option
											span.select-option__name Kilimanjaro International 2
										.select-option
											span.select-option__name Kilimanjaro International 3
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Activity")
								+svg('icon-parachute')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
						.tour-program-table__text-info
							span.tour-program-table__text-info__item #[b Hotels: ] Aishi Machame Lodge (3 Rooms)
							span.tour-program-table__text-info__item #[b Activity: ] Waterfall
				.tour-program-table__row
					button.tour-program-table__replace(type="button")
						+svg('icon-move')
					button.tour-program-table__remove(type="button")
						+svg('icon-close')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day__dot.tour-program-table__day__dot--blue
							span.tour-program-table__day__num Day 2
							span.tour-program-table__day__date 04/08/20
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Day Trip
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Day Trip
										.select-option
											span.select-option__name Day Trip 1
										.select-option
											span.select-option__name Day Trip 2
										.select-option
											span.select-option__name Day Trip 3
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Waterfall
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Waterfall
										.select-option
											span.select-option__name Waterfall 1
										.select-option
											span.select-option__name Waterfall 2
										.select-option
											span.select-option__name Waterfall 3
						.form-control-group.form-control-group--labeled
							span.form-control-label Pax
							.form-control-wrap
								input.form-control(type="number", placeholder="0")
						.form-control-group.form-control-group--time
							span.form-control-label Pick up time
							.form-control-wrap
								input.form-control.form-control-time.maskField(type="text", mask="29:59", placeholder="--:--")
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
				.tour-program-table__row
					button.tour-program-table__replace(type="button")
						+svg('icon-move')
					button.tour-program-table__remove(type="button")
						+svg('icon-close')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day__dot.tour-program-table__day__dot--silver
							span.tour-program-table__day__num Day 2
							span.tour-program-table__day__date 04/08/20
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Rest Day
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Rest Day
										.select-option
											span.select-option__name Rest Day 1
										.select-option
											span.select-option__name Rest Day 2
										.select-option
											span.select-option__name Rest Day 3
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Activity")
								+svg('icon-parachute')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
				.tour-program-table__row.tour-program-table__row--labeled
					button.tour-program-table__replace(type="button")
						+svg('icon-move')
					button.tour-program-table__remove(type="button")
						+svg('icon-close')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day__label.tour-program-table__day__label--green
								.tour-program-table__day__label__icon
									+svg('icon-climbing')
								span Climbing
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Climbing (Premium)
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Climbing (Premium)
										.select-option
											span.select-option__name Climbing (Premium) 1
										.select-option
											span.select-option__name Climbing (Premium) 2
										.select-option
											span.select-option__name Climbing (Premium) 3
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Lemosho 7 days
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Lemosho 7 days
										.select-option
											span.select-option__name Lemosho 8 days
										.select-option
											span.select-option__name Lemosho 9 days
										.select-option
											span.select-option__name Lemosho 10 days
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day
								.tour-program-table__day__dot.tour-program-table__day__dot--green
								span.tour-program-table__day__num Day 3
								span.tour-program-table__day__date 04/08/20
						.tour-program-table__day-descr
							span Lemosho 7 days | Day 2
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day
								.tour-program-table__day__dot.tour-program-table__day__dot--green
								span.tour-program-table__day__num Day 4
								span.tour-program-table__day__date 04/08/20
						.tour-program-table__day-descr
							span Lemosho 7 days | Day 3
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day
								.tour-program-table__day__dot.tour-program-table__day__dot--green
								span.tour-program-table__day__num Day 5
								span.tour-program-table__day__date 04/08/20
						.tour-program-table__day-descr
							span Lemosho 7 days | Day 4
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day
								.tour-program-table__day__dot.tour-program-table__day__dot--green
								span.tour-program-table__day__num Day 6
								span.tour-program-table__day__date 04/08/20
						.tour-program-table__day-descr
							span Lemosho 7 days | Day 5
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day
								.tour-program-table__day__dot.tour-program-table__day__dot--green
								span.tour-program-table__day__num Day 7
								span.tour-program-table__day__date 04/08/20
						.tour-program-table__day-descr
							span Lemosho 7 days | Day 6
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day
								.tour-program-table__day__dot.tour-program-table__day__dot--green
								span.tour-program-table__day__num Day 8
								span.tour-program-table__day__date 04/08/20
						.tour-program-table__day-descr
							span Lemosho 7 days | Day 7
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
				.tour-program-table__row
					button.tour-program-table__replace(type="button")
						+svg('icon-move')
					button.tour-program-table__remove(type="button")
						+svg('icon-close')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day__dot.tour-program-table__day__dot--silver
							span.tour-program-table__day__num Day 9
							span.tour-program-table__day__date 04/08/20
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Rest Day
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Rest Day
										.select-option
											span.select-option__name Rest Day 1
										.select-option
											span.select-option__name Rest Day 2
										.select-option
											span.select-option__name Rest Day 3
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Activity")
								+svg('icon-parachute')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
				.tour-program-table__row
					button.tour-program-table__replace(type="button")
						+svg('icon-move')
					button.tour-program-table__remove(type="button")
						+svg('icon-close')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day__dot.tour-program-table__day__dot--blue
							span.tour-program-table__day__num Day 13
							span.tour-program-table__day__date 04/08/20
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Day Trip
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Day Trip
										.select-option
											span.select-option__name Day Trip 1
										.select-option
											span.select-option__name Day Trip 2
										.select-option
											span.select-option__name Day Trip 3
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Waterfall
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Waterfall
										.select-option
											span.select-option__name Waterfall 1
										.select-option
											span.select-option__name Waterfall 2
										.select-option
											span.select-option__name Waterfall 3
						.form-control-group.form-control-group--labeled
							span.form-control-label Pax
							.form-control-wrap
								input.form-control(type="number", placeholder="0")
						.form-control-group.form-control-group--time
							span.form-control-label Pick up time
							.form-control-wrap
								input.form-control.form-control-time.maskField(type="text", mask="29:59", placeholder="--:--")
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
				.tour-program-table__row.tour-program-table__row--labeled
					button.tour-program-table__replace(type="button")
						+svg('icon-move')
					button.tour-program-table__remove(type="button")
						+svg('icon-close')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day__label.tour-program-table__day__label--orange
								.tour-program-table__day__label__icon
									+svg('icon-safari')
								span Safari
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Safari (Private)
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Safari (Private)
										.select-option
											span.select-option__name Safari (Private) 1
										.select-option
											span.select-option__name Safari (Private) 2
										.select-option
											span.select-option__name Safari (Private) 3
						.form-control-group.form-control-group--labeled
							span.form-control-label Duration
							.form-control-wrap
								input.form-control(type="number", placeholder="0", value="2")
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day
								.tour-program-table__day__dot.tour-program-table__day__dot--orange
								span.tour-program-table__day__num Day 11
								span.tour-program-table__day__date 04/08/20
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name National Park
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name National Park
										.select-option
											span.select-option__name National Park 1
										.select-option
											span.select-option__name National Park 2
										.select-option
											span.select-option__name National Park 3
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Activity")
								+svg('icon-parachute')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day
								.tour-program-table__day__dot.tour-program-table__day__dot--orange
								span.tour-program-table__day__num Day 12
								span.tour-program-table__day__date 04/08/20
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name National Park
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name National Park
										.select-option
											span.select-option__name National Park 1
										.select-option
											span.select-option__name National Park 2
										.select-option
											span.select-option__name National Park 3
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Activity")
								+svg('icon-parachute')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
				.tour-program-table__row
					button.tour-program-table__replace(type="button")
						+svg('icon-move')
					button.tour-program-table__remove(type="button")
						+svg('icon-close')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day__dot.tour-program-table__day__dot--blue
							span.tour-program-table__day__num Day 13
							span.tour-program-table__day__date 04/08/20
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Day Trip
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Day Trip
										.select-option
											span.select-option__name Day Trip 1
										.select-option
											span.select-option__name Day Trip 2
										.select-option
											span.select-option__name Day Trip 3
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Waterfall
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Waterfall
										.select-option
											span.select-option__name Waterfall 1
										.select-option
											span.select-option__name Waterfall 2
										.select-option
											span.select-option__name Waterfall 3
						.form-control-group.form-control-group--labeled
							span.form-control-label Pax
							.form-control-wrap
								input.form-control(type="number", placeholder="0")
						.form-control-group.form-control-group--time
							span.form-control-label Pick up time
							.form-control-wrap
								input.form-control.form-control-time.maskField(type="text", mask="29:59", placeholder="--:--")
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
				.tour-program-table__row.tour-program-table__row--labeled
					button.tour-program-table__replace(type="button")
						+svg('icon-move')
					button.tour-program-table__remove(type="button")
						+svg('icon-close')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day__label.tour-program-table__day__label--red
								.tour-program-table__day__label__icon
									+svg('icon-zanzibar')
								span Zanzibar
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Zanzibar Vacation
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Zanzibar Vacation
										.select-option
											span.select-option__name Zanzibar Vacation 1
										.select-option
											span.select-option__name Zanzibar Vacation 2
										.select-option
											span.select-option__name Zanzibar Vacation 3
						.form-control-group.form-control-group--labeled
							span.form-control-label Duration
							.form-control-wrap
								input.form-control(type="number", placeholder="0", value="2")
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day
								.tour-program-table__day__dot.tour-program-table__day__dot--red
								span.tour-program-table__day__num Day 14
								span.tour-program-table__day__date 04/08/20
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Activity")
								+svg('icon-parachute')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day
								.tour-program-table__day__dot.tour-program-table__day__dot--red
								span.tour-program-table__day__num Day 15
								span.tour-program-table__day__date 04/08/20
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Activity")
								+svg('icon-parachute')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
				.tour-program-table__row
					button.tour-program-table__replace(type="button")
						+svg('icon-move')
					button.tour-program-table__remove(type="button")
						+svg('icon-close')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day__dot.tour-program-table__day__dot--silver
							span.tour-program-table__day__num Day 16
							span.tour-program-table__day__date 04/08/20
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Own Arrangements
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Own Arrangements
										.select-option
											span.select-option__name Own Arrangements 1
										.select-option
											span.select-option__name Own Arrangements 2
										.select-option
											span.select-option__name Own Arrangements 3
						.tour-program-table__btn-group
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Hotel")
								+svg('icon-house')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Activity")
								+svg('icon-parachute')
							button.btn.btn--green.btn--sm-squared.btn--popover(type="button", data-popover="Flight")
								+svg('icon-airplane')
				.tour-program-table__row
					button.tour-program-table__replace(type="button")
						+svg('icon-move')
					button.tour-program-table__remove(type="button")
						+svg('icon-close')
					.tour-program-table__line
						.tour-program-table__day
							.tour-program-table__day__icon.tour-program-table__day__icon--red
								+svg('icon-airplane')
							span.tour-program-table__day__num Day 1
							span.tour-program-table__day__date 04/08/20
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Departure
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Departure
										.select-option
											span.select-option__name Departure 1
										.select-option
											span.select-option__name Departure 2
										.select-option
											span.select-option__name Departure 3
						.form-control-group
							.select-wrapper
								.select-trigger
									span.select-trigger__name Kilimanjaro International
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner.js-scrollbar
										.select-option.is-selected
											span.select-option__name Kilimanjaro International
										.select-option
											span.select-option__name Kilimanjaro International 1
										.select-option
											span.select-option__name Kilimanjaro International 2
										.select-option
											span.select-option__name Kilimanjaro International 3
			button.btn.btn--rounded(type="button")
				span Add day