.tour-program {
    background-color: #FCFCFC;
    padding: 3rem 0 3.6rem 0;
    .section-title {
        margin-bottom: 2.6rem;
    }
    &-table {
        width: 100%;
        margin-bottom: 2.2rem;
        &__row {
            width: 100%;
            max-width: 105.8rem;
            background-color: $white;
            border: 1px solid #CCCACA;
            transition: background-color .3s ease, border-color .3s ease, box-shadow .3s ease;
            box-shadow: none;
            position: relative;
            margin-bottom: -1px;
            &.is-replacing {
                background-color: #F8F8F8;
                border-color: #B6B6B6;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
            }
        }
        &__line {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            padding: 0 11.2rem 0 1.2rem;
            @media (max-width: $sw-sm-max) {
                padding: 0 8.5rem 0 8px;
            }
            @media (max-width: $sw-xs-max) {
                flex-wrap: wrap;
                padding: 0 10.5rem 0 8px;
            }
            @media (max-width: $sw-xx-max) {
                padding: 0 7.5rem 0 8px;
            }
            .form-control-group {
                margin: 7px 1rem 7px 0;
            }
            .select-trigger {
                @media (max-width: $sw-sm-max) {
                    width: 17rem;
                }
                @media (max-width: $sw-xx-max) {
                    width: 20rem;
                }
            }
            &:not(:last-child) {
                .tour-program-table__day__dot {
                    &:after {
                        display: block;
                        @media (max-width: $sw-xs-max) {
                            display: none;
                        }
                    }
                }
            }
        }
        &__day {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 11.6rem;
            margin: 7px 1rem 7px 0;
            &-descr {
                font-size: 1.1rem;
                line-height: 1.18em;
                text-transform: capitalize;
                color: #404040;
                width: 20rem;
                margin-right: 1rem;
                @media (max-width: $sw-xs-max) {
                    width: auto;
                }
            }
            &__icon {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 2px solid $white;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $black;
                margin-right: 5px;
                flex-shrink: 0;
                &--green {
                    background-color: #96BE53;
                }
                &--red {
                    background-color: #D73333;
                }
                .icon {
                    color: $white;
                    &-airplane {
                        font-size: 1rem;
                    }
                }
            }
            &__num {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.1rem;
                line-height: 1em;
                color: #0C0C0C;
                margin-right: 5px;
                display: flex;
                flex-shrink: 0;
            }
            &__date {
                display: flex;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1em;
                color: #0C0C0C;
                flex-shrink: 0;
                margin-bottom: 1px;
            }
            &__dot {
                width: 1.1rem;
                height: 1.1rem;
                border: 2px solid #F9F9F9;
                border-radius: 50%;
                flex-shrink: 0;
                margin: 0 1rem 0 4px;
                position: relative;
                z-index: 40;
                @media (max-width: $sw-xs-max) {
                    width: 0;
                    height: 0;
                    margin: 0;
                    position: static;
                }
                &--blue {
                    background-color: #3252A4;
                }
                &--silver {
                    background-color: #A4A4A4;
                }
                &--green {
                    background-color: #219B52;
                }
                &--orange {
                    background-color: #EB9514;
                }
                &--red {
                    background-color: #DA3E63;
                }
                &:before {
                    content: '';
                    display: none;
                    width: 2px;
                    height: 100%;
                    background-color: inherit;
                    position: absolute;
                    top: 0;
                    left: 0;
                    @media (max-width: $sw-xs-max) {
                        display: block;
                    }
                }
                .tour-program-table__row--labeled & {
                    &:after {
                        content: '';
                        display: none;
                        width: 3px;
                        position: absolute;
                        left: 2px;
                        top: calc(100% + 2px);
                        background-color: inherit;
                        height: 4rem;
                        z-index: 0;
                    }
                }
            }
            &__label {
                border-radius: 2rem;
                height: auto;
                width: calc(100% + 4px);
                padding: 3px;
                font-weight: 600;
                font-size: 1.1rem;
                line-height: 1.18em;
                text-transform: uppercase;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-left: -4px;
                position: relative;
                z-index: 40;
                @media (max-width: $sw-xs-max) {
                    margin-left: 0;
                    width: 100%;
                    position: static;
                }
                .tour-program-table__row--labeled & {
                    &:after {
                        content: '';
                        display: block;
                        width: 3px;
                        position: absolute;
                        left: 1.2rem;
                        top: 100%;
                        background-color: inherit;
                        height: 3.6rem;
                        z-index: 0;
                        @media (max-width: $sw-xs-max) {
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: 2px;
                        }
                    }
                }
                &--green {
                    background-color: #219B52;
                }
                &--orange {
                    background-color: #EB9514;
                }
                &--red {
                    background-color: #DA3E63;
                }
                &__icon {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border: 2px solid $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 8px;
                    .icon {
                        &-climbing {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
        &__btn-group {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 7px 1rem 7px 0;
            .btn {
                & + .btn {
                    margin-left: 1rem;
                }
            }
        }
        &__text-info {
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.18em;
            color: #666666;
            min-height: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 7px 1rem 7px 0;
            &__item {
                display: block;
            }
        }
        &__replace, &__remove {
            width: 5rem;
            height: 5.2rem;
            background-color: $white;
            cursor: pointer;
            transition: background-color .3s ease, border-color .3s ease;
            border: 1px solid #DDDDDD;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 10;
            top: -1px;
            bottom: -1px;
            @media (max-width: $sw-sm-max) {
                width: 4rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 5rem;
                border-bottom: 1px solid #DDDDDD;
            }
            @media (max-width: $sw-xx-max) {
                width: 3.5rem;
                height: 3.5rem;
            }
        }
        &__replace {
            right: 4.9rem;
            border-right: none;
            @media (max-width: $sw-sm-max) {
                right: 3.9rem;
            }
            @media (max-width: $sw-xs-max) {
                right: 4.9rem;
            }
            @media (max-width: $sw-xx-max) {
                right: 3.4rem;
            }
            &:hover {
                background-color: rgba(#77B017, 0.8);
                .icon-move {
                    color: $white;
                }
            }
            &:active {
                background-color: #77B017;
                border-color: #639A05;
                .icon-move {
                    color: $white;
                }
            }
            .icon-move {
                font-size: 1.4rem;
                color: #639A05;
                transition: color .3s ease;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.2rem;
                }
            }
        }
        &__remove {
            right: -1px;
            .icon-close {
                font-size: 9px;
                transition: color .3s ease;
                color:#ADADAD;
                @media (max-width: $sw-xx-max) {
                    font-size: 7px;
                }
            }
            &:hover {
                background-color: #EDEDED;
                .icon-close {
                    color: $black;
                }
            }
        }
    }
}