.np-detail {
    .page-title {
        margin-bottom: 5px;
    }
    .section-title {
        justify-content: flex-start;
        margin-bottom: 3.2rem;
        h3 {
            margin-right: 1.7rem;
        }
    }
    &-section {
        margin-bottom: 4.5rem;
        &__title {
            display: flex;
            align-items: center;
            width: 100%;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.16em;
            text-transform: uppercase;
            color: $dark;
            padding-bottom: 1.7rem;
            margin-bottom: 1.2rem;
            &:not(.np-detail-section__title--no-border) {
                border-bottom: 1px solid #DADADA;
            }
            &--no-border {
                margin-bottom: 1.8rem;
            }
            .btn {
                margin-left: 3rem;
            }
        }
        &__filters {
            margin-top: 6.4rem;
            padding-bottom: 4rem;
            border-bottom: 1px solid #DADADA;
            @media (max-width: $sw-xx-max) {
                margin-top: 3rem;
                padding-bottom: 2rem;
            }
            .form-control-photo-group {
                margin-top: 0;
            }
            &__inner {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-bottom: 2.1rem;
                flex-wrap: wrap;
                @media (max-width: $sw-xx-max) {
                    padding-bottom: 1rem;
                }
                .form-control-group {
                    margin-right: 2.3rem;
                    margin-bottom: 2rem;
                    @media (max-width: $sw-xx-max) {
                        margin-right: 2rem;
                        margin-bottom: 1rem;
                    }
                    &--lg {
                        width: 100%;
                        max-width: 34rem;
                    }
                }
            }
        }
    }
    &-collapse {
        border-bottom: 1px solid #DADADA;
        margin-bottom: 1.2rem;
        &__title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 1.2rem;
        }
        &__lang {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.2rem;
            line-height: 1.16em;
            color: #747474;
            margin-right: 1.5rem;
            min-width: 7.5rem;
            &__text {
                min-width: 4rem;
            }
            &__icon {
                margin-right: 5px;
                width: 2.2rem;
                height: 2.2rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #807F7F;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    width: 1.7rem;
                    height: 1.7rem;
                    border: 1px solid #807F7F;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                .icon {
                    font-size: 1.2rem;
                }
            }
        }
        &__body {
            padding: 9px 0 1.8rem 0;
            &__group {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 2.2rem;
                @media (max-width: $sw-xx-max) {
                    flex-wrap: wrap;
                    margin-bottom: 0;
                }
            }
            &__side {
                width: calc(50% - 2rem);
                @media (max-width: $sw-xs-max) {
                    width: calc(50% - 1rem);
                }
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    margin-bottom: 2rem;
                }
                .form-control-label {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .icon {
                        color: $white;
                        font-size: 1.4rem;
                        margin-right: 4px;
                    }
                }
            }
            textarea.form-control {
                min-height: 12rem;
                width: 100%;
                padding: 1.1rem;
                resize: vertical;
            }
            &__day {
                background-color: $white;
                border: 1px solid #DDDDDD;
                padding-bottom: 2.1rem;
                &__top {
                    height: 5rem;
                    background-color: #F5F5F5;
                    display: flex;
                    justify-content: flex-start;
                    @media (max-width: $sw-xx-max) {
                        height: auto;
                        flex-wrap: wrap;
                    }
                }
                &__name {
                    height: 100%;
                    padding: 0 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    text-align: center;
                    color: $white;
                    font-size: 1.2rem;
                    line-height: 1em;
                    font-weight: 600;
                    background-color: $dark;
                    min-width: 7rem;
                    @media (max-width: $sw-xs-max) {
                        min-width: 6rem;
                        font-size: 1.1rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        height: 4rem;
                        min-width: auto;
                        width: 100%;
                    }
                }
                &__filters {
                    padding: 0 7px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    @media (max-width: $sw-xx-max) {
                        padding: 5px 7px;
                        width: 100%;
                        justify-content: center;
                    }
                    .form-select-group {
                        @media (max-width: 580px) {
                            flex-wrap: wrap;
                            width: 100%;
                        }
                        &__divider {
                            @media (max-width: 580px) {
                                display: none;
                            }
                        }
                        .select-trigger {
                            @media (max-width: 580px) {
                                width: 100%;
                            }
                        }
                    }
                    .form-control-group {
                        @media (max-width: $sw-xx-max) {
                            margin: 5px;
                        }
                        @media (max-width: 580px) {
                            width: 100%;
                        }
                    }
                }
                &__content {
                    padding: 1.9rem;
                    @media (max-width: $sw-xs-max) {
                        padding: 1.5rem;
                    }
                    .form-control-group {
                        margin-bottom: 2rem;
                    }
                    
                }
            }
        }
    }
    &-form {
        &__submit {
            padding: 2rem 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-bottom: 1px solid #DADADA;
            margin-bottom: 4rem;
            margin-top: -4.5rem;
            &--no-border {
                border-bottom: none;
                margin-top: -3.4rem;
            }
            .btn {
                margin-left: 2rem;
                &--green {
                    min-width: 14.5rem;                    
                }
                &--silver {
                    min-width: 13rem;
                }
            }
        }
    }
    &-season {
        background: $white;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        &__header {
            border-radius: 5px 5px 0 0;
            background-color: #F5F5F5;
            padding: 1.5rem 3rem 2.7rem 1.3rem;
            @media (max-width: $sw-xx-max) {
                padding: 1.5rem 2rem;
            }
        }
        &__filters {
            margin-bottom: 1rem;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            @media (max-width: $sw-xx-max) {
                align-items: flex-start;
            }
            @media (max-width: 550px) {
                flex-wrap: wrap;
            }
            &__side {
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                @media (max-width: $sw-xx-max) {
                    width: 50%;
                    flex-wrap: wrap;
                    align-items: flex-start;
                }
                @media (max-width: 550px) {
                    width: 100%;
                }
                .select-wrapper {
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
                .select-trigger {
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
                .form-control-group {
                    position: relative;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
            }
            .btn-copy {
                min-width: auto;
                width: 13.2rem;
                padding: 0 8px 0 1.1rem;
                margin-left: 1rem;
                margin-bottom: 1px;
                text-align: left;
                font-size: 1.2rem;
                @media (max-width: $sw-xx-max) {
                    margin-top: 2.1rem;
                    width: 100%;
                    margin-left: 0;
                }
                @media (max-width: 550px) {
                    margin-top: 1.6rem;
                    max-width: 30rem;
                    margin-left: auto;
                }
            }
            .btn--sm-squared {
                margin-left: 1rem;
                margin-bottom: 1px;
            }
            .btn-save {
                margin-bottom: 3px;
                @media (max-width: $sw-xx-max) {
                    margin-left: auto;
                    margin-top: 2.4rem;
                    margin-bottom: 0;
                    min-width: 12rem;
                }
                @media (max-width: 550px) {
                    margin-top: 1.6rem;
                }
            }
        }
    }
}
.ck-content{
    height: 12rem !important;
    font-size: 1.2rem;
    line-height: 1.4em;
    color: $dark;
}