mixin national-parks-detail(data)
	section.np-detail
		.page-title
			h2 Safari | National Parks
		.section-title
			h3 Add Park
			a.btn.btn--back(href="javascript:void(0)")
				.btn--back__icon
					+svg('icon-collapse')
				span Back
		form.np-detail-form(action="javascript:void(0)")
			.np-detail-section
				.np-detail-section__title
					span 1. Info
				+info-collapse({
					lang: 'English',
					icon: 'icon-gb',
					class: 'is-collapsed',
					btn_class: 'is-active'
				})
				+info-collapse({
					lang: 'Russian',
					icon: 'icon-rus',
					class: '',
					btn_class: ''
				})
				+info-collapse({
					lang: 'Deutch',
					icon: 'icon-deu',
					class: '',
					btn_class: ''
				})
			.np-detail-section
				.np-detail-section__title
					span 2. Safari program
				+program-collapse({
					lang: 'English',
					icon: 'icon-gb',
					class: 'is-collapsed',
					btn_class: 'is-active'
				})
				+program-collapse({
					lang: 'Russian',
					icon: 'icon-rus',
					class: '',
					btn_class: ''
				})
				+program-collapse({
					lang: 'Deutch',
					icon: 'icon-deu',
					class: '',
					btn_class: ''
				})
				.np-detail-section__filters
					.np-detail-section__filters__inner
						.form-control-group
							span.form-control-label Territory
							.select-wrapper
								.select-trigger
									span.select-trigger__name Choose
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner
										.select-option
											span.select-option__name Territory
										.select-option
											span.select-option__name Territory 1
										.select-option
											span.select-option__name Territory 2
										.select-option
											span.select-option__name Territory 3
						.form-control-group
							span.form-control-label Location
							.select-wrapper
								.select-trigger
									span.select-trigger__name Choose
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner
										.select-option
											span.select-option__name Location
										.select-option
											span.select-option__name Location 1
										.select-option
											span.select-option__name Location 2
										.select-option
											span.select-option__name Location 3
						.form-control-group
							span.form-control-label Area
							.select-wrapper
								.select-trigger
									span.select-trigger__name Area 1, Area 2
									span.select-trigger__icon
										+svg('icon-chevron')
								.select-body
									.select-inner
										.select-option.is-selected
											label.form-control-checkbox(for="select_opt_1")
												input#select_opt_1(type="checkbox", checked="")
												span.form-control-checkbox__box
													+svg('icon-check')
												span.select-option__name Area 1
										.select-option.is-selected
											label.form-control-checkbox(for="select_opt_2")
												input#select_opt_2(type="checkbox", checked="")
												span.form-control-checkbox__box
													+svg('icon-check')
												span.select-option__name Area 2
										.select-option
											label.form-control-checkbox(for="select_opt_3")
												input#select_opt_3(type="checkbox")
												span.form-control-checkbox__box
													+svg('icon-check')
												span.select-option__name Area 3
										.select-option
											label.form-control-checkbox(for="select_opt_4")
												input#select_opt_4(type="checkbox")
												span.form-control-checkbox__box
													+svg('icon-check')
												span.select-option__name Area 4
										.select-option
											label.form-control-checkbox(for="select_opt_5")
												input#select_opt_5(type="checkbox")
												span.form-control-checkbox__box
													+svg('icon-check')
												span.select-option__name Area 5
										.select-option
											label.form-control-checkbox(for="select_opt_6")
												input#select_opt_6(type="checkbox")
												span.form-control-checkbox__box
													+svg('icon-check')
												span.select-option__name Area 6
					.form-control-photo-group.form-control-photo-group--squared
						input.input-hidden(type="file", id="photo_load")
						label.form-control-photo(for="photo_load")
							span.form-control-photo__box
						.form-control-photo-content
							.form-control-photo-content__line
								span.form-control-photo-name Photo
							.form-control-photo-content__line
								label.btn.btn--rounded.btn-photo-load(for="photo_load") Add Photo
							.form-control-photo-content__line
								span.form-control-photo-content__size Minimum image size: #[b 1440 x 1080p]
								span.form-control-photo-content__size Max #[b 5 MB]

			.np-detail-section
				.np-detail-section__title.np-detail-section__title--no-border
					span 3. Age settings
				.age-settings
					+age-settings({
						icon: false,
						inners: [
							{text: 'Min Age'}
						]
					})
					+age-settings({
						icon: 'icon-child',
						icon_name: 'Child',
						inners: [
							{text: 'To'}
						]
					})
					+age-settings({
						icon: 'icon-teenager',
						icon_name: 'Teenager',
						inners: [
							{text: 'From'},
							{text: 'To'},
						]
					})
					+age-settings({
						icon: 'icon-adult',
						icon_name: 'Adult',
						inners: [
							{text: 'From'}
						]
					})
			.np-detail-form__submit
				button.btn.btn--silver(type="button") 
					span Delete
				button.btn.btn--green.btn--shadowed(type="button")
					span Save
		.np-detail-section
			.np-detail-section__title.np-detail-section__title--no-border
				span 4. Prices
				button.btn.btn--green(type="button")
					+svg('icon-list')
					span Seasons
			.np-detail-season
				.np-detail-season__header
					.np-detail-season__filters
						.np-detail-season__filters__side
							.form-control-group
								span.form-control-label Choose Season
								.select-wrapper.select-wrapper--xl
									.select-trigger
										span.select-trigger__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
										span.select-trigger__icon
											+svg('icon-chevron')
									.select-body
										.select-inner
											.select-option.is-selected
												span.select-option__name #[b Hot-Hot Season] #[i 01.01.21 - 01.04.21]
											.select-option
												span.select-option__name #[b Hot Season] #[i 01.01.21 - 01.04.21]
											.select-option
												span.select-option__name #[b Cold Season] #[i 01.01.21 - 01.04.21]
											.select-option
												span.select-option__name #[b Cold-Cold Season] #[i 01.01.21 - 01.04.21]
								span.form-control-group__error(title="Sorry, this season is not available because something is wrong") Sorry, this season is not available because something is wrong
							button.btn.btn-copy.btn--green.btn--shadowed(type="button")
								+svg('icon-copy')
								span Copy from another season
							button.btn.btn-copy.btn--green.btn--shadowed(type="button")
								+svg('icon-copy')
								span Copy from another park
						.np-detail-season__filters__side
							button.btn.btn-save.btn--green.btn--sm(type="button")
								span Save
				.np-detail-season__inner
					+season-box-lg({
						class: '',
						group_title_icon: 'icon-car',
						group_title: 'Car & Driver Fees',
						boxes: [
							{
								main: 'Name',
								rows: [
									{badge: 'Up to 2000 kg'},
									{badge: '2001 - 3000 kg'},
								]
							},
							{
								main: 'Name',
								rows: [
									{badge: '3001 - 7000 kg'},
									{badge: 'Above 7000 kg'},
								]
							},
							{
								main: 'Name',
								rows: [
									{badge: 'Driver Fee'},
								]
							}
						]
					})
					+season-box({
						section_title: false,
						boxes: [
							{
								title_icon: 'icon-user',
								title: 'Park Fees EA',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult SA'},
									{badge: 'Teenager SA'},
									{badge: 'Child SA'}
								]
							},
							{
								title_icon: 'icon-user',
								title: 'Park Fees Foreign',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult Foreign'},
									{badge: 'Teenager Foreign'},
									{badge: 'Child Foreign'}
								]
							},
							{
								title_icon: 'icon-user',
								title: 'Park Fees Expat',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult Expat'},
									{badge: 'Teenager Expat'},
									{badge: 'Child Expat'}
								]
							},
						]
					})
					+season-box({
						section_title: true,
						section_title_icon: 'icon-camping',
						section_title_text: 'Camping fees for Foreingers',
						boxes: [
							{
								title_icon: false,
								title: '1. Public Campsite',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '2. Special Campsites',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '3. Public Campsites - Kilimanjaro NP',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '4. Seasonal Campsite (prior booking is required)',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '5. Fly camping in all parks',
								header: true,
								main: '',
								rows: [
									{badge: 'Fly Camping'}
								]
							},
						]
					})
					+season-box({
						section_title: true,
						section_title_icon: 'icon-camping',
						section_title_text: 'Camping fees for Expatriats',
						boxes: [
							{
								title_icon: false,
								title: '1. Public Campsite',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '2. Special Campsites',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '3. Public Campsites - Kilimanjaro NP',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '4. Seasonal Campsite (prior booking is required)',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '5. Fly camping in all parks',
								header: true,
								main: '',
								rows: [
									{badge: 'Fly Camping'}
								]
							},
						]
					})
					+season-box({
						section_title: true,
						section_title_icon: 'icon-camping',
						section_title_text: 'Camping fees for East African',
						boxes: [
							{
								title_icon: false,
								title: '1. Public Campsite',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '2. Special Campsites',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '3. Public Campsites - Kilimanjaro NP',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '4. Seasonal Campsite (prior booking is required)',
								header: true,
								main: 'Age',
								rows: [
									{badge: 'Adult 16+'},
									{badge: 'Teenager 5-16'},
									{badge: 'Child <5'}
								]
							},
							{
								title_icon: false,
								title: '5. Fly camping in all parks',
								header: true,
								main: '',
								rows: [
									{badge: 'Fly Camping'}
								]
							},
						]
					})
					+season-box({
						section_title: true,
						section_title_icon: false,
						section_title_text: 'Other',
						boxes: [
							{
								title_icon: false,
								title: 'Guide/Ranger Service fees',
								header: false,
								main: false,
								rows: [
									{badge: 'Ranger fee per group / mt Meru'},
									{badge: 'Guide fee all parks exc Kilimanjaro'}
								]
							},
							{
								title_icon: false,
								title: 'Walking Safari',
								header: false,
								main: false,
								rows: [
									{badge: 'Short walks <4h for adult'},
									{badge: 'Short walks <4h children <12yo'}
								]
							},
							{
								title_icon: false,
								title: ' ',
								header: false,
								rows: [
									{badge: 'Long walks >4h for adult'},
									{badge: 'Long walks >4h children >12yo'}
								]
							}
						]
					})
					+season-box({
						section_title: false,
						boxes: [
							{
								title_icon: false,
								title: 'Landing Fees: Local Aircrafts',
								header: false,
								main: false,
								rows: [
									{badge: 'Up to 4 seater'},
									{badge: '5 - 12 seater'},
									{badge: '13 - 20 seater'},
									{badge: 'Over 20 seater'}
								]
							},
							{
								title_icon: false,
								title: 'Sport Fishing (Gombe/Mahale/Saadani/Rubondo)',
								header: false,
								main: false,
								rows: [
									{badge: 'Adult > 16yo'},
									{badge: 'Teenager 5-16'},
									{badge: 'Hiring fishing rod (per rod)'}
								]
							},
							{
								title_icon: false,
								title: 'Night Game Drivers',
								header: false,
								rows: [
									{badge: 'Adult'},
									{badge: 'Children'}
								]
							}
						]
					})
					+season-box({
						section_title: false,
						boxes: [
							{
								title_icon: false,
								title: 'Canoeing (mahale/Rubondo) max 3h',
								header: false,
								main: false,
								rows: [
									{badge: 'Per person'}
								]
							}
						]
					})

mixin info-collapse(data)
	.np-detail-collapse.js-collapse(class='' + data.class ? data.class : null)
		.np-detail-collapse__title
			.np-detail-collapse__lang
				.np-detail-collapse__lang__icon
					+svg(data.icon)
				span.np-detail-collapse__lang__text!= data.lang
			button.btn.btn--collapse.js-collapse-trigger(type="button", data-opened="Hide", data-closed="Show", class='' + data.btn_class ? data.btn_class : null)
				.btn--collapse__icon
					+svg('icon-collapse')
		.np-detail-collapse__inner.js-collapse-inner
			.np-detail-collapse__body
				.np-detail-collapse__body__group
					.np-detail-collapse__body__side
						.form-control-group
							span.form-control-label Name
							.form-control-wrap
								input.form-control(type="text", placeholder="Park's name")
				.np-detail-collapse__body__group
					.np-detail-collapse__body__side
						.form-control-group
							span.form-control-label Description
							.form-control-wrap
								.js-ckeditor
					.np-detail-collapse__body__side
						.form-control-group
							span.form-control-label Additional Notes
							.form-control-wrap
								.js-ckeditor

mixin program-collapse(data)
	.np-detail-collapse.js-collapse(class='' + data.class ? data.class : null)
		.np-detail-collapse__title
			.np-detail-collapse__lang
				.np-detail-collapse__lang__icon
					+svg(data.icon)
				span.np-detail-collapse__lang__text!= data.lang
			button.btn.btn--collapse.js-collapse-trigger(type="button", data-opened="Hide", data-closed="Show", class='' + data.btn_class ? data.btn_class : null)
				.btn--collapse__icon
					+svg('icon-collapse')
		.np-detail-collapse__inner.js-collapse-inner
			.np-detail-collapse__body
				.np-detail-collapse__body__day
					.np-detail-collapse__body__day__top
						.np-detail-collapse__body__day__name
							span Day 1
					.np-detail-collapse__body__day__content
						.form-control-group
							span.form-control-label Description
							.form-control-wrap
								.js-ckeditor
						.form-control-group
							span.form-control-label Additional Notes
							.form-control-wrap
								.js-ckeditor
						.form-control-photo-group.form-control-photo-group--squared
							input.input-hidden(type="file", id="photo_load")
							label.form-control-photo(for="photo_load")
								span.form-control-photo__box
							.form-control-photo-content
								.form-control-photo-content__line
									span.form-control-photo-name Photo
								.form-control-photo-content__line
									label.btn.btn--rounded.btn-photo-load(for="photo_load") Add Photo
								.form-control-photo-content__line
									span.form-control-photo-content__size Minimum image size: #[b 1440 x 1080p]
									span.form-control-photo-content__size Max #[b 5 MB]
				.np-detail-collapse__body__day
					.np-detail-collapse__body__day__top
						.np-detail-collapse__body__day__name
							span Day 2
					.np-detail-collapse__body__day__content
						.form-control-group
							span.form-control-label Description
							.form-control-wrap
								.js-ckeditor
						.form-control-group
							span.form-control-label Additional Notes
							.form-control-wrap
								.js-ckeditor
						.form-control-photo-group.form-control-photo-group--squared
							input.input-hidden(type="file", id="photo_load")
							label.form-control-photo(for="photo_load")
								span.form-control-photo__box
							.form-control-photo-content
								.form-control-photo-content__line
									span.form-control-photo-name Photo
								.form-control-photo-content__line
									label.btn.btn--rounded.btn-photo-load(for="photo_load") Add Photo
								.form-control-photo-content__line
									span.form-control-photo-content__size Minimum image size: #[b 1440 x 1080p]
									span.form-control-photo-content__size Max #[b 5 MB]
