mixin geo-location(data)
	section.geo-section.geo-section--location
		.page-title
			h2 Setting & Data | Geo | Location
		.geo-section__add
			.section-title
				h3 Add Location
			form.geo-section__location-form(action="javascript:void(0)")
				.form-control-group
					span.form-control-label Title
					.form-control-wrap
						input.form-control(type="text", Placeholder="Title")
				.form-control-group
					span.form-control-label Territory
					.select-wrapper.select-wrapper
						.select-trigger
							span.select-trigger__name Choose
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner
								.select-option
									span.select-option__name Territory
								.select-option
									span.select-option__name Territory 1
								.select-option
									span.select-option__name Territory 2
								.select-option
									span.select-option__name Territory 3
				.form-control-group
					label.form-control-checkbox(for="chk_1")
						input#chk_1(type="checkbox", checked="")
						span.form-control-checkbox__box
							+svg('icon-check')
						span.form-control-checkbox__name Transfer territorial
				button.btn.btn--green.geo-section__location-form__submit(type="submit") 
					span Add
		.geo-section__location
			.section-title
				h3 Locations
				.form-control-wrap
					input.form-control-search(type="text", placeholder="Search")
					.form-control-icon
						+svg('icon-search')
			.section-table-wrap(data-simplebar)
				.section-table.section-table--geo
					.section-table__head
						.col.col-location
							span Location
						.col.col-territory
							span Territory
						.col.col-transfer-territorial
							span Transfer territorial
						.col.col-added
							span Added
						.col.col-edited
							span Edited
					.section-table__body
						+location-row()
						+location-row()
						+location-row()
						+location-row()
						+location-row()
						
			+pagination()


mixin location-row(data)
	.section-table__row
		.col.col-location
			.section-table__row__number 1
			.section-table__row__name Location title
		.col.col-territory
			span Northern Serengeti
		.col.col-transfer-territorial
			+svg('icon-check')
		.col.col-added
			span 08 Oct 2020
		.col.col-edited
			span 08 Oct 2020
		.col.col-actions
			button.btn.btn--edit(type="button") 
				+svg('icon-edit')
			button.btn.btn--remove(type="button") 
				+svg('icon-close')