.geo-section {
    width: 100%;
    &--location {
        max-width: 76.1rem;
        .page-title {
            margin-bottom: 2.1rem;
        }
        .geo-section__add {
            padding-bottom: 2.1rem;
            @media (max-width: $sw-xs-max) {
                padding-bottom: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                padding-bottom: 5px;
            }
        }
        .section-table--geo {
            @media (max-width: $sw-xx-max) {
                min-width: 65rem;
            }
            .col-location {
                width: 23rem;
                padding-right: 1rem;
                @media (max-width: $sw-sm-max) {
                    width: 18rem;
                }
            }
            .col-territory {
                width: 13.8rem;
                padding-right: 1rem;
                text-align: center;
                justify-content: center;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.16em;
                color: $dark;
                color: #959595;
            }
        }
    }

    // location section
    &__location {
        .section-title {
            margin-bottom: 2rem;
        }
    }
        
    // location form
    &__location-form {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
        .form-control-group {
            @media (max-width: $sw-sm-max) {
                width: calc((100% - 10px) / 4);
            }
            @media (max-width: $sw-xx-max) {
                width: calc(50% - 10px);
                margin-bottom: 1.5rem;
            }
            @media (max-width: 474px) {
                width: 100%;
                margin-bottom: 1.2rem;
            }
            &:first-child {
                width: 25.7rem;
                @media (max-width: $sw-sm-max) {
                    width: calc((100% - 10px) / 4);
                }
                @media (max-width: $sw-xx-max) {
                    width: calc(50% - 10px);
                    margin-bottom: 1.5rem;
                }
                @media (max-width: 474px) {
                    width: 100%;
                    margin-bottom: 1.2rem;
                }
            }
        }
        .select-wrapper {
            @media (max-width: $sw-sm-max) {
                width: 100%;
            }
        }
        .select-trigger {
            @media (max-width: $sw-sm-max) {
                width: 100%;
            }
        }
        .form-control-checkbox {
            min-height: 3.6rem;
            display: flex;
            align-items: center;
        }
        &__submit {
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.5rem;
                margin-left: auto;
            }
            @media (max-width: 474px) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 1.2rem;
            }
        }
    }

     // geo tables
     .section-table--geo {
        .col-transfer-territorial {
            width: 11rem;
            text-align: center;
            justify-content: center;
            padding-right: 1rem;
        }
    }
}