.story-templates {
    width: 100%;
    max-width: 100rem;
    padding: 1rem 0 0 0;
    .page-title {
        margin-bottom: 2.6rem;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
        h2 {
            text-transform: unset;
            margin-bottom: 0;
        }
        &__side {
            margin-top: -4px;
            @media (max-width: $sw-xx-max) {
                margin-top: 1.5rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            @media (max-width: 474px) {
                flex-wrap: wrap;
                margin-top: 1rem;
            }
        }
        .form-control-wrap {
            margin-right: 2.3rem;
            width: 22.6rem;
            @media (max-width: 474px) {
                margin-right: 0;
                margin-bottom: 1.5rem;
                width: 100%;
            }
        }
        .btn {
            min-width: 14.2rem;
            @media (max-width: 474px) {
                min-width: auto;
                width: 100%;
            }
        }
    }

    // table styles
    &__table {
        width: 100%;
        border-radius: 5px;
        padding-bottom: 2rem;
        @media (max-width: $sw-xs-max) {
            min-width: 92rem;
        }
        &__head {
            background-color: #F7F7F7;
            display: flex;
            align-items: center;
            border-radius: 5px 5px 0 0;
            height: 3.6rem;
            padding: 0 1.4rem;
            @media (max-width: $sw-sm-max) {
                padding: 0 8px;
            }
            .col {
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 1em;
                color: #1A1A1A;
            }
        }
        &__row {
            display: flex;
            align-items: center;
            height: 5rem;
            border-right: 1px solid #E3E3E3;                
            border-left: 1px solid #E3E3E3;                
            border-bottom: 1px solid #E3E3E3;                
            background-color: $white;
            padding: 0 6px 0 1.4rem;
            text-decoration: none;
            color: #1A1A1A;
            @media (max-width: $sw-sm-max) {
                padding: 0 6px 0 8px;
            }
            @media (max-width: $sw-xs-max) {
                height: 4.4rem;
            }
            &:last-child {
                border-radius: 0 0 5px 5px;
            }
            .col {
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1em;
                color: #1A1A1A;
                display: flex;
            }
            .col-id, 
            .col-duration, 
            .col-created, 
            .col-last-update {
                color: #606060;
            }
            .col-clients-name {
                justify-content: flex-start;
                text-align: left;
                span {
                    display: block;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .col {
            align-items: center;
            justify-content: center;
            text-align: center;
            &-id {
                width: 4.4rem;
                margin-right: 1.2rem;
            }
            &-clients-name {
                width: 17.5rem;
                margin-right: 1.2rem;
                justify-content: flex-start;
                text-align: left;
                @media (max-width: $sw-sm-max) {
                    width: 16.5rem;
                    margin-right: 1rem;
                }
            }
            &-duration {
                width: 9.1rem;
                margin-right: 2.4rem;
                @media (max-width: $sw-sm-max) {
                    width: 8.5rem;
                    margin-right: 2rem;
                }
            }
            &-created {
                width: 9.1rem;
                margin-right: 3rem;
                @media (max-width: $sw-sm-max) {
                    margin-right: 2.5rem;
                }
            }
            &-created {
                width: 9.1rem;
                margin-right: 3rem;
                @media (max-width: $sw-sm-max) {
                    margin-right: 2.5rem;
                }
            }
            &-last-update {
                width: 9.6rem;
                margin-right: 2.6rem;
            }
            &-pax {
                width: 9.5rem;
                margin-right: 1rem;
            }
            &-persons {
                width: 15.2rem;
                padding: 0 2.2rem;
                position: relative;
                justify-content: space-between;
                @media (max-width: $sw-sm-max) {
                    padding: 0 1.8rem;
                }
                &:before, &:after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 2.6rem;
                    background-color: #C6C6C6;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
                &__box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .icon {
                        margin-right: 5px;
                        &-adult {
                            font-size: 2.3rem;
                            color: #2493D9;
                        }
                        &-teenager {
                            font-size: 1.8rem;
                            color: #69951E;
                        }
                        &-child {
                            font-size: 1.4rem;
                            color: #CD67A1;
                        }
                    }
                    &__count {
                        font-size: 1.2rem;
                        line-height: 1.16em;
                        color: #606060;
                    }
                }
            }
            &-action {
                width: 4rem;
                height: 4rem;
                margin-left: auto;
            }
        }
        &__dropdown-trigger {
            cursor: pointer;
            width: 4rem;
            height: 4rem;
            .icon-more {
                font-size: 1.5rem;
                color: #7C7C7C;
                transition: color .3s ease;
            }
            &:hover {
                @media (min-width: $sw-sm-min) {
                    .icon-more {
                        color: $darkGreen;
                    }
                }
            }
        }
    }
}