mixin story-templates(data)
	section.story-templates
		.page-title
			h2 Make a Story | Templates
			.page-title__side
				.form-control-wrap
					input.form-control-search(type="text", placeholder="Search")
					.form-control-icon
						+svg('icon-search')
				a.btn.btn--green(href="javascript:void(0)") 
					span New Program
		.story-templates__table-wrap(data-simplebar)
			.story-templates__table
				.story-templates__table__head
					.col.col-id
						span ID
					.col.col-clients-name
						span Clientrs Name
					.col.col-duration
						span Duration
					.col.col-created
						span Created
					.col.col-last-update
						span Last Update
					.col.col-pax
						span Pax
				+st-row()
				+st-row()
				+st-row()
				+st-row()
				+st-row()
				+st-row()
				+st-row()
				+st-row()
				+st-row()
				+st-row()
		+pagination()
			
mixin st-row(data)
	.story-templates__table__row
		.col.col-id
			span 1845
		.col.col-clients-name
			span Matthew McConaughey
		.col.col-duration
			span 14 days
		.col.col-created
			span 04 Aug 2020
		.col.col-last-update
			span 04 Aug 2020
		.col.col-pax
			span Total Pax: 6
		.col.col-persons
			.col-persons__box
				+svg('icon-adult')
				span.col-persons__box__count 2
			.col-persons__box
				+svg('icon-teenager')
				span.col-persons__box__count 2
			.col-persons__box
				+svg('icon-child')
				span.col-persons__box__count 2
		.col.col-action
			button.story-templates__table__dropdown-trigger(type="button")
				+svg('icon-more')