.geo-section {
    width: 100%;
    &--territory {
        max-width: 56rem;
        @media (max-width: $sw-xx-max) {
            max-width: 100%;
        }
        .section-table--geo {
            @media (max-width: $sw-xx-max) {
                min-width: 50rem;
            }
        }
    }
    
    // add section
    &__add {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #C1C1C1;
        .section-title {
            margin-bottom: 1.8rem;
        }
    }

    // territory section
    &__territory {
        .section-title {
            margin-bottom: 2rem;
        }
    }

    // geo tables
    .section-table--geo {
        .col-area {
            width: 23.9rem;
            padding-right: 1rem;
            @media (max-width: $sw-xx-max) {
                width: 35%;
                max-width: 25rem;
            }
        }
        .col-added {
            width: 7.6rem;
            text-align: center;
            justify-content: center;
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.18em;
            color: #959595;
            margin-right: 3rem;
        }
        .col-edited {
            width: 7.6rem;
            text-align: center;
            justify-content: center;
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.18em;
            margin-right: 1.5rem;
            color: #959595;
        }
        .col-actions {
            width: 6.3rem;
            display: inline-flex;
            justify-content: flex-end;
            margin-left: auto;
            .btn--edit {
                margin-right: 1.1rem;
            }
        }
        .section-table__row {
            border-left: 3px solid $darkGreen;
            border-top: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            transition-property: border-top-color, border-right-color, border-bottom-color;
            transition-duration: .3s;
            transition-timing-function: ease;
            height: 4rem;
            margin-bottom: 5px;
            padding: 4px 8px 4px 4px;
            &:hover {
                border-top-color: #C6C6C6;
                border-right-color: #C6C6C6;
                border-bottom-color: #C6C6C6;
            }
        }
    }

    // territory form
    &__territory-form {
        display: flex;
        align-items: flex-end;
        @media (max-width: 474px) {
            flex-wrap: wrap;
        }
        .form-control-group {
            width: 100%;
            @media (max-width: $sw-xx-max) {
                max-width: 30rem;
                margin-right: 3rem;
            }
            @media (max-width: 474px) {
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 1.5rem;
            }
        }
        &__submit {
            margin-bottom: 1px;
            margin-left: 2rem;
            flex-shrink: 0;
            @media (max-width: $sw-xx-max) {
                margin-left: auto;
            }
            @media (max-width: 474px) {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}