mixin geo-territory(data)
	section.geo-section.geo-section--territory
		.page-title
			h2 Setting & Data | Geo | Territory
		.geo-section__add
			.section-title
				h3 Add Territory
			form.geo-section__territory-form(action="javascript:void(0)")
				.form-control-group
					span.form-control-label Title
					.form-control-wrap
						input.form-control(type="text", Placeholder="Title")
				button.btn.btn--green.geo-section__territory-form__submit(type="submit") 
					span Add
		.geo-section__territory
			.section-title
				h3 Territories
				.form-control-wrap
					input.form-control-search(type="text", placeholder="Search")
					.form-control-icon
						+svg('icon-search')
			.section-table-wrap(data-simplebar)
				.section-table.section-table--geo
					.section-table__head
						.col.col-area
							span Area
						.col.col-added
							span Added
						.col.col-edited
							span Edited
					.section-table__body
						.section-table__row
							.col.col-area
								.section-table__row__number 1
								.section-table__row__name Tanzania
							.col.col-added
								span 08 Oct 2020
							.col.col-edited
								span 08 Oct 2020
							.col.col-actions
								button.btn.btn--edit(type="button") 
									+svg('icon-edit')
								button.btn.btn--remove(type="button") 
									+svg('icon-close')
						.section-table__row
							.col.col-area
								.section-table__row__number 2
								.section-table__row__name Zanzibar
							.col.col-added
								span 08 Oct 2020
							.col.col-edited
								span 08 Oct 2020
							.col.col-actions
								button.btn.btn--edit(type="button") 
									+svg('icon-edit')
								button.btn.btn--remove(type="button") 
									+svg('icon-close')
						.section-table__row
							.col.col-area
								.section-table__row__number 3
								.section-table__row__name Mafia Island
							.col.col-added
								span 08 Oct 2020
							.col.col-edited
								span 08 Oct 2020
							.col.col-actions
								button.btn.btn--edit(type="button") 
									+svg('icon-edit')
								button.btn.btn--remove(type="button") 
									+svg('icon-close')
						.section-table__row
							.col.col-area
								.section-table__row__number 4
								.section-table__row__name Tanzania
							.col.col-added
								span 08 Oct 2020
							.col.col-edited
								span 08 Oct 2020
							.col.col-actions
								button.btn.btn--edit(type="button") 
									+svg('icon-edit')
								button.btn.btn--remove(type="button") 
									+svg('icon-close')
						.section-table__row
							.col.col-area
								.section-table__row__number 5
								.section-table__row__name Tanzania
							.col.col-added
								span 08 Oct 2020
							.col.col-edited
								span 08 Oct 2020
							.col.col-actions
								button.btn.btn--edit(type="button") 
									+svg('icon-edit')
								button.btn.btn--remove(type="button") 
									+svg('icon-close')
			+pagination()