.domestics {
    .page-title {
        align-items: center;
        margin-bottom: 1.4rem;
        h2 {
            margin-bottom: 0;
        }
        .btn {
            padding: 0 1.2rem;
        }
    }
    &__filters {
        background: $white;
        border: 1px solid #E3E3E3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        margin-bottom: 2.7rem;
        &__section {
            padding: 0 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $sw-sm-max) {
                flex-wrap: wrap;
            }
            @media (max-width: $sw-sm-max) {
                padding: 5px;
            }
            & + .domestics__filters__section {
                border-top: 1px solid #CFCFCF;
            }
            &__col {
                padding: 1rem 5px;
                @media (max-width: $sw-sm-max) {
                    padding: 5px;
                }
                @media (max-width: $sw-sm-max) {
                    width: 50%;
                }
                @media (max-width: $sw-xs-max) {
                    width: 100%;
                }
                .form-control-label-descr {
                    @media (max-width: $sw-xs-max) {
                        min-width: 10rem !important;
                    }
                }
                .form-control-wrap {
                    @media (max-width: $sw-xs-max) {
                        width: 23.2rem !important;
                    }
                }
                .form-control-wrap-labeled {
                    &--lg, &--xs {
                        .form-control-label-descr {
                            @media (max-width: $sw-sm-max) {
                                min-width: 15rem
                            }
                        }
                        .form-control-wrap {
                            @media (max-width: $sw-sm-max) {
                                width: calc(100% - 15rem);                        }
                        }
                    }
                    &--sm {
                        .form-control-wrap {
                            @media (max-width: $sw-sm-max) {
                                width: calc(100% - 6rem);                        }
                        }
                    }
                }
                .btn {
                    @media (max-width: 399px) {
                        min-width: auto;
                        width: 100%;
                    }
                }
            }
            .btn {
                display: flex;
                margin-left: auto;
                padding: 0 1.2rem;
                min-width: 12rem;
            }
        }
        &__side {
            display: flex;
            align-items: center;
            padding: 8px 5px;
            @media (max-width: $sw-sm-max) {
                padding: 5px;
            }
            @media (max-width: 399px) {
                width: 100%;
            }
            &__title {
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 1.2em;
                text-transform: capitalize;
                color: #1A1A1A;
                margin-right: 1.3rem;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.3rem;
                }
            }
            &__text {
                font-size: 1.4rem;
                line-height: 1.2em;
                text-transform: capitalize;
                color: #1A1A1A;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.2rem;
                }
            }
            .btn {
                @media (max-width: 399px) {
                    width: 100%;
                    min-width: auto;
                }
                &--action {
                    min-width: 10rem;
                }
                & + .btn {
                    margin-left: 1rem;
                }
            }
        }
    }

    &__table {

        // table
        &__inner {
            width: 100%;
            border-collapse: separate;
            padding: 0 0 2rem 0;
            border-spacing: 0;
            min-width: 116.8rem;
        }

        thead {
            background-color: #F6F6F6;
            border-radius: 5px;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 0.95em;
            color: #1A1A1A;
        }
        th {
            height: 4rem;
            text-align: center;
        }

        td {
            height: 4rem;
            text-align: center;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.15em;
            color: #1A1A1A;
            border-style: solid;
            border-color: #E3E3E3;
            border-width: 1px 0.5px;
            padding: 0;
            @media (max-width: $sw-sm-max) {
                font-size: 1.1rem;
            }
            &:first-child {
                border-width: 1px 0.5px 1px 1px;
            }
            &:last-child {
                border-width: 1px 1px 1px 0.5px;
            }
            &.domestics__table__comments {
                color: #7B7B7B;
                font-size: 1.1rem;
                line-height: 1.2em;
                font-weight: 400;
            }
            input {
                width: 100%;
                border: 1px solid transparent;
                transition: border-color .3s ease;
                outline: none;
                box-shadow: none;
                height: 100%;
                box-sizing: border-box;
                background-color: transparent;
                text-align: center;
                font-size: 1.2rem;
                color: #1A1A1A;
                &:focus {
                    border-color: #999999;
                }
            }
        }

        tr {
            &.is-checked {
                td {
                    background-color: rgba(179, 238, 78, 0.1);
                    border-color: rgba(99, 154, 5, 0.5);
                    &.domestics__table__comments {
                        background: rgba(179, 238, 78, 0.1);
                    }
                }
            }
        }

        &__checkbox {
            width: 4rem;
            .form-control-checkbox {
                justify-content: center;
                &__box {
                    margin-right: 0;
                }
            }
        }
        &__company {
            width: 8.8rem;
        }
        &__origin {
            width: 10rem;
            padding: 0 1.4rem !important;
            text-align: left !important;
        }
        &__destination {
            width: 10rem;
        }
        &__frequency {
            width: 8rem;
        }
        &__arr, &__dept {
            width: 6rem;
        }
        &__comments {
            text-align: left !important;
            width: 22.7rem;
            padding: 0 1.1rem !important;
        }
        &__person {
            width: 7rem;
            padding: 0 3px;
        }
        &__date {
            width: 9rem;
        }
        &__pax {
            width: 5.1rem;
            padding: 0 3px;
        }
        
    }
}