mixin domestics-table(data)
	section.domestics
		.page-title
			h2 Domestic Flights
			.page-title__side
				a.btn.btn--green(href="javascript:void(0)") 
					span Import from XLS
		.domestics__filters
			.domestics__filters__section
				.domestics__filters__section__col
					.form-control-group
						.form-control-wrap-labeled.form-control-wrap-labeled--lg
							.form-control-label-descr
								span Company
							.form-control-wrap
								input.form-control(type="text", placeholder="Company", value="Flightlink")
				.domestics__filters__section__col
					.form-select-group
						.form-control-group
							.form-control-wrap-labeled.form-control-wrap-labeled--sm
								.form-control-label-descr
									span From
								.form-control-wrap
									input.form-control(type="text", placeholder="Company")
						.form-select-group__divider
							+svg('icon-arrow')
						.form-control-group
							.form-control-wrap-labeled.form-control-wrap-labeled--sm
								.form-control-label-descr
									span To
								.form-control-wrap
									input.form-control(type="text", placeholder="Company")
				.domestics__filters__section__col
					.form-control-group
						.form-control-wrap-labeled.form-control-wrap-labeled--xs
							.form-control-label-descr
								span Valid up to
							.form-control-wrap
								input.form-control.js-datepicker-single(type="text", placeholder="Date")
								.form-control-icon
									+svg('icon-calendar')
				.domestics__filters__section__col
					button.btn.btn--green(type="button") 
						+svg('icon-search')
						span Search
			.domestics__filters__section
				.domestics__filters__side
					span.domestics__filters__side__title Search Results:
					span.domestics__filters__side__text 12 Flights Found
				.domestics__filters__side
					button.btn.btn--silver(type="button")
						span Clear
			.domestics__filters__section
				.domestics__filters__side
					span.domestics__filters__side__title 2 flights selected
				.domestics__filters__side
					button.btn.btn--green.btn--action(type="button")
						+svg('icon-edit')
						span Edit
					button.btn.btn--silver(type="button")
						span Delete
		.domestics__table
			.section-table-wrap(data-simplebar)
				table.domestics__table__inner
					thead
						tr
							th.domestics__table__checkbox
								label.form-control-checkbox(for="chk_1")
									input#chk_1(type="checkbox")
									span.form-control-checkbox__box
										+svg('icon-check')
							th.domestics__table__company
								span Company
							th.domestics__table__origin
								span Origin
							th.domestics__table__destination
								span Destination
							th.domestics__table__frequency
								span Frequency
							th.domestics__table__dept
								span Dept
							th.domestics__table__arr
								span Arr
							th.domestics__table__comments
								span Comments
							th.domestics__table__person
								span Adult #[br] 15 kg
							th.domestics__table__person
								span Child #[br] 15 kg
							th.domestics__table__person
								span Adult #[br] 30 kg
							th.domestics__table__person
								span Child #[br] 30 kg
							th.domestics__table__date
								span Valid up to
							th.domestics__table__pax
								span Min Pax
					tbody
						+tr({id: 'chk1', checked: false})
						+tr({id: 'chk2', checked: false})
						+tr({id: 'chk3', checked: false})
						+tr({id: 'chk4', checked: false})
						+tr({id: 'chk5', checked: false})
						+tr({id: 'chk6', checked: true, class: 'is-checked'})
						+tr({id: 'chk7', checked: false})
						+tr({id: 'chk8', checked: true, class: 'is-checked'})
						+tr({id: 'chk9', checked: false})
						+tr({id: 'chk10', checked: false})
						+tr({id: 'chk11', checked: false})
						+tr({id: 'chk12', checked: false})


mixin tr(data)
	tr(class='' + data.class ? data.class : null)
		td.domestics__table__checkbox
			label.form-control-checkbox(for='' + data.id ? data.id : null)
				input(type="checkbox", id='' + data.id ? data.id : null, checked='' + data.checked ? data.checked : null)
				span.form-control-checkbox__box
					+svg('icon-check')
		td.domestics__table__company
			span Flightlink
		td.domestics__table__origin
			span Arusha
		td.domestics__table__destination
			input(type="text", value="Kilimanjaro")
		td.domestics__table__frequency
			span Wednesday Thursday
		td.domestics__table__dept
			span 12:45
		td.domestics__table__arr
			span 13:00
		td.domestics__table__comments
			p Waits for Caostal from Seregeti and Manyara for Caostal from Seregeti
		td.domestics__table__person
			span 100
		td.domestics__table__person
			span 80
		td.domestics__table__person
			span 120
		td.domestics__table__person
			span 100
		td.domestics__table__date
			input.js-datepicker-single(type="text", value="31 Jan 2021")
		td.domestics__table__pax
			span 2