mixin geo-area(data)
	section.geo-section.geo-section--area
		.page-title
			h2 Setting & Data | Geo | Area
		.geo-section__add
			.section-title
				h3 Add Area
			form.geo-section__area-form(action="javascript:void(0)")
				.form-control-group
					span.form-control-label Title
					.form-control-wrap
						input.form-control(type="text", Placeholder="Title")
				.form-control-group
					span.form-control-label Location
					.select-wrapper.select-wrapper
						.select-trigger
							span.select-trigger__name Choose
							span.select-trigger__icon
								+svg('icon-chevron')
						.select-body
							.select-inner
								.select-option
									span.select-option__name Location
								.select-option
									span.select-option__name Location 1
								.select-option
									span.select-option__name Location 2
								.select-option
									span.select-option__name Location 3
				button.btn.btn--green.geo-section__location-form__submit(type="submit") 
					span Add
		.geo-section__area
			.section-title
				h3 Areas
				.form-control-wrap
					input.form-control-search(type="text", placeholder="Search")
					.form-control-icon
						+svg('icon-search')
			.section-table-wrap(data-simplebar)
				.section-table.section-table--geo
					.section-table__head
						.col.col-area
							span Area
						.col.col-location
							span Location
						.col.col-added
							span Added
						.col.col-edited
							span Edited
					.section-table__body
						+area-row()
						+area-row()
						+area-row()
						+area-row()
						+area-row()
						
			+pagination()


mixin area-row(data)
	.section-table__row
		.col.col-area
			.section-table__row__number 1
			.section-table__row__name Northern Serengeti
		.col.col-location
			span Location
		.col.col-added
			span 08 Oct 2020
		.col.col-edited
			span 08 Oct 2020
		.col.col-actions
			button.btn.btn--edit(type="button") 
				+svg('icon-edit')
			button.btn.btn--remove(type="button") 
				+svg('icon-close')