.geo-section {
    width: 100%;
    &--area {
        max-width: 67rem;
        @media (max-width: $sw-xs-max) {
            max-width: 100%;
        }
        .page-title {
            margin-bottom: 2.1rem;
        }
        .geo-section__add {
            padding-bottom: 2.1rem;
            @media (max-width: $sw-xs-max) {
                padding-bottom: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                padding-bottom: 5px;
            }
        }
        .section-table--geo {
            @media (max-width: $sw-xx-max) {
                min-width: 65rem;
            }
            .col-area {
                width: 22rem;
                padding-right: 1rem;
            }
            .col-location {
                width: 14.6rem;
                padding-right: 1rem;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.16em;
                color: #959595;
            }
        }
    }

    // area section
    &__area {
        .section-title {
            margin-bottom: 2rem;
        }
    }
        
    // area form
    &__area-form {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
        .form-control-group {
            @media (max-width: $sw-sm-max) {
                width: 40%;
            }
            @media (max-width: $sw-xx-max) {
                width: calc(50% - 10px);
                margin-bottom: 1.5rem;
            }
            @media (max-width: 474px) {
                width: 100%;
                margin-bottom: 1.2rem;
            }
            &:first-child {
                width: 30.8rem;
                @media (max-width: $sw-sm-max) {
                    width: 25rem;
                }
                @media (max-width: $sw-xx-max) {
                    width: calc(50% - 10px);
                    margin-bottom: 1.5rem;
                }
                @media (max-width: 474px) {
                    width: 100%;
                    margin-bottom: 1.2rem;
                }
            }
        }
        .select-wrapper {
            @media (max-width: $sw-sm-max) {
                width: 100%;
            }
        }
        .select-trigger {
            @media (max-width: $sw-sm-max) {
                width: 100%;
            }
        }
        &__submit {
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.5rem;
                margin-left: auto;
            }
            @media (max-width: 474px) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 1.2rem;
            }
        }
    }

     // geo tables
     .section-table--geo {
        
    }
}